.board-view {
    margin-top: 68px;
    margin-bottom: 180px;
}

.board-view .title {
    border-top: 2px solid #9b8b7e;
    border-bottom: 1px solid #b4b4b4;
    overflow: hidden;
    padding: 0 25px;
    letter-spacing: -1px;
}

.board-view .title p {
    height: 55px;
    line-height: 55px;
}

.board-view .title .subject {
    float: left;
    font-weight: bold;
}

.board-view .title .date {
    float: right;
    color: #434343;
}

.board-view .appendix {
    height: 55px;
    line-height: 55px;
    padding: 0 25px;
    color: #434343;
    border-bottom: 1px solid #dddddd;
    display: none;
}

.board-view .contents {
    min-height: 110px;
    /* border-bottom: 1px solid #ddd; */
    padding: 10px;
    padding-bottom: 30px;
}

.board-view .button {
    /* margin-top: 48px; */
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    letter-spacing: -1px;
}

.board-view .button li {
    height: 50px;
    line-height: 50px;
}

.board-view .button li {
    border-bottom: 1px solid #ddd;
}

.board-view .button li span:first-child {
    width: 181px;
    color: #424242;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #ddd;
    font-weight: bold;
}

.board-view .button .con {
    padding-left: 30px;
    color: #424242;
    font-weight: bold;
}

.board-view .button i {
    width: 8px;
    height: 9px;
    display: inline-block;
    margin-right: 14px;
    vertical-align: 2px;
}

.board-view .button i.next-icon {
    background: url(../../images/sub/board/icon08.png) no-repeat;
}

.board-view .button i.prev-icon {
    background: url(../../images/sub/board/icon09.png) no-repeat;
}

.board-view .list {
    margin-top: 51px;
    text-align: center;
}

.board-view .list a {
    width: 126px;
    height: 50px;
    display: inline-block;
    background: #9b8b7e;
    line-height: 50px;
    text-align: center;
    color: #fff;

}

.download-appendix {
    margin-bottom: 30px;
}

.download-appendix li {
    height: 30px;

}

.download-appendix li a {
    color: #222;
    position: relative;
    display: block;
    height: 100%;
    line-height: 30px;
    padding-left: 30px;
}

.download-appendix li a:before {
    position: absolute;
    background: url(../../images/sub/board/appendix.png) center;
    display: block;
    width: 14px;
    height: 30px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    left: 7px;
}

@media screen and (max-width: 1300px) {
    .board-view .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 640px) {
    .board-view .button li span {
        float: left;
    }
    .board-view .button li span:first-child {
        width: 30%;
        box-sizing: border-box;
    }
    .board-view .button .con {
        width: 70%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        white-space: nowrap;
    }
}

@media screen and (max-width: 500px) {
    .board-view .button li span:first-child {
        /* width: 100px; */
    }
    .board-view .contents img {
        max-width: 100%;
    }
    .board-view .contents a {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;;
    }
    .board-view .title {
        display: flex;
        padding: 0px 10px;
    }
    .board-view .title .subject {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        display: inline-block;
        font-size: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .board-view .title .date {
        width: 80px;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .board-view .button .con {
        padding-left: 20px;
    }
}