.agreement {
    margin-top: 83px;
}

.agreement > div {
    overflow: hidden;
}

.agreement h3 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-left: 13px;
    margin-bottom: 21px;
    letter-spacing: -1px;
}

.agreement h3:before {
    width: 4px;
    height: 4px;
    background: #111;
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
}

.agreement h3 + div {
    width: 100%;
    border: 1px solid #e4e4e4;
    height: 250px;
    margin-bottom: 30px;
    box-sizing: border-box;
    line-height: 1.7;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.radio-box {
    display: inline-block;
    float: right;
}

.agreement label {
    color: #7e7e7e;
    margin-left: 42px;
    cursor: pointer;
}

.privacy {
    margin-top: 10px;
}

.short-input {
    width: 230px;
}

select {
    height: 46px;
    border: 1px solid #d9d9d9;
}

.table li .label {
    letter-spacing: -1px;
}

.table .input {
    letter-spacing: -1px;
}

textarea {
    width: 100%;
    height: 315px;
    resize: none;
    border: 1px solid #d9d9d9;
}

.contents-con .input {
    width: 100%;
    position: absolute;
    padding-left: 186px;
    box-sizing: border-box;
    padding-right: 10px;
}

.contents-con {
    position: relative;
    height: 339px;
}

.appendix-con button {
    width: 106px;
    height: 45px;
    border: none;
    background: #9b8b7e;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

.appendix-con input {
    width: 280px;
}

.button-box {
    margin-top: 73px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 120px;
}

.button-box button, .button-box a {
    width: 126px;
    height: 50px;
    border: none;
    color: #fff;
    margin: 0 2px;
    background: #a2a2a2;
    font-size: 14px;
    display: inline-block;
    line-height: 50px;
    float: left;
    cursor: pointer;
}

.button-box button.left-button {
    background: #9b8b7e;
}

.button-box > div {
    display: inline-block;
}

.filename {
    width: 280px;
    height: 46px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    line-height: 44px;
    padding-left: 10px;
}

@media screen and (max-width: 1300px) {
    form .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .agreement {
        padding: 0 30px;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 950px) {
    .table .input {
        padding-left: 140px;
    }
    .table .long-input {
        box-sizing: border-box;
    }
    .table li strong {
        width: 110px;
    }
}

@media screen and (max-width: 950px) {
    .table .phone-con span, .table .email-con span {
        width: 27.33333333333%;
        margin-left: 6%;
    }
    .table span.mail {
        margin-left: 7%;
    }
}

@media screen and (max-width: 600px) {
    .appendix-con button {
        margin-left: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width: 520px) {
    .agreement label {
        display: block;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 414px) {
    .filename {
        width: 100%;
    }
    form .max-layout-width {
        padding: 0 20px;
    }
    .table li strong {
        width: 50px;
        font-size: 14px;
        letter-spacing: -1px;
    }
    .table .input {
        padding-left: 75px;
    }
    .table span.mail {
        margin-left: 10%;
    }
    .table .phone-con span {
        width: 27.33333333333%;
        margin-left: 8%;
    }
    .appendix-con .input {
        padding-right: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 375px) {
    .agreement h3 {
        font-size: 18px;
    }
    .agreement h3 + div {
        width: 100%;
        border: 1px solid #e4e4e4;
        height: 250px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    .filename {
        width: 250px;
        height: 40px;
        border: 1px solid #d9d9d9;
        display: inline-block;
        float: left;
        box-sizing: border-box;
        line-height: 44px;
        padding-left: 10px;
    }
    .button-box {
        margin-top: 29px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 120px;
    }
    .button-box button, .button-box a {
        width: 91px;
        height: 39px;
        border: none;
        color: #fff;
        margin: 0 2px;
        background: #a2a2a2;
        font-size: 14px;
        display: inline-block;
        line-height: 39px;
        float: left;
        cursor: pointer;
        letter-spacing: -1px;
    }
    .appendix-con button {
        width: 91px;
        height: 39px;
        border: none;
        background: #9b8b7e;
        color: #fff;
        /* margin-left: 5px; */
        cursor: pointer;
        letter-spacing: -1px;
        font-size: 14px;
        margin-top: 9px;
    }
    .agreement label {
        display: block;
        letter-spacing: -1px;
        font-size: 14px;
    }
    .agreement {
        padding: 0 0px;
        box-sizing: border-box;
        margin-top: 42px;
    }
}