.gallery-list .gallery li h5 {
    width: 220px;
    margin: 32px auto 0;
    height: 56px;
    line-height: 1.4;
    word-break: keep-all;
}

.gallery-list .gallery li h7 {
    color: #939393;
    margin-top: 13px;
    display: block;
    font-family: gmarket !important;
    font-size: 14px;
}

.tab {
    overflow: hidden;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 65px;
}

.tab li {
    width: 33.3333333333%;
    padding: 0 2px;
    box-sizing: border-box;
    float: left;
    height: 63px;
    line-height: 63px;
    text-align: center;
}

.tab li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #dfdfdf;
    color: #a8a8a8;
    font-size: 18px;
}

.tab li a.active {
    background: #9b8b7e;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .gallery-list .gallery li h5 {
        width: 100%;
        height: 2.7em;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width: 415px) {
    .tab li a {
        font-size:14px;
        letter-spacing:-1px;
    }
    .tab li a.active {
        background: #9b8b7e;
        color: #fff;
        font-size:14px;
        letter-spacing:-1px;
    }
    .tab li {
        width: 33.33333333%;
        padding: 0 2px;
        box-sizing: border-box;
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
    }
    .tab {
        overflow: hidden;
        margin-left: -2px;
        margin-right: -2px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 375px) {
    .tab li a {
        font-size:14px;
        letter-spacing:-1px;
    }
    .tab li a.active {
        background: #9b8b7e;
        color: #fff;
        font-size:14px;
        letter-spacing:-1px;
    }
    .tab li {
        width: 33.33333333333%;
        padding: 0 2px;
        box-sizing: border-box;
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
    }
    .tab {
        overflow: hidden;
        margin-left: -2px;
        margin-right: -2px;
        margin-top: 45px;
    }
}