.status {
    min-width: 111px;
    height: 38px;
    background: #9b8b7e;
    display: inline-block;
    line-height: 37px;
    color: #fff;
    font-size: 15px;
}

.paging {
    position: relative;
}

.paging .write-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 126px;
    height: 49px;
    background: #9b8b7e;
    text-align: center;
    line-height: 49px;
    color: #fff;
    cursor: pointer;
}

.lock-icon {
    width: 13px;
    height: 16px;
    background: url(../../images/sub/board/icon02.png);
    display: inline-block;
    margin-left: 15px;
    vertical-align: -1px;
}

@media screen and (max-width: 1300px) {
    .board-list table td:nth-child(2),
    .board-list table th:nth-child(2) {
        width: 100px;
    }
    .board-list table td:nth-child(4),
    .board-list table th:nth-child(4) {
        width: 100px;
    }
    .board-list table td:nth-child(5),
    .board-list table th:nth-child(5) {
        width: 100px;
    }
    .board-list table td:nth-child(6),
    .board-list table th:nth-child(6) {
        width: 100px;
    }
    td {
        font-size: 14px;
    }
}


@media screen and (max-width: 640px) {
    .paging .write-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 95px;
    height: 40px;
    background: #9b8b7e;
    text-align: center;
    line-height: 38px;
    color: #fff;
    cursor: pointer;
    letter-spacing: -1px;
    font-size: 14px;
}

    .board-list table td:nth-child(2),
    .board-list table th:nth-child(2) {
        width: 70px;
    }
    .board-list table td:nth-child(1),
    .board-list table th:nth-child(1),
    .board-list table td:nth-child(5),
    .board-list table th:nth-child(5) {
        display: none;
    }
    span.status {
        width: 70px;
        min-width: 70px;
        font-size: 10px;
    }
    .board-list .max-layout-width {
        padding: 0 10px;
    }
    .paging .write-btn {
        top: 52px;
    }
}