.gallery-list .gallery li div.contents {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-cpamp: 1;
    -webkit-box-orient: vertical;
    color: #8d8d8d;
    font-size: 14px;
    padding: 0 20px;
    word-break: keep-all;
}

.gallery-list .gallery .img-box {
    height: 200px;
}

.paging {
    position: relative;
}

.paging .write-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 126px;
    height: 49px;
    background: #9b8b7e;
    text-align: center;
    line-height: 49px;
    color: #fff;
    cursor: pointer;
}

.gallery-list .gallery li div.contents img {
    display: none;
}


@media screen and (max-width: 375px) {
    .paging .write-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 95px;
        height: 40px;
        background: #9b8b7e;
        text-align: center;
        line-height: 38px;
        color: #fff;
        cursor: pointer;
        letter-spacing: -1px;
        font-size: 14px;
    }

}