.table {
    margin-top: 85px;
    border-top: 2px solid #838383;
}

.table li {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}

.table li .label {
    float: left;
}

.table li strong {
    width: 166px;
    display: block;
    padding: 25px 0 0 21px;
    font-size: 16px;
}

.table input {
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    outline: none;
    font-size: 20px;
}

.table .active {
    position: relative;
}

.table label.active:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 27px;
    background: url(../../images/cmmn/check.png);
    display: block;
    left: 25px;
    top: 11px;
    background-size: contain;
    background-repeat: no-repeat;
}

.table label.active:checked:after {
    opacity: 1;
}

.table .input {
    padding: 12px 0;
}

.table .input p {
    margin-top: 14px;
}

.table .id-con input {
    max-width: 250px;
    width: 100%;
    margin-right: 11px;
}

.table .id-con .input > div {
    overflow: hidden;
}

.table .id-con button, .table .id-con input {
    float: left;
}

.table .id-con button {
    height: 46px;
    border: none;
    box-sizing: border-box;
    background: #717171;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
}

.table .long-input {
    max-width: 735px;
    width: 100%;
}

.table .add-text .label {
    padding-bottom: 34px;
}

.table .phone-con span, .table .email-con span {
    width: 31.333333%;
    float: left;
    box-sizing: border-box;
    margin-left: 3%;
    position: relative;
}

.table .phone-con span:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    background: #b3b3b3;
    left: -15px;
    top: 20px;
}

.table .phone-con span:first-child, .table .email-con span:first-child {
    margin-left: 0;
}

.table .phone-con span input, .table .email-con span input {
    width: 100%;
}

.table .input-box {
    max-width: 735px;
    width: 100%;
    float: left;
}

.table .email-con select {
    width: 100%;
    height: 46px;
    border: 1px solid #d9d9d9
}

.phone-con .input > div, .email-con .input > div {
    overflow: hidden;
}

.table span.mail {
    margin-left: 4%;
}

.table span.mail:before {
    content: '@';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -23px;
    top: 14px;
    color: #b4b4b4;
}

.table .mail + span {
    margin-left: 2%;
}

.table label {
    line-height: 40px;
    padding: 3px 0;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    float: left;
    box-sizing: border-box;
}

.table label:before {
    width: 16px;
    height: 16px;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 25px;
    top: 16px;
}

.table label:hover:before {
    border-color: #111;
}

@media screen and (max-width: 1300px) {
    .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 950px) {
    .table .input {
        padding-left: 140px;
    }
    .table .long-input {
        box-sizing: border-box;
    }
    .table li strong {
        width: 110px;
    }
    .table .phone-con span, .table .email-con span {
        width: 27.33333333333%;
        margin-left: 6%;
    }
    .table span.mail {
        margin-left: 7%;
    }
}

@media screen and (max-width: 600px) {
    .appendix-con button {
        margin-left: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width: 584px) {
    .table .input p {
        word-break: keep-all;
        line-height: 1.3;
    }
    .table .id-con button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 520px) {
    .agreement label {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 414px) {

    .filename {
        width: 100%;
    }
    form .max-layout-width {
        padding: 0 20px;
    }
    .table li strong {
        width: 50px;
        font-size: 13px;
        padding-left: 10;
    }
    .table .input {
        padding-left: 75px;
    }
    .table span.mail {
        margin-left: 10%;
    }
    .table .phone-con span {
        width: 27.33333333333%;
        margin-left: 8%;
    }
    .appendix-con .input {
        padding-right: 10px;
        box-sizing: border-box;
    }
}
