@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/caveat/caveat-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Caveat Regular'), local('Caveat-Regular'),
    url('../../fonts/caveat/caveat-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/caveat/caveat-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/caveat/caveat-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/caveat/caveat-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/caveat/caveat-v8-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}

section {
    position: relative;
}

.section01 {
    margin-top: 67px;
}

.section01 .img01 {
    width: 53%;
    max-width: 1281px;
    height: 537px;
    top: 0;
    right: 7.85%;
}

.section01 .img01 .img {
    background: url(../../images/sub/info/competitiveness/compet01.jpg) no-repeat center;
}

.section01 .text:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ebebeb;
}

.section01 .text {
    padding-top: 138px;
    padding-left: 30px;
    box-sizing: border-box;
}

.section01 .text h6 {
    margin-bottom: 32px;
    font-size: 52px;
    color: #9b8b7e;
    font-family: Caveat !important;
    opacity: 0.2;
    font-weight: 800;
}

.section01 .text h6 + div:before {
    position: absolute;
    content: '';
    left: -31px;
    top: 1px;
    width: 3px;
    height: 100%;
    background: #7e6956;
}


.list-img {
    width: 100%;
    height: 121px;
}

.list-img1 {
    background: url(../../images/sub/info/competitiveness/compet_icon01.png) no-repeat center;
}

.list-img2 {
    background: url(../../images/sub/info/competitiveness/compet_icon02.png) no-repeat center;
}

.list-img3 {
    background: url(../../images/sub/info/competitiveness/compet_icon03.png) no-repeat center;
}

.list-img4 {
    background: url(../../images/sub/info/competitiveness/compet_icon04.png) no-repeat center;
}

.list {
    background: #9b8b7e;
    margin-top: 104px;
    position: relative;
}

.list ul {
    display: inline-block;
    height: 205px;
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
}

.list li {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}

.list li p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    letter-spacing: -1px;
}

.list li + li:after {
    position: absolute;
    content: '';
    left: 0;
    top: -12px;
    width: 1px;
    height: 205px;
    background: #fff;
}

.section02 {
    margin-top: 103px;
    padding-bottom: 32px;
}

.section02 .max-layout-width > div:first-child {
    padding-left: 116px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.section02 .max-layout-width > div:first-child > .float-left:first-child {
    padding-top: 84px;
}

.section02 .max-layout-width > div:first-child:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 952px;
    height: 502px;
    background: url(../../images/sub/info/competitiveness/compet02.png) no-repeat;
}

.section02 .img02 {
    max-width: 561px;
    width: 100%;
}

.section02 .section-text {
    margin-top: 46px;
    width: 460px;
    letter-spacing: -1px;
}

.section02 span.detail {
    font-weight: bold;
    margin-top: 56px;
    display: inline-block;
    position: relative;
}

.section02 span.detail a {
    color: #4f4f4f;
    letter-spacing: -1px;
}

.section02 span.detail:after {
    background: url(../../images/sub/info/intro/icon_go.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -36px;
    bottom: -2px;
    content: '';
    display: none;
}

.section02 .img01 {
    position: absolute;
    max-width: 952px;
    height: 502px;
    left: 11.44444%;
    bottom: 90px;
    width: 40.1756%;
}

.section02 .img01 .img {
    background: url(../../images/sub/info/competitiveness/compet03.jpg) no-repeat center;
}

.section02 .default-background {
    height: 543px;
    background: #f1f1f1;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.section03 {
    margin-top: 107px;
    padding-bottom: 126px;
    background: #1f2742;
    color: #fff;
    padding-top: 130px;
    margin-bottom: 125px;
}

.move-title {
    margin-bottom: 91px;
}

.section03 .text {
    width: 674px;
}

.section03 .text .section-text {
    width: 650px;
    word-break: keep-all;
    margin-bottom: 70px;
    letter-spacing: -1px;
    color: #fff;
}

.section03 .img-box {
    float: left;
}

.section03 .img-box .img {
    width: 307px;
    height: 195px;
}

.section03 .img-box:first-child {
    margin-right: 50px;
}

.section03 .img01 {
    background: url(../../images/sub/info/competitiveness/compet05.jpg);
}

.section03 .img02 {
    background: url(../../images/sub/info/competitiveness/compet06.jpg);
}

.section03 .img-box span {
    margin-top: 36px;
    font-size: 19px;
    display: block;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 400;
}

.section03 .image_box_right {
    max-width: 1208px;
    width: 47.3333%;
    height: 582px;
}

.section03 .image_box_right .img {
    background: url(../../images/sub/info/competitiveness/compet07.jpg) no-repeat top center;
    background-size: cover;
}

.section04 {
    padding: 92px 0 84px 0;
    background: url(../../images/sub/info/competitiveness/compet08.jpg) no-repeat center top fixed;
    background-size: cover;
}

.section04 .contents {
    text-align: center;
}

.section04 .section-sub-title {
    font-size: 24px;
    color: #fff;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
}

.section04 .section-sub-title:after {
    content: '';
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 3px;
    background: #ec6806;
    left: 0;
}

.default-tab {
    margin-top: 60px;
}

.tab-contents {
    height: 0;
    font-size: 40px;
    line-height: 1.4;
    opacity: 0;
    transition: none;
    color: #fff;
    letter-spacing: -2px;
    font-family: KCC !important;
}

.tab-contents.active {
    height: auto;
    opacity: 1;
    transition: opacity .55s linear;
}

.tabs {
    margin-top: 72px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}

.tab {
    float: left;
    width: 33.333333333%;
    position: relative;
    font-size: 18px;
    color: #fff;
    opacity: .5;
    height: 40px;
    transition: opacity .3s;
    cursor: pointer;
    letter-spacing: -1px;
}

.tab.active, .tab:hover {
    opacity: 1;
}

.tab:after {
    content: "";
    display: block;
    right: 0;
    bottom: -1px;
    left: 0;
    background: #ec6806;
    width: 0%;
    height: 2px;
    z-index: 2;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.tab.active:after {
    width: 100%;
}

.sub-text {
    margin-top: 72px;
    color: #fff;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: -1px;
}

.section05 {
    padding-bottom: 247px;
}

.section05 .text {
    padding-left: 52.507%;
    margin-top: 119px;
    width: 560px;
    word-break: keep-all;
    padding-top: 102px;
}

.section05 .text p span {
    font-weight: bold;
}

.section05 .text .detail {
    font-weight: bold;
    margin-top: 54px;
    display: inline-block;
    position: relative;
}

.section05 .text .detail a {
    color: #4f4f4f;
    letter-spacing: -1px;
}

.section05 .img01 {
    max-width: 1241px;
    width: 48.6285%;
    height: 390px;
}

.section05 .img01 .img {
    background: url(../../images/sub/info/competitiveness/compet09.jpg) no-repeat top center;
}

.section05 .img02 {
    width: 250px;
    height: 351px;
    top: 182px;
    right: 60px;
    left: auto;
}

.section05 .img02:after {
    content: '';
    position: absolute;
    width: 111px;
    height: 3px;
    background: #7e6954;
    right: -113px;
    top: -37px;
}

.section05 .img02 .img {
    background: url(../../images/sub/info/competitiveness/compet10.jpg) no-repeat top center;
}



.section-title {
    line-height: 1.2;
    /* letter-spacing: -1.8px; */
    /* padding-bottom: 21px; */
}

.section03 .move-title {
    margin-bottom: 40px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: Caveat !important;
    opacity: 0.1;
}

.detail:after {
    display: none;
}

.section-text {
    line-height: 24px;
}

@media screen and (max-width: 1300px) {
    .section03 .text .section-text {
        width: 100%;
        padding-right: 30px;
    }
    .section03 .text {
        width: 50%;
    }
    .section03 .img-box {
        width: 48%;
        margin-left: 2%;
        margin-right: 0 !important;
    }
    .section03 .max-layout-width {
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }
    .section03 .full-layout-width {
        margin-left: -2%;
    }
}

@media screen and (max-width: 1208px) {
    .section03 .img-box .img {
        width: 100%
    }
    .section03 .image_box_right {
        width: 100%;
        top: 420px;
        height: 370px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section03 .full-layout-width {
        margin-top: 460px;
        width: auto;
        display: block;
        overflow: hidden;
    }
    .section03 .text {
        width: 100%;
        box-sizing: border-box;
    }
    .section05 .text {
        width: 40%;
    }
}

@media screen and (max-width: 1100px) {
    .section02 .img02 {
        width: 100%;
        max-width: 50%;
    }
    .section02 .section-text {
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
        word-break: keep-all;
    }
    .section02 .max-layout-width > div:first-child {
        padding-left: 50px;
    }
    .section02 .section-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 700px) {
    .section05 {
        padding-bottom: 21px;
        margin-top: -67px;
    }
    .section05 .img02:after {
        display: none;
    }
    .section05 .text {
        width: 100%;
        padding: 0 30px;
        padding-top: 410px;
        box-sizing: border-box;
    }
    .section05 .img01 {
        width: 100%;
        height: 316px;
    }
    .section05 .img02 {
        left: 10px;
        top: 80px;
    }
    .section04 .sub-text {
        padding: 0px 30px;
        box-sizing: border-box;
        word-break: keep-all;
        font-size: 14px;
        margin-top: 43px;
    }
    .section04 .sub-text br {
        display: none;
    }
    .section03 .image_box_right {
        top: 380px;
    }
    .section03 {
        margin-top: 300px;
        padding-top: 70px;
        margin-bottom: 53px;
    }
    .section02 .max-layout-width > div:first-child {
        padding: 0 30px;
    }
    .section02 .img01 .img {
        height: 390px;
    }
    .section02 .max-layout-width > div:first-child {
        height: 1230px;
    }
    .section02 .default-background {
        display: none;
    }
    .section02 .max-layout-width > div:first-child:before {
        left: 30px;
    }
    .section02 .max-layout-width > div:first-child > .float-left:first-child {
        float: none;
        padding-left: 30px;
        padding-right: 30px;
        word-break: keep-all;
    }
    .section02 .section-title br {
        display: none;
    }
    .section02 .img01 {
        top: 200px;
        width: 100%;
        left: 0;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section02 .img02 {
        width: 100%;
        max-width: 100%;
        float: none;
        height: 530px;
        position: absolute;
        top: 620px;
        padding-right: 30px;
        box-sizing: border-box;
    }
    .section02 .img02 .img {
        height: auto;
        overflow: hidden;
        padding-right: 30px;
        box-sizing: border-box;
    }
    .section02 .img02 .img img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 640px) {
    .tabs {
    margin-top: 45px;
}

    .tab {
    font-size: 16px;
}


    .default-tab {
    margin-top: 40px;
}

    .tab-contents {
    height: 0;
    font-size: 28px;
    /* line-height: 1.4; */
    opacity: 0;
    transition: none;
    color: #fff;
    letter-spacing: -2px;
    font-family: KCC !important;
}


    .section04 .section-sub-title {
    font-size: 19px;

}

    .section04 {
    padding: 79px 0 70px 0;
}

    .section-title {
    line-height: 1.2;
    /* letter-spacing: -1.8px; */
    /* padding-bottom: 21px; */
    font-size: 28px;
}

    .section03 .move-title {
    margin-bottom: 17px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: Caveat !important;
    opacity: 0.1;
    font-size: 38px;
    margin-top: -17px;
    line-height: 1.1;
}
    .section02 {
    margin-top: 20px;
    padding-bottom: 32px;
}
.section01 {
    margin-top: 40px;
}
    .section03 .image_box_right {
        top: 347px;
    }
    .section01 .img01 {
        width: 100%;
        left: 0;
        height: 256px;
    }
    .section01 .text h6 {
        display: none;
    }
    .section01 .text {
        padding-top: 291px;
    }
    .section01 .section-title {
        padding: 0px 21px;
    }
    .section01 .text h6 + div:before {
        left: 0;
    }
    .section01 .list{
        margin-top: 18px;
        padding: 0 0px;
        background: none;
    }
    .list li {
        width: 50%;
        height: 50%;
        box-sizing: border-box;
        background: #9b8b7e;
        display: block;
    }
    .list li:nth-child(2n)  {
        border-left: 1px solid #c6c6c6;
    }
    .list li:nth-child(1), .list li:nth-child(2) {
        border-bottom: 1px solid #c6c6c6;
    }
    .list ul {
        overflow:hidden;
        height: 411px;
    }
    .list li + li:after {
        display: none;
    }
}

@media screen and (max-width: 534px) {
    .section03 .full-layout-width {
        margin-top: 442px;
    }
    .section03 .img-box span {
        font-size: 15px;
    }
    .section03 .text .section-text {
        font-size: 14px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 414px) {
    
    .section03 .img-box .img {
        height: 135px;
    }
    .section03 {
        padding-bottom: 50px;
    }
    .section03 .full-layout-width {
        margin-top: 230px;
    }
    .section03 .image_box_right {
        height: 172px;
        top: 302px;
    }
    .section03 .image_box_right .img, .section03 .img-box .img {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .section02 .max-layout-width > div:first-child {
        height: 760px;
    }
    .section02 .section-text {
        margin-top: 9px;
        line-height: 1.6;
    }
    .section02 .img01 .img {
        background-size: contain;
        height: 187px;
    }
    .list li p {
        font-size: 14px;
        margin-bottom: -3px;
    }
    .list-img {
        height: 108px;
        width: 100px;
        background-size: contain;
        margin: 0 auto;
    }
    .section01 .section-title {
        font-size: 28px;
        word-break: keep-all;
    }
    .section01 .section-title br {
        display: none;
    }
    .list li:first-child {
        border-top: none;
    }
    .list li {
        height: 165px;
        border-top: 1px solid #c6c6c6 !important;
    }
    .list ul {
        height: auto;
    }
    .section02 .img01 {
        top: 260px;
        height: 187px;
    }
    .section02 .img02 {
        top: 470px;
    }
    .section03 .img-box {
        margin-left: 0;
        margin-bottom: 30px;
        width: 48%;
        margin-left: 2%;
    }
    .section03 .img-box span {
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .section03 .full-layout-width {
        margin-top: 426px;
    }

    .section03 .section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .section03 .img-box .img {
        height: 120px;
    }
    .section03 {
        padding-bottom: 50px;
    }
    .section03 .full-layout-width {
        margin-top: 190px;
    }
    .section03 .image_box_right {
        height: 152px;
    }
    .section02 .img01 {
        top: 260px;
        height: 159px;
    }
    .section02 .img02 {
        top: 460px;
    }
    .section02 .max-layout-width > div:first-child {
        height: 700px;
    }
}

@media screen and (max-width: 360px) {
    .section03 .img-box span {
        font-size: 13px;
    }
    .section03 .img-box .img {
        height: 115px;
    }
    .section03 {
        padding-bottom: 50px;
    }
    .section03 .full-layout-width {
        margin-top: 180px;
    }
    .section03 .image_box_right {
        height: 145px;
    }
    .section02 .img01 {
        top: 260px;
        height: 159px;
    }
    .section02 .img02 {
        top: 440px;
    }
    .section02 .max-layout-width > div:first-child {
        height: 680px;
    }
}