.section01 {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 66px;
    margin-bottom: 129px;
}

.section01 .bx-wrapper .bx-viewport {
    /*padding-left: 75px;*/
    /*padding-bottom: 64px;*/
}

.section01 .slider {
    height: auto;
    overflow: hidden;
}

.section01 .swiper-slide {
    width: 440px;
    display: inline-block;
    height: 503px;
}

.section01 .slider .text h5 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 28px;
}

.section01 .slider .text p {
    font-size: 21px;
    line-height: 1.4;
    color: #fff;
}

.section01 .slider-container > div {
    float: right;
}

.section01 .bx-pager-item {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    outline: none;
}

.section01 .slider-pagenation .bx-pager-item span:first-child {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    line-height: 40px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: unset;
    font-size: 15px;
    font-weight: 600;
    font-family: gmarket !important;
}

.section01 .slider-pagenation .bx-pager-item span {
    color: #222;
    float: left;
    font-weight: bold;
}

.section01 .slider-pagenation .bx-pager-item .label {
    font-size: 15px;
    padding: 13px 50px 13px 0;
    position: relative;
    letter-spacing: -1.5px;
}

.slick-slide img.display-none {
    display: none;
}

.section01 .slider-pagenation .slick-active .bx-pager-item .label:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
}

.section01 .slider-container > div.slider-box {
    width: 62%;
    float: right;
    padding-left: 41px;
    padding-bottom: 63px;
    position: relative;
    height: 503px;
}

.section01 .swiper-slide {
    opacity: 0.5;
}

.section01 .slick-active .swiper-slide {
    opacity: 1;
}

.section01 .text-box {
    width: 427px;
    height: 225px;
    background: #333;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    padding: 57px 0 0 36px;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: -1px;
}

.section01 .text-box h2 {
    font-size: 29px;
    margin-bottom: 25px;
}

.section01 .text-box p {
    line-height: 1.5;
    font-size: 23px;
}

.section01 .slider-container {
    overflow: hidden;
}

.section01 .slider-pagenation .slick-active .bx-pager-item span:first-child {
    background: #000;
    color: #fff;
}

.section01 .slider-pagenation {
    margin-right: 61px;
}

.section01 .max-layout-width {
    position: relative;
}

.section01 .pager {
    position: absolute;
    right: 255px;
    bottom: 8px;
}

.section01 .pager span {
    float: left;
    font-family: gmarket !important;
}

.section01 .pager span.current {
    margin-top: -10px;
    font-size: 34px;
    font-weight: bold;
}

.section01 .pager span.max {
    font-size: 23px;
}

.section01 .slick-slider .slick-list {
    transform: translate3d(-742px, 0, 0);
    width: 2000px;
}

.section01 .slick-slide {
    margin-right: 41px;
    outline: none;
}

.section01 .slick-dots {
    width: auto;
    position: relative;
}

.section01 .slick-dots li {
    width: auto;
    height: auto;
    display: block;
}

.section02 {
    padding: 32px 0;
    background: #f1f1f1;
}

.section02 .cont1 .big-img {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device01_img02.png);
}

.section02 .cont3 .big-img {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device02_img02.png);
}

.section02 .cont1 .small-img1 {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device01_img03.jpg);
}

.section02 .cont1 .small-img2 {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device01_img04.jpg);
}

.section02 .cont3 .small-img1 {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device02_img03.jpg);
}

.section02 .cont3 .small-img2 {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device02_img04.jpg);
}

.section02 .text {
    padding-left: 860px;
    padding-top: 50px;
}

.section02 .text p {
    line-height: 1.6;
    margin-bottom: 25px;
    word-break: keep-all;
}

.section02 .img {
    position: absolute;
    height: 461px;
}

.section02 .img > div {
    float: left;
}

.section02 .big-img {
    width: 354px;
    height: 461px;
    margin-right: 33px;
    margin-top: 51px;
    margin-left: 63px;
}

.section02 .small-img div {
    width: 354px;
    height: 278px;
}

.section02 .small-img1 {
    margin-bottom: 20px;
}

.section02 .max-layout-width > div {
    position: relative;
    height: 576px;
    display: none;
    opacity: 0;
    transition: opacity 200ms linear 100ms;
}

.section02 .max-layout-width > div.active {
    display: block;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}


.section03 {
    padding-top: 127px;
    padding-bottom: 122px;
    overflow: hidden;
    background: #F5F5F6;
    margin-top: -17px;
}

.section03 .title {
    padding-left: 72px;
    position: relative;
    font-size: 13px;
    color: #222;
    margin-bottom: 75px;
    display: inline-block;
    letter-spacing: 1.4px;
}

.section03 .title:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background: #7e6956;
    left: 0;
    top: 7px;
}

.section03 .section-title {
    line-height: 1.2;
    letter-spacing: -3px;
}

.section03 .section-text {
    line-height: 1.5;
    margin-top: 11px;
    position: relative;
    width: 340px;
    word-break: keep-all;
    letter-spacing: -1px;
}

.section03 .section-text:after {
    position: absolute;
    content: '';
    width: 211px;
    height: 3px;
    background: #7e6956;
    left: 0;
    bottom: -135px;
}

.section03 .image_box_left {
    /* max-width: 1048px; */
    width: 100%;
    height: 420px;
    top: 0;
    right: 0;
    margin-left: 210px;
}

.section03 .img {
    background: url(../../images/sub/info/diagnosticEquipmentSystem/device_bottom.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 100px;
    width: 49.8%;
    height: 350px;
}


.section03 .bg {
    /* background: #f5f5f5; */
    /* top: -20px; */
    /* width: 50%; */
    /* height: 507px; */
}

.section03 .max-layout-width {
    padding-left: 920px;
    box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
    .section03 .title {
        margin-left: 320px !important;
    }
    .section03 .title:before {
        left: inherit;
        right: 210px;
    }
    .section03 .max-layout-width {
        padding-left: 0;
    }
    .section03 .max-layout-width > * {
        padding-left: 50%;
        margin-left: 230px;
    }
    .section03 .section-text:after {
        right: 130px;
        left: inherit;
    }
}

@media screen and (max-width: 1200px) {
    .section01 .text-box {
        width: 327px;
        height: 170px;
        padding: 29px 0 0 30px;
    }

    .section01 .pager {
        right: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .section03 .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section03 .max-layout-width > * {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
    .section03 .image_box_left {
        top: 300px;
    }
    .section03 .section-text:after {
        display: none;
    }
    .section03 .title {
        margin-left: 75px !important;
        margin-bottom: 30px;
    }
    .section03 .title:before {
        left: -75px;;
    }
    .section03 .section-title-color + br {
        display: none;
    }
    .section03 .section-text {
        width: 300px;
        word-break: keep-all
    }
    .section03 .image_box_left {
        margin-left: 30px;
    }
    .section03 .bg {
        left: 0;
        width: 100%;
        height: 325px;
    }
    .section03 .img {
        width: 91%;
        margin: 0 30px;
        box-sizing: border-box;
        height: 325px;
    }
    .section03 {
        padding-bottom: 500px;
        background: #f1f1f1;
        padding-top: 60px;
    }
}

@media screen and (max-width: 938px) {
    .section01 .slider-container > div.slider-box {
        width: 50%;
    }

    .section01 .text-box {
        width: 250px;
        height: 150px;
        padding: 55px 0 0 36px;
    }
    .section01 .text-box h2 {
        font-size: 22px;
    }
    .section01 .text-box p {
        font-size: 17px;
    }
    .section01 .pager span.current {
        font-size: 27px;
    }
    .section01 .pager span.max {
        font-size: 20px;
    }
}

@media screen and (max-width: 730px) {
    .section01 .slider-container > div.slider-box {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {

    .section03 .img {
        width: 100%;
        margin: 0 -30px;
        box-sizing: border-box;
        height: 210px;
        margin-top: -93px;
    }
    .section01 {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin-top: 39px;
        margin-bottom: 58px;
    }

    .section01 .slider, .section01 .slick-slider .slick-list {
        width: 100%;
        height: 452px;
        overflow: initial;
    }
    .section01 .slider-container > div.slider-box {
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        overflow: i;
    }
    .section01 .swiper-slide {
        height: 452px;
        width: 100%;
        opacity: 1;
    }
    .section01 .text-box {
        width: 92%;
        left: 4%;
        height: 215px;
        bottom: -90px;
    }
    .section01 .pager {
        bottom: 401px;
        z-index: 100;
    }
    .section01 .text-box h2 {
        font-size: 29px;
    }
    .section01 .text-box p {
        font-size: 14px;
    }
    .section01 .pager span {
        color: #fff;
    }
    .section01 .slider-pagenation {
        margin-right: 0;
        float: none !important;
        margin-top: 590px;
        padding-left: 4%;
    }
    .section01 .slick-dots {
        padding-bottom: 25px;
    }
    .slick-dots li {
        margin-left: 0;
        height: 41px !important;
    }
    .section01 .slick-slide {
        width: 100%;
    }
    .section01 .slider {
        overflow: hidden;
    }

    .section01 .slider-pagenation .bx-pager-item span:first-child {
        width: 43px;
        height: 35px;
        margin-right: 14px;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: unset;
        font-size: 14px;
        font-weight: 600;
        font-family: gmarket !important;
    }

    .section01 .bx-pager-item {
        display: block;
        overflow: hidden;
        margin-bottom: 1px;
        outline: none;
    }

    .section03 {
        padding-bottom: 360px;
        background: #f1f1f1;
        padding-top: 57px;
    }

    .section03 .bg {
        left: 0;
        width: 100%;
        height: 226px;
    }

    .section03 .section-text {
        margin-top: -2px;
    }

}

@media screen and (max-width: 640px)  {
    .section03 .section-title-color + br {
        display: block;
    }
    .section03 .image_box_left {
        top: 296px;
    }
}

@media screen and (max-width: 414px) {
    .section03 .img {
        width: 100%;
        margin: 0 -30px;
        box-sizing: border-box;
        height: 210px;
        margin-top: -93px;
    }
    .section01 .slick-slider .slick-list {
        transform: none;
    }
    .section01 .slick-slide {
        margin-right: 0;
    }
    .section03 .section-text {
        font-size: 14px;
    }
    .section03 .max-layout-width > h2 {
        font-size: 28px;
    }
    .section01 .text-box {
        padding-top: 30px;
        height: 138px;
        bottom: -30px;
    }
    .section01 .text-box h2 {
        font-size: 22px;
        margin-bottom: 17px;
    }
    .section01 .slider-pagenation {
        margin-top: 398px;
    }
    .section01 .slider-container > div.slider-box {
        height: auto;
    }
    .section01 .slick-slide {
        height: auto;
    }
    .section01 .swiper-slide {
        height: auto;
    }
    .section01 .slider, .section01 .slick-slider .slick-list {
        height: auto;
    }
    .slick-slide img.display-none {
        display: block;
        width: 100%;
    }
    .section01 .swiper-slide {
        background: none !important;
        height: auto;
    }
}


@media screen and (max-width: 375px) {
    .section01 .slider-pagenation {
        margin-top: 371px;
    }
    .section03 .img {
        width: 100%;
        margin: 0 -30px;
        box-sizing: border-box;
        height: 210px;
        margin-top: -93px;
    }
}