.section01 {
    margin-top: 66px;
}

#map {
    width: 100%;
    height: 581px;
}

.section02 {
    background: #f5f5f5;
    padding-bottom: 81px;
    padding-top: 98px;
}

.location-color {
    color: #7e6956;
}

.time {
    line-height: 1.7;
}

.time strong {
    font-weight: bold;
}

.logo {
    margin-right: 258px;
}

.location p {
    font-size: 16px;
    color: #222;
    letter-spacing: -1px;
}

.location h2 {
    font-size: 26px;
    color: #222;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 11px;
}

.location .info {
    padding-left: 20px;
    position: relative;
    line-height: 1.6;
    margin-bottom: 22px;
    letter-spacing: -1px;
}

.location .info:before {
    content: '※';
    position: absolute;
    left: 0px;
    top: 0;
    width: 20px;
    height: 20px;
}

.section03 {
    width: 100%;
    height: 613px;
}

.section03 .bg {
    width: 100%;
    height: 100%;
    padding-top: 93px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1000000000;
    position: relative;
    background: url(../../images/sub/info/directions/location_bg.jpg) center top no-repeat fixed;
}

.section03 .bg h2 {
    font-size: 37px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -1px;
}

.location-bg {
    background: url(../../images/sub/info/directions/location01.png) center top no-repeat;
    height: 357px;
    background-size: contain;
    margin-top: 32px;
}

.section04 {
    padding-top: 123px;
    padding-bottom: 120px;
}

.section04 ul {
    display: inline-block;
    width: 100%;
}


.section04 li {
    position: relative;
    float: left;
    width: 33.3333333%;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    height: 259px;
    border-left: none;
    text-align: center;
    padding-top: 41px;
}


.section04 li:first-child {
    border-left: 1px solid #d4d4d4;
}

.section04 li h2 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 21px;
    letter-spacing: -2px;
}

.section04 li p {
    font-size: 16px;
    color: #646665;
    line-height: 1.5;
    letter-spacing: -1px;
    width: 310px;
    margin: 0 auto;
    word-break: keep-all;
}

.section04 li p strong {
    font-weight: 500;
    color: #222;
}

li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 108px;
    height: 97px;
}

.section04 .max-layout-width {
    width: 1300px;
}

.section04 .title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 42px;
    position: relative;
    letter-spacing: -2px;
}

.section04 .title:before {
    position: absolute;
    content: '';
    width: 55px;
    height: 35px;
    background: url(../../images/sub/info/directions/icon.png);
    margin-left: -74px;
}

.section02 .max-layout-width {
    text-align: center;
}

.section02 .max-layout-width > div {
    text-align: left;
}

.mobile-location-bg {
    display: none;
}

@media screen and (max-width: 1300px) {
    .section04 .max-layout-width {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        padding-bottom: 67px;
    }
}

@media screen and (max-width: 1000px) {
    .section03 .bg {
        padding-bottom: 75px;
    }
    .logo {
        display: none;
    }
    .section04 li {
        width: 100%;
        border: none;
        border-top: 1px solid #d4d4d4;
        height: 211px;
        padding-top: 33px;
        margin-bottom: -20px;
    }
    .section04 ul {
        border: 1px solid #d4d4d4;
    }
    .section04 li:first-child {
        border: none;
    }
    .location-bg {
        display: none;
    }
    .mobile-location-bg {
        display: block;
        margin-top: 29px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .mobile-location-bg img {
        width: 100%;
    }
    .section03 {
        height: auto;
    }
}

@media screen and (max-width: 640px) {
    .section03 .bg {
        background-attachment: inherit;
        background-size: cover;
    }

    .section04 li p {
        font-size: 14px;
    }


    #map {
        height: 265px;
    }
    .section04 .title {
        padding-left: 70px;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .location {
        float: none;
    }
    .section02 .max-layout-width > div {
        display: block;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .location p {
        line-height: 1.5;
        word-break: keep-all;
        font-size: 14px;
    }
    .section01 {
        margin-top: 41px;
    }

    .section02 {
        background: #f5f5f5;
        padding-bottom: 53px;
        padding-top: 60px;
    }

    .section03 .bg h2 {
        font-size: 28px;
    }


    .section03 .bg {
        padding-bottom: 62px;
        padding-top: 71px;
    }


    .section04 {
        padding-top: 59px;
        padding-top: 51px;
        padding-bottom: 52px;
    }

    .section04 li h2 {
        font-size: 24px;
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 17px;
        letter-spacing: -2px;
    }
    .section03 {
        width: 100%;
        height: 378px;
    }

}

@media screen and (max-width: 380px) {
    .section04 li p {
        font-size: 14px;
        width: 90%;
    }
    .section04 li {
        width: 100%;
        border: none;
        border-top: 1px solid #d4d4d4;
        height: 211px;
        padding-top: 33px;
        margin-bottom: 0px;
    }
}



