@font-face {
    font-family: 'ramaraja';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/ramaraja/Ramaraja-Regular.woff') format('woff') /* Modern Browsers */
}


section {
    position: relative;
}

.section01 {
    /* margin-top: 65px; */
}

.section01, .section01 .max-layout-width {
    position: relative;
}

.section01 {
    background: url(../../images/sub/info/intro/intro01.jpg) no-repeat center;
    color: #fff;
    height: 749px;
    margin-top: 63px;
}

.section01 .img01 {
    width: 41.3401%;
    max-width: 1055px;
    height: 473px;
    bottom: 0;
}

.section01 .img02 {
    max-width: 662px;
    width: 50%;
    height: 749px;
}

.section01 .text-box {
    padding-left: 55.5%;
}

.section01 .img01 .img {
    background: url(../../images/sub/info/intro/intro_bg.jpg);
}

.section01 .img02 .img {
    background: url(../../images/sub/info/intro/intro01.jpg) no-repeat center;
}

.section01 .text-box {
    padding-top: 101px;
    position: relative;
}

.section01 .text-box h2 + p {
    margin-top: 87px;
    padding-bottom: 70px;
    font-weight: 300;
}

.last-section-text {
    margin-top: 42px;
    padding-bottom: 341px;
    letter-spacing: -1px;
}

.last-section-title {
    position: relative;
}

.section01 .last-section-title:after {
    position: absolute;
    content: '';
    left: 0;
    width: 634px;
    height: 3px;
    background: #ab9e95;
    bottom: -58px;
    left: -151px;
}

.move-title {
    font-size: 67px;
    line-height: 80px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 108px;
    bottom: 0;
    letter-spacing: 2px;
}

.skrollable {
    position: absolute;
}

.link {
    color: #4f4f4f;
    position: relative;
    margin-bottom: 32px;
    display: inline-block;
    letter-spacing: -1.3px;
}

.link:after {
    background: url(../../images/sub/info/intro/icon_go.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -36px;
    bottom: -2px;
    content: '';
    display: none;
}

.section02 {
    margin-top: 71px;
}

.section02 .img01 {
    width: 47.3354%;
    max-width: 1208px;
    height: 500px;
    top: 0;
}

.section02 .img {
    background: url(../../images/sub/info/intro/intro02.jpg) no-repeat top center;
}

.section02 .section-text {
    width: 720px;
    padding-right: 111px;
    box-sizing: border-box;
}

.section02 .text-box h2 + p {
    margin-top: 25px;
    margin-bottom: 66px;
    letter-spacing: -1.3px;
}

.section02 .text-box, .section04 .text-box {
    padding-top: 24px;
}

.section02 .move-title, .section04 .move-title {
    top: 27;
    margin-bottom: 30px;
    padding-top: 74px;
}

.section02 .section-text span {
    font-weight: bold;
}

.section03, .section04 {
    margin-top: 0px;
}

.section03 .img01 {
    width: 46.1598%;
    max-width: 1178px;
    height: 500px;
    top: 0;
}

.section03 {
    margin-top: 65px;
}

.section03 .img {
    background: url(../../images/sub/info/intro/intro03.jpg) no-repeat top center;
}

.section03 .text-box {
    padding-left: 50%;
    padding-top: 20px;
}

.section03 .move-title {
    top: 27px;
    margin-bottom: 30px;
    padding-top: 75px;
}

.section03 .section-text {
    width: 620px;
    letter-spacing: -1.3px;
}

.section03 .link {
    margin-top: 48px;
    margin-bottom: 141px;
}

.section04 .section-text {
    width: 620px;
    letter-spacing: -1.3px;
}

.section04 .link {
    margin-top: 60px;
    margin-bottom: 141px;
}

.section04 .img01 {
    width: 47.3354%;
    max-width: 1208px;
    height: 500px;
    top: 0;
}

.section04 .img {
    background: url(../../images/sub/info/intro/intro04.jpg) no-repeat top center;
}

.section05 {
    margin-top: 2px;
    padding-top: 96px;
    padding-bottom: 90px;
    background: #1f2742;
}

.container {
    width: 1206px;
    margin: 0 auto;
}

.section05 .container > p {
    text-align: center;
}

.section05 .container p {
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -1px;
    /* margin-top: 6px; */
    padding-bottom: 9px;
    font-weight: 400;
}

.section05 .container p + h2 {
    margin-top: 16px;
    margin-bottom: 44px;
    text-align: center;
}

.section05 ul {
    width: 100%;
    position: relative;
    margin-left: -2%;
}

.section05 ul:before {
    content: '';
    height: 100%;
    width: 4px;
    background: #7e6956;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.section05 ul li {
    float: left;
    width: 31.33333%;
    margin-left: 2%;
}

.image-container {
    text-align: center;
}

.image-container h5 {
    font-size: 43px;

    margin-top: 33px;
    letter-spacing: -1px;
    /* font-weight: 700; */
    color: #9b8a80;
    font-family: ramaraja !important;
}

.image-container h5 span {
    font-family: gmarket !important;
    font-size: 43px;
    font-weight: 600;
    /* padding-bottom: 10px; */
}

.image-container p {
    font-size: 27px;
    margin-top: 9px;
}

.section05 .image-container li > div {
    overflow: hidden;
    height: 275px;
}

.section05 .image-container li .img_bg {
    transition: transform 0.6s, -webkit-transform 0.6s
}

.section05 .image-container li .img_bg:hover {
    transform: scale(1.05, 1.05) rotate(0.001deg)
}

.img_bg {
    width: 100%;
    height: 100%;
}

.img_bg1 {
    background: url(../../images/sub/info/intro/misowon01.jpg) no-repeat;
}

.img_bg2 {
    background: url(../../images/sub/info/intro/misowon02.jpg) no-repeat;
}

.img_bg3 {
    background: url(../../images/sub/info/intro/misowon03.jpg) no-repeat;
}

.img_bg4 {
    background: url(../../images/sub/info/intro/misowon04.jpg) no-repeat;
}

.img_bg5 {
    background: url(../../images/sub/info/intro/misowon05.jpg) no-repeat;
}

.img_bg6 {
    background: url(../../images/sub/info/intro/misowon06.jpg) no-repeat;
}

.img-bg-box {
    margin-top: 58px;
}

.section06 {
    margin-top: 110px;
}

.section06 .text > div.img_bg {
    width: 100%;
    height: 473px;
    background: url('../../images/sub/info/intro/intro05.jpg') no-repeat center;
    margin-top: 51px;
}

.section06 .text > div {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.section06 .text > div:first-child {
    text-align: right;
    padding-right: 32px;
    position: relative;
}

.section06 .text > div:first-child h2 {
    padding: 9px 0;
    margin: 0;
    padding-top: 27px;
    font-weight: 500;
}

.section06 .text > div:first-child:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #7e6956;
    right: -3px;
    top: 15px;
}

.last-text {
    padding-left: 51px;
    box-sizing: border-box;
}

.section06 .section-text {
    margin-top: 35px;
    letter-spacing: -1.3px;
}

.section06 .bg {
    width: 50%;
    height: 626px;
    position: absolute;
    background: #9b8b7e;
    top: 197px;
}

.section06 .bg:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 308px;
    background: #ebebeb;
    top: -278px;
    right: -1px;
}

.section06 .max-layout-width {
    position: relative;
    z-index: 4;
    padding-bottom: 204px;
}


.section-title {
    line-height: 1.25;
    /* letter-spacing: -1.8px; */
}

.section06 .display-inline-block {
    width: 100%;
}

.section01 .section-title {
    color: #fff;
}

.section01 p {
    color: #fff;
}

.section05 .section-title {
    text-align: center;
    margin-bottom: 54px;
    position: relative;
}

.section05 .section-title:before {
    content: '';
    position: absolute;
    width: 75px;
    height: 66px;
    background: url(../../images/sub/info/intro/intro_icon01.png);
    margin-left: -90px;
    margin-top: -14px;
}

.section05 {
    color: #fff;
}

.section05 .section-title-color {
    color: #fff;
    font-weight: 500;
}

.section05 .section-title strong {
    color: #fff;
    font-weight: 100;
}

.section02 .move-title {
    margin-bottom: 30px;
}

.section01 .move-title {
    opacity: 0.1;
}

@media screen and (max-width: 1300px) {
    .section02, .section04, .section03 {
        padding: 0 30px;
    }
    .section02 .section-text, .section04 .section-text  {
        width: 50%;
        padding-right: 0;
        word-break: keep-all;
    }
    .section03 .section-text {
        width: 90%;
        padding-right: 0;
        word-break: keep-all;
    }
    .section06 .section-text {
        padding-right: 30px;
        word-break: keep-all;
        margin-top: 1px;
    }
    .section06 .section-title {
        word-break: keep-all;
    }
}

@media screen and (max-width: 1154px) {
    .image-container {
        /* padding: 0 30px; */
        box-sizing: border-box;
    }
    .section01 .section-title br {
        display: none;
    }

    .section01 .section-title  {
        word-break: keep-all;
        padding-right: 30px;
    }
    .section05 ul {
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        margin-left: 0;
        padding: 0 5px;
        box-sizing: border-box;
    }
    .section05 ul li {
        width: 33.33333333333%;
        margin-left: 0;
        padding: 0px 9px;
        box-sizing: border-box;
    }
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 888px) {
    .section01 .text-box h2 + p br {
        display: none;
    }
    .section01 .text-box h2 + p {
        word-break: keep-all;
        padding-right: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:834px) {
    .section01 {
        height: 800px;
        background-size: cover;
    }
    .section02 .move-title, .section04 .move-title, .section03 .move-title {
        display: none;
    }
    .section02 .img01, .section04 .img01, .section03 .img01 {
        width: 100%;
        height: 270px;
    }
    .section02 .text-box, .section04 .text-box, .section03 .text-box {
        padding-top: 312px;
    }
    .section02 .section-title, .section04 .section-title, .section03 .section-title {
        width: 100%;
        font-size: 28px;
    }
    .section02 .text-box h2 + p, .section04 .text-box h2 + p {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 19px;
    }
    .section03 .text-box {
        padding-left: 0;
    }
}

@media screen and (max-width:640px) {
    .section06 {
        margin-top: 31px;
    }

    .section03{
        margin-top: 0px;
        margin-bottom: -126px;
    }
    .section02 {
        margin-top: 0px;
    }
    .section01  {
        background: url(../../images/sub/info/intro/intro01_m.jpg) no-repeat top;
    }
    .section06 .text > div:first-child .section-title {
        font-size: 28px;
    }
    .section06 .max-layout-width {
        padding-bottom: 73px;
    }
    .last-text {
        margin-top: 384px;
        padding-left: 30px;
    }
    .section06 .text > div.img_bg {
        position: absolute;
        top: 69px;
        height: 294px;
        width: 100%;
    }
    .section06 .bg {
        display: none;
    }
    .section06 .text > div:first-child {
        text-align: center;
        padding-right: 0;
    }
    .section06 .text > div:first-child:after {
        bottom: -9px;
        left: 50%;
        width: 45px;
        height: 5px;
        top: auto;
        margin-left: -28px;
    }
    .section06 .text > div {
        float: none;
        width: 100%;
        /* padding-left: 30px; */
    }
    .section01 .text-box {
        padding-left: 0;
        padding: 0 30px;
        padding-top: 84px;
        background: #9a8b7e;
    }
    .section01 .section-title {

        font-size: 28px;

        margin-top: -33px;

    }
    .section01 .max-layout-width {
        padding-top: 339px;
    }
    .section01 .last-section-title:after {
        display: none;
    }
    .section01 .text-box h2 + p {
        margin-top: 5px;
        padding-bottom: 51px;
        line-height: 1.5;
    }
    .section01 .move-title {
        display: none;
    }

    .section01 {
        height: auto;
        margin-top: 38px;
    }
    .section02 .section-title {
        font-size: 28px;
    }
    .section05 ul li {
        width: 50%;
        margin-bottom: 50px;
    }
    .img-bg-box {
        margin-top: 0;
    }
}

@media screen and (max-width:518px) {
    .section05 {
        padding-bottom: 27px;
        margin-top: -158px;
        padding-top: 69px;
    }
    .image-container h5 span {
        font-size: 30px;
    }
    .section05 .container p {
        font-size: 16px;
        margin-top: 14px;
    }
    .image-container h5 {
        font-size: 37px;
    }
    .section05 .image-container li > div {
        height: 138px;
    }
    .section05 .image-container li .img_bg {
        background-size: contain;
    }
}

@media screen and (max-width:414px) {
    .section06 .text > div {
        margin-top: 110px;
    }
    .section03 .img01,
    .section04 .img01 {
        height: 155px;
    }
    .section02 .text-box,
    .section03 .text-box,
    .section04 .text-box {
        padding-top: 180px;
    }
    .section02 .img01 {
        height: 155px;
    }
    .section03 .img {
        background-size: cover;
    }
    .section02 .img {
        background-size: cover;
    }
    .section04 .img {
        background-size: cover;
    }
    .section06 .text > div.img_bg {
        background-size: cover;
        height: 147px;
    }
    .section-title {
        font-size: 28px;
    }

    .section05 ul li {
        margin-bottom: 45px;
    }
    .image-container h5 {
        margin-top: 2px;
        font-size:30px;

    }
    #contents {
        overflow: hidden;
    }
    .section05 .section-title:before {
        width: 56px;
        height: 56px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -70px;
        top: 6px;
    }
    .section05 .section-title {
        font-size: 28px;
        margin-right: -84px;
        margin-bottom: 36px;
    }
    .section05 .image-container li > div {
        /* height: 106px; */
    }
}

@media screen and (max-width:375px) {

    h2.section-title.last-section-title{
        font-size:28px;
    }

    h2.section-title.last-section-title{

    }

    .section05 .image-container li > div {
        height: 113px;
    }
    .image-container h5 span {
        font-size: 28px;
    }
    .section05 .container p {
        font-size: 14px;
        margin-top: 7px;
    }
    .image-container h5 {
        font-size: 29px;
        margin-top: 19px;
    }
    .section05 ul li {
        margin-bottom: 35px;
    }
}

@media screen and (max-width:360px) {
    .section05 .image-container li > div {
        height: 89px;
    }
}