.tab {
    width: 100%;
    margin: 68px 0;
    border: 1px solid #ddd;
}

.tab li {
    width: 50%;
    float: left;
    background: #fff;
    color: #373330;
    padding: 18px 0px;
    font-size: 18px;
    text-align: center;
    line-height: 16px;
    letter-spacing: -1px;
    /* margin-bottom: 2px; */
}

.tab li.active {
    background: #373330;
    color: #fff;
}

.tab-contents {
    display: none;
    opacity: 0;
}

.tab-contents.active {
    display: block;
    opacity: 1;
}

.tab-contents .max-layout-width {
    text-align: center;
    letter-spacing: -1.8px;
}

.small-line {
    margin-top: 32px;
    margin-bottom: 53px;
    width: 99px;
    height: 3px;
    display: inline-block;
}

.img-box ul {
    margin-left: -1%;
    overflow: hidden;
}

.img-box li {
    width: 32.33333333333333333%;
    margin-left: 1%;
    height: 218px;
    float: left;
    display: inline-block;
}

.img01 {
    background: url(../../images/sub/info/staff/doctor01.jpg) no-repeat center;
}

.img02 {
    background: url(../../images/sub/info/staff/doctor02.jpg) no-repeat center;
}

.img03 {
    background: url(../../images/sub/info/staff/doctor03.jpg) no-repeat center;
}

.doctor-dec {
    margin-top: 70px;
    margin-bottom: 18px;
    font-size: 18px;
    color: #a2a2a2;
    text-align: center;
    letter-spacing: -1px;
}

.doctor-title {
    font-size: 34px;
    font-width: bold;
    color: #222;
    margin-bottom: 48px;
    font-weight: 500;
    letter-spacing: -1px;
}

.text {
    padding-left: 50%;
    /* letter-spacing: -1.3px; */
}

.text > div {
    padding-left: 58px;
}

.title {
    font-size: 39px;
    color: #222;
    margin-bottom: 8px;
    letter-spacing: -2px;
    font-family: ink !important;
    line-height: 39px;
}

.title span {
    color: #ec6707;
    font-family: ink !important;
}

.text-dec {
    margin-top: 22px;
}

.text-bg {
    padding: 45px 0 57px 50%;
    background: #f1f1f1;
    margin-top: 35px;
}

.last-title {
    position: relative;
}

.last-title + p:after {
    width: 650px;
    height: 3px;
    background: #161b2f;
    content: '';
    position: absolute;
    top: -38px;
    left: -150px;
}

.dec-title {
    margin-bottom: 23px;
    font-size: 20px;
    letter-spacing: -1px;
}

.dec {
    line-height: 25px;
    color: #838383;
    letter-spacing: -1px;
}

p + .dec-title {
    margin-top: 35px;
    letter-spacing: -1px;
}

.image-box {
    bottom: 0;
}

.image-box1 {
    max-width: 650px;
    width: 100%;
    height: 767px;
    background: url(../../images/sub/info/staff/doctor04.png);
}

.doctor-info-left .text {
    padding-left: 0;
    position: relative;
}

.doctor-info-left .text > div {
    padding-left: 0;
}

.line {
    width: 50%;
    height: 3px;
    background: #7e6956;
    content: '';
    position: absolute;
    bottom: -36px;
    left: 0;
}

.tab-contents .text .max-layout-width {
    text-align: left;
}

.doctor-info-left .last-title:after {
    display: none;
}

.doctor-info-left .image-box {
    width: 100%;
    max-width: 650px;
    right: 0;
    z-index: 1;
}

.image-box2 {
    max-width: 650px;
    width: 100%;
    height: 767px;
    background: url(../../images/sub/info/staff/doctor05.png);
}

.image-box3 {
    max-width: 650px;
    width: 100%;
    height: 767px;
    background: url(../../images/sub/info/staff/doctor06.png);
}

.image-container {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -650px;
    bottom: 0;
}

.staff-info {
    margin-top: 69px;
}

.image_box_left, .image_box_right {
    width: 50%;
    max-width: 1276px;
    height: 480px;
    top: 0;
}

.img-box1 .img {
    background: url('../../images/sub/info/staff/staff_01.jpg') center;
}

.img-box2 .img {
    background: url('../../images/sub/info/staff/staff_02.jpg') center;
}

.img-box3 .img {
    background: url('../../images/sub/info/staff/staff_03.jpg') center;
}

.staff-info-box h1 {
    padding-top: 57px;
    margin-bottom: 50px;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: -1.5px;
}

.staff-info-box .text p {
    width: 500px;
    font-size: 16px;
    line-height: 27px;
    margin-top: 65px;
    word-break: keep-all;
    letter-spacing: -1px;
    position: relative;
    color: #333;
}

.staff-info {
    height: 510px;
}

.text-left.text {
    padding-left: 0;
    padding-right: 50%;
}

.text-left.text > div {
    padding-left: 0;
    padding-right: 58px;
    text-align: right;
}

.staff-info-box .text-left.text p {
    float: right;
}

.staff-info:first-child {
    margin-top: 0px;
}

.staff-info-box {
    padding-bottom: 86px;
    padding-top: 8px;
}

.doctor-contents .section-title {
    line-height: 1.4;
    letter-spacing: -1.8px;
}


.doctor-text-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.doctor-info:first-child .doctor-dec {
    margin-top: 8px;
}

.staff-info02 p:after {
    left: 0;
}

.doctor-info:first-child {
    margin-top: 0;
}

.doctor-info {
    margin-top: 100px;
}

@media screen and (max-width: 1300px) {
    .sub-contents > .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .tab-contents .text .max-layout-width {
        padding: 0 30px;
    }
    .doctor-info-left .image-box {
        width: 50%;
    }
    .staff-info-box .text p {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        word-break: keep-all
    }
}

@media screen and (max-width: 900px) {
    .staff-info-box .text-left.text p {
        float: none;
    }
    .staff-contents .text-left.text > div {
        text-align: left;
    }
    .line {
        display: none;
    }
    .doctor-info-left .text {
        padding-top: 670px;
    }
    .doctor-info-left .text-bg {
        padding-top: 0;
    }
    .doctor-info-left .text:before {
        height: 160px;
    }
    .image-container {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .image-box {
        width: 100% !important;
        top: 0;
        max-width: 100% !important;
    }
    .image-box1, .image-box2 {
        width: 100% !important;
        max-width: 100%;
        height: 634px;
        background-position-y: top;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .text {
        padding-top: 650px;
        padding-left: 0;
        position: relative;
    }
    .text:before {
        content: '';
        width: 100%;
        height: 140px;
        position: absolute;
        bottom: -39px;
        background: #f1f1f1;
        display: block;
    }
    .text-bg {
        padding-top: 0;
    }
    .text-bg:before {
        display: none;
    }
    .staff-contents .image_box_left, .staff-contents .image_box_right {
        width: 100%;
        height: 341px;
    }
    .staff-contents .text {
        padding-top: 341px;
        padding-right: 0;
    }
    .staff-contents .text > div {
        padding: 0 30px;
    }
    .staff-info {
        height: auto;
    }
    .staff-contents .text:before {
        display: none;
    }
    .staff-info-box .text p {
        padding-left: 0;
    }
    .staff-contents .last-title + p:after {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 414px)  {
    .title {
        font-size: 32px;
    }
    .doctor-title {
        font-size: 30px;
    }
    .dec {
        font-size: 15px;
    }
    .text > div {
        padding-left: 30px
    }
    .staff-contents .title br {
        display: none;
    }
}