.section01 {
    margin-top: 66px;
    margin-bottom: 72px;
}

.section01 ul {
    overflow: hidden;
    padding: -1px 0;
    border: 1px solid #ddd;
}

.section01 li:first-child {
    border-left: none;
}

.section01 li {
    float: left;
    width: 33.333333333%;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: #222;
}

.section01 li.active, .section01 li:hover {
    color: #7c695a;
}

.section01 li .title {
    font-size: 38px;
    vertical-align: -9px;
    margin-right: 4px;
    font-weight: 100;
}

.section01 li .text {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
}

.section02 .swiper-slide {
    display: inline-block;
}

.section02 .swiper-slide .big {
    display: block;
    overflow: hidden;
    height: 500px;
    margin-bottom: 56px;
    position: relative;
}

.section02 .swiper-slide .small {
    padding-top: 45px;
    position: relative;
    opacity: 0;
    transition: opacity 300ms;
}

.section02 .swiper-slide .small h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section02 .swiper-slide .small p {
    line-height: 1.6;
    letter-spacing: -1px;
}

.section02 .swiper-slide.swiper-slide-next {
    width: 16%;
    display: block;
}

.section02 .swiper-slide.swiper-slide-next .big {
    display: none;
}

.section02 .swiper-slide.swiper-slide-next .small {
    display: block;
    height: 465px;
    padding-top: 117px;
}

.section02 .swiper-slide img {
    width: 100%;
}

.section02 .swiper-wrapper {
    height: auto;
}

.section02 .title {
    font-size: 40px;
    margin-right: 4px;
    font-weight: 100;
    display: block;
    margin-bottom: 12px;
    color: #7f6954;
}

.section02 .text {
    font-size: 24px;
    margin-bottom: 30px;
    display: block;
    color: #7f6954
}

.section02 .small p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #222;
}

.section02 .swiper-slide.slick-active {
    opacity: 1;
}

.section02 .swiper-slide {
    float: left;
    height: 690px;
    margin-right: 50px;
    position: relative;
    outline: none;
    opacity: 0.4;
}

.section02 .swiper-slide-active {
    opacity: 1;
}

.section02 .swiper-slide.swiper-slide-active img {
    width: 100%;
    height: 100%;
    left: 0;
    /* transform:scale(1); */
    -webkt-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    opacity: 1;
}

.section02 .swiper-slide.swiper-slide-active + .swiper-slide {
    top: 385px;
    left:70px;
    overflow:hidden;
    /* width: 350px !important; */
}
.section02 .swiper-slide.swiper-slide-active + .swiper-slide img {
    position:relative;
    top: 25%;
    left: -20%;
    transform: translate3d(-244px, -74px, 0) scale(0.4);
    /* transform: scale(0.3); */
    opacity: 1;
    width: auto;
}
.section02 .swiper-slide img {
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}

.section02 .swiper-container {
    height: 760px;
}

.section02 {
    padding-bottom: 100px;
}

.section02 .small:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #7e6956;
    top: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.section02 .slick-current .small {
    opacity: 1;
}

.section02 .slick-current .small:before {
    opacity: 1;
}

.section02 .slick-list {
    padding-bottom: 50px !important;
}

.tab-container {
    position: relative;
}

.tab-contents {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 500ms;
    position: absolute;
    width: 100%;
}

.tab-contents.active {
    opacity: 1;
    z-index: 2;
}

.section01 .max-layout-width {
    width: 1080px;
}