.section01 {
    margin-top: 107px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
}

.section01 .bg {
    margin-top: 31px;
    background: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 115px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 8px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/implant/full/total01.jpg) no-repeat center;
}

.section02 {
    margin-top: 94px;
}

.section02 .img01 {
    width: 47.3354%;
    max-width: 1208px;
    height: 420px;
    top: 0;
}

.section02 .img {
    background: url(../../images/sub/implant/full/total02.jpg) center;
}

.section02 .section-text {
    width: 720px;
    padding-right: 111px;
    box-sizing: border-box;
}

.section02 .text-box h2 + p {
    margin-top: 36px;
    margin-bottom: 37px;
}

.section04 .text-box {
    padding-top: 146px;
}

.section02 .move-title, .section04 .move-title {
    top: 0;
}

.section02 .section-text span {
    font-weight: bold;
}

.section03, .section04 {
    margin-top: 109px;
}

.section03 .img01 {
    width: 46.1598%;
    max-width: 1178px;
    height: 420px;
    top: 0;
}

.section03 .img {
    background: url(../../images/sub/implant/full/total03.jpg) center;
}

.section03 .text-box {
    padding-left: 50%;
    /* padding-top: 146px; */
}

.section03 .move-title {
    top: 0;
    padding-left: 50%;
}

.section03 .section-text {
    width: 620px;
}

.section03 .link {
    margin-top: 56px;
    margin-bottom: 141px;
}

.section04 {
    margin-top: 124px;
}

.section04 .max-layout-width .text {
    padding-right: 50%;
}

.section04 .max-layout-width .text > div {
    padding-right: 90px;
    position: relative;
}

.section04 .image_box_right {
    max-width: 1276px;
    height: 482px;
    width: 50%;
    z-index: 10;
}

.section04 .image_box_right .img {
    background: url(../../images/sub/implant/full/total04.jpg) no-repeat center;
}

.section04 .section-title {
    padding-top: 71px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 143px;
    letter-spacing: -1px;
    padding-left: 80px;
}

.section04 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    top: 0;
}

.section04 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: right;
}

.section04 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 80px;
    background: #7f6a57;
    top: -110px;
    right: 0;
}

.section04 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 246px;
    left: 0px;
    bottom: -68px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section05 {
    margin-top: 163px;
    height: 637px;
}

.section05 .bg {
    content: '';
    background: url(../../images/sub/implant/full/total_bg.jpg) no-repeat center top fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section05 .max-layout-width {
    position: relative;
    padding-top: 155px;
    text-align: center;
    color: #fff;
}

.section05 h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 29px;
    letter-spacing: -2px;
}

.section05 p {
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 62px;
    letter-spacing: -1px;
}

.section05 p span {
    color: #c3b4a7;
}

.section05 ul {
    overflow: hidden;
}

.section05 li {
    width: 25%;
    float: left;
    padding-top: 124px;
}

.section05 .img01 {
    background: url(../../images/sub/implant/oneday/oneday_icon05.png) no-repeat top center;
}

.section05 .img02 {
    background: url(../../images/sub/implant/oneday/oneday_icon06.png) no-repeat top center;
}

.section05 .img03 {
    background: url(../../images/sub/implant/oneday/oneday_icon07.png) no-repeat top center;
}

.section05 .img04 {
    background: url(../../images/sub/implant/oneday/oneday_icon08.png) no-repeat top center;
}

.section06 {
    padding: 99px 0 96px 0;
    background: #f5f5f5;
}

.section06 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 48px;
    letter-spacing: -2px;
}

.table-middle {
    width: 180px;
}

.table-left, .table-right {
    width: 559px;
    font-size: 16px;
    padding: 22px 0;
    line-height: 1.6;
    letter-spacing: -1px;
}

.table-middle {
    padding: 25px 0;
    font-size: 21px;
    font-weight: bold;
    box-sizing: border-box;
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    letter-spacing: -2px;
}

.cont ul {
    overflow: hidden;
}

.cont li {
    float: left;
    box-sizing: border-box;
}

.cont {
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

.cont.con01 {
    border-bottom: none;
}

.con01.cont li {
    font-size: 22px;
    color: #fff;
    padding: 19px 0;
    background: #8f8f8f;
    line-height: 1;
    letter-spacing: -1px;
}

.con01.cont li.table-right {
    background: #9a8b7e;
}

.con01.cont li.table-middle {
    background: #222;
    color: #fff;
}

.section06 .img01 {
    background: url(../../images/sub/implant/navigation/navi11.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section06 .img02 {
    background: url(../../images/sub/implant/navigation/navi12.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.cont {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}

.section08 {
    margin-top: 79px;
    text-align: center;
    margin-bottom: 96px;
}

.section08 .section-title {
    line-height: 1.3
}

.section08 ul {
    margin-top: 58px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section08 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section08 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section08 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section08 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section08 ul li p span:first-child {
    padding-top: 27px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

.section08 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 3px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section08 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section02 .section-title {
    line-height: 1.3
}

.con05 .table-left, .con05 .table-right {
    padding: 28px 60px;
    word-break: keep-all;
}

.con05 .table-middle {
    padding: 68px 0;
}

.con06 .table-middle {
    line-height: 1.5;
    padding: 43px 0;
}

.cont span {
    color: #ec6707;
}

.con06 .table-right {
    padding: 34px 0;
}

.con01 ~ div {
    background: #fff;
}

.section07 {
    margin-top: 75px;
    padding-bottom: 82px;
}

.section07 .section-title, .section07 .section-text {
    text-align: center;
}

.section07 ul {
    display: inline-block;
    width: 100%;
    margin-left: -3%;
    margin-top: 216px;
}

.section07 li {
    width: 47%;
    margin-left: 3%;
    padding: 44px 0 0 45px;
    box-sizing: border-box;
    float: left;
    padding-bottom: 30px;
    position: relative;
}

.section07 li h2 {
    font-size: 27px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: -2px;
}

.section07 li h2 ~ p {
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    padding-left: 10px;
    letter-spacing: -1px;
}

.section07 li h2 ~ p:before {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #222;
    content: '';
    top: 5px;
    left: 0;
}

.section07 li h2 ~ p strong {
    font-size: 16px
}

.section07 .img01 h2 ~ p:before {
    background: #fff;
}

.section07 .img01 {
    color: #fff;
    background: #9a8b7e;
}

.section07 li:before {
    content: '';
    position: absolute;
    right: 0;
    top: -188px;
}

.section07 .img01:before {
    width: 390px;
    height: 260px;
    background: url(../../images/sub/implant/full/total05.png) no-repeat top center;
}

.section07 .img02:before {
    width: 407px;
    height: 261px;
    background: url(../../images/sub/implant/full/total06.png) no-repeat top center;
    top: -180px;
}

.section07 li.img02 {
    background: #e2e2e2;
    color: #222;
}

.section07 li.img02 h2 {
    color: #222;
}

.section03 .section-title {
    line-height: 1.3
}