.section08 {
    margin-top: 147px;
    text-align: center;
    margin-bottom: 206px;
}

.section08 .section-title {
    line-height: 1.3
}

.section08 ul {
    margin-top: 83px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section08 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section08 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section08 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section08 ul li p {
    height: 113px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section08 ul li p span:first-child {
    padding-top: 42px;
    display: block;
    font-size: 33px;
    color: #fff;
    font-weight: bold;
}

.section08 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 9px;
    font-size: 19px;
    color: #fff;
}

.section08 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section05 {
    margin-top: 220px;
}

.section05 .max-layout-width .text {
    padding-left: 50%;
}

.section05 .max-layout-width .text > div {
    padding-left: 120px;
    position: relative
}

.section05 .image_box_left {
    max-width: 1276px;
    height: 521px;
    width: 50%;
    z-index: 10;
}

.section05 .section-title {
    padding-top: 100px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 174px;
    padding-left: 60px;
    letter-spacing: -1px;
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 70px;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 103px;
    background: #7f6a57;
    top: -171px;
}

.section05 .bg {
    width: 64.65%;
    position: absolute;
    height: 305px;
    right: 0px;
    bottom: -80px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section01 {
    margin-top: 164px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 86px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
}

.section01 .bg {
    margin-top: 50px;
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 150px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 43px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/implant/navigation/navi01.jpg) no-repeat center;
}

.section02 {
    margin-top: 116px;
    margin-bottom: 100px;
}

.section02 .section-title {
    line-height: 1.3;
    letter-spacing: -2px;
}

.section02 .section-text {
    width: 590px;
    word-break: keep-all;
    line-height: 1.7;
    margin-top: 40px;
}

.section02 .max-layout-width {
    overflow: hidden;
}

.section02 .max-layout-width > div, .section02 .max-layout-width ul {
    width: 50%;
    float: left;
}

.section02 .max-layout-width ul {
    display: inline-block
}

.section02 .img {
    width: 315px;
    height: 343px;
    float: left;
}

.section02 .img01 {
    background: url(../../images/sub/implant/navigation/navi02.jpg) no-repeat center;
    margin-right: 20px;
}


.section02 .img02 {
    background: url(../../images/sub/implant/navigation/navi03.jpg) no-repeat center;
}

.section03 {
    background: #9a8b7e;
    padding-bottom: 94px;
}

.section03 .text {
    padding-top: 104px;
    padding-left: 50%;
}

.section03 .text h2 {
    font-size: 33px;
    color: #fff;
    font-weight: bold;
}

.section03 ul {
    padding-top: 50px;
    box-sizing: border-box;
}

.section03 .image_box_left {
    width: 790px;
    height: 374px;
    top: 74px;
    left: -188px;
}

.section03 .img {
    background: url(../../images/sub/implant/navigation/navi04.png) no-repeat center;
}

.section03 .max-layout-width {
    position: relative;
}

.section03 .text ul {
    overflow: hidden;
}

.section03 .text li {
    padding-left: 120px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    position: relative;
}

.section03 .text li p {
    line-height: 1.7;
    color: #fff;
}

.section03 .text .img01 {
    background: url(../../images/sub/implant/navigation/navi_icon01.png) no-repeat left top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 40px;
}

.section03 .text .img02 {
    background: url(../../images/sub/implant/navigation/navi_icon02.png) no-repeat left top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 40px;
}

.section03 .text .img03 {
    background: url(../../images/sub/implant/navigation/navi_icon03.png) no-repeat left top;
    padding-top: 20px;
    padding-bottom: 27px;
}

.section03 .text .img04 {
    background: url(../../images/sub/implant/navigation/navi_icon04.png) no-repeat left top;
    padding-top: 20px;
    padding-bottom: 27px;
}

.section04 {
    margin-top: 140px;
}

.section04 .section-title {
    line-height: 1.3;
    margin-bottom: 29px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 151px;
}

.section04 .image_box_right {
    max-width: 1315px;
    height: 581px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/implant/navigation/navi05.jpg) no-repeat center;
}

.section04 .bg {
    background: #f5f5f5;
    width: 53.29%;
    position: absolute;
    height: 393px;
    left: 0px;
    bottom: -60px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 11px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section05 .img {
    background: url(../../images/sub/implant/navigation/navi06.jpg) no-repeat center;
}

.section07 {
    margin-top: 150px;
}

.section07 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 36px;
}

.table-middle {
    width: 180px;
}

.table-left, .table-right {
    width: 559px;
    font-size: 17px;
    padding: 34px 0;
    line-height: 1.7;
}

.table-middle {
    padding: 51px 0;
    font-size: 23px;
    font-weight: bold;
    box-sizing: border-box;
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
}

.cont ul {
    overflow: hidden;
}

.cont li {
    float: left;
}

.cont {
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

.cont.con01 {
    border-bottom: none;
}

.con01.cont li {
    font-size: 23px;
    color: #fff;
    padding: 25px 0;
    background: #8f8f8f;
    line-height: 1;
}

.con01.cont li.table-right {
    background: #9b8b7e;
}

.con01.cont li.table-middle {
    background: #222;
    color: #fff;
}

.con02.cont li {
    line-height: inherit;
    padding: 0;
    height: 283px;
}

.con02.cont li.table-middle {
    padding-top: 130px;
    padding-bottom: 131px;
}

.section07 .img01 {
    background: url(../../images/sub/implant/navigation/navi11.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section07 .img02 {
    background: url(../../images/sub/implant/navigation/navi12.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.con03, .con04, .con05, .con06 {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}


.left-fade-slider-container .img01 {
    background: url(../../images/sub/implant/navigation/navi07.jpg) no-repeat center;
}

.left-fade-slider-container .img02 {
    background: url(../../images/sub/implant/navigation/navi08.jpg) no-repeat center;
}

.left-fade-slider-container .img03 {
    background: url(../../images/sub/implant/navigation/navi09.jpg) no-repeat center;
}

.left-fade-slider-container .img04 {
    background: url(../../images/sub/implant/navigation/navi10.jpg) no-repeat center;
}

.section09 {
    margin-top: 150px;
}