.section08 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 93px;
}

.section08 .section-title {
    line-height: 1.3
}

.section08 ul {
    margin-top: 50px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section08 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section08 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section08 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section08 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section08 ul li p span:first-child {
    padding-top: 26px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -2px;
}

.section08 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section08 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section05 {
    margin-top: 128px;
}

.section05 .max-layout-width .text > div {

    position: relative
}

.section05 .image_box_right {
    max-width: 1276px;
    height: 521px;
    width: 50%;
    z-index: 10;
}

.section05 .section-title {
    padding-top: 100px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 134px;
    padding-left: 164px;
    letter-spacing: -2px;
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 70px;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.5;
    position: relative;
    padding-right: 60px;
    text-align: right;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 89px;
    background: #7f6a57;
    top: -120px;
    right: 60px;
}

.section05 .bg {
    width: 64.65%;
    position: absolute;
    height: 262px;
    left: 0;
    bottom: -97px;
    background: #f5f5f5;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section05 .max-layout-width .text {
    padding-right: 50%;
    box-sizing: border-box;
}

.section01 {
    margin-top: 107px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
}

.section01 .bg {
    margin-top: 42px;
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 194px;
}

.section01 .section-text {
    line-height: 1.5;
    letter-spacing: -1px;
}

.section01 .section-text:first-child {
    margin-bottom: 10px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/implant/navigation/navi01.jpg) no-repeat center;
}

.section02 {
    margin-top: 115px;
    margin-bottom: 110px;
}

.section02 .section-title {
    line-height: 1.25;
    /* letter-spacing: -2px; */
    font-size: 37px;
    padding-top: 30px;
}

.section02 .section-text {
    width: 590px;
    word-break: keep-all;
    line-height: 1.5;
    margin-top: 17px;
    color: #666;
}

.section02 .max-layout-width {
    overflow: hidden;
}

.section02 .max-layout-width > div, .section02 .max-layout-width ul {
    width: 50%;
    float: left;
}

.section02 .max-layout-width ul {
    display: inline-block
}

.section02 .img {
    width: 315px;
    height: 343px;
    float: left;
}

.section02 .img01 {
    background: url(../../images/sub/implant/navigation/navi02.jpg) no-repeat center;
    margin-right: 20px;
}


.section02 .img02 {
    background: url(../../images/sub/implant/navigation/navi03.jpg) no-repeat center;
}

.section03 {
    background: url(../../images/sub/implant/navigation/navi_bg.jpg)  no-repeat center;
    /* padding-bottom: 15px; */
}

.section03 .image_box_left + .text {
    padding-top: 0px;
}

.section03 .text {
    padding-top: 86px;
    text-align: center;
}

.section03 .text h2 {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -2px;
}

.section03 ul {
    padding-top: 11px;
    box-sizing: border-box;
}

.section03 .image_box_left {
    width: 790px;
    height: 374px;
    position: relative;
    margin: 0 auto;
    padding-right: 110px;
}

.section03 .img {
    background: url(../../images/sub/implant/navigation/navi04.png) no-repeat center;
    margin-top: 20px;
}

.section03 .max-layout-width {
    position: relative;
}

.section03 .text ul {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.section03 .text li {
    /* padding-left: 117px; */
    box-sizing: border-box;
    float: left;
    width: 25%;
    position: relative;
}

.section03 .text li p {
    line-height: 1.6;
    color: #fff;
    letter-spacing: -1.3px;
    font-size: 18px;
    padding-top: 147px;
    font-weight: 300;
}

.section03 .text .img01 {
    background: url(../../images/sub/implant/navigation/navi_icon01.png) no-repeat center top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 40px;
}

.section03 .text .img02 {
    background: url(../../images/sub/implant/navigation/navi_icon02.png) no-repeat center top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 40px;
}

.section03 .text .img03 {
    background: url(../../images/sub/implant/navigation/navi_icon03.png) no-repeat center top;
    padding-top: 20px;
    padding-bottom: 27px;
}

.section03 .text .img04 {
    background: url(../../images/sub/implant/navigation/navi_icon04.png) no-repeat center top;
    padding-top: 20px;
    padding-bottom: 27px;
}

.section04 {
    background: url(../../images/sub/implant/navigation/navi_bg.jpg)  no-repeat center;
    margin-top: 119px;
    padding-top: 128px;
    padding-bottom: 109px;
}

.section04 .section-title {
    line-height: 1.25;
    margin-bottom: 12px;
    color: #fff;
    margin-left: 37px;
}

.section04 .section-title .section-title-color {
    color: #fff;
}

.section04 .section-text {
    line-height: 1.6;
    margin-bottom: 63px;
    color: #fff;
    font-weight: 300;
    margin-left: 38px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 435px;
    width: 51.52%;
    z-index: 1;
    top: 157px;
}

.section04 .img {
    background: url(../../images/sub/implant/navigation/navi05.jpg) no-repeat center;
}

.section04 .bg {
    width: 100%;
    position: absolute;
    height: 319px;
    left: 0px;
    bottom: -40px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .max-layout-width > div {
    padding-left: 57%;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: -1px;
    color: #fff;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
    background: url(../../images/sub/implant/navigation/white_check.png) no-repeat;
}

.section05 .img {
    background: url(../../images/sub/implant/navigation/navi06.jpg) no-repeat center;
}

.section07 {
    /* margin-top: 98px; */
    background: #f3f3f3;
    padding: 123px 0;
    margin-bottom: -90px;
}

.section07 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 49px;
    letter-spacing: -2px;
}

.table-middle {
    width: 180px;
}


.table-left, .table-right {
    width: 559px;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: -1px;
    vertical-align: middle;
}

.table-middle {
    padding: 32px 0;
    font-size: 21px;
    font-weight: 500;
    box-sizing: border-box;
    letter-spacing: -2px;
}

.cont ul {
    overflow: hidden;
}

.cont li {
    float: left;
}

.cont.con01 {
    border-bottom: none;
}

.con01.cont li {
    font-size: 22px;
    color: #fff;
    padding: 18px 0;
    background: #8f8f8f;
    line-height: 1;
    letter-spacing: -1px;
}

.con01.cont li.table-right {
    background: #9b8b7e;
}

.con01.cont li.table-middle {
    background: #222;
    color: #fff;
}

.con02.cont li {
    line-height: inherit;
    padding: 0;
    height: 283px;
}

.con02.cont li.table-middle {
    padding-top: 130px;
    padding-bottom: 131px;
    letter-spacing: -1.5px;
}

.section07 .img01 {
    background: url(../../images/sub/implant/navigation/navi11.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section07 .img02 {
    background: url(../../images/sub/implant/navigation/navi12.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.con03, .con04, .con05, .con06 {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}


.left-fade-slider-container .img01 {
    background: url(../../images/sub/implant/navigation/navi07.jpg) no-repeat center;
}

.left-fade-slider-container .img02 {
    background: url(../../images/sub/implant/navigation/navi08.jpg) no-repeat center;
}

.left-fade-slider-container .img03 {
    background: url(../../images/sub/implant/navigation/navi09.jpg) no-repeat center;
}

.left-fade-slider-container .img04 {
    background: url(../../images/sub/implant/navigation/navi10.jpg) no-repeat center;
}

.section09 {
    margin-top: 90px;
}

.table td, .table th {
    border: 1px solid #8f8f8f;
    text-align: center;
    background: #fff;
    vertical-align: middle;
}

.table th {
    height: 58px;
    padding: 0;
    vertical-align: middle;
}

.table th.table-left {
    background: #8f8f8f;
    color: #fff;
    font-size: 22px;
}

.table th.table-middle {
    background: #8f8f8f;
    color: #fff;
    background: #222;
}

.table th.table-right {
    background: #9b8b7e;
    color: #fff;
    font-size: 22px;
}

.left-fade-slider-container {
    margin-top: 230px;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 28px;
}


section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}

.board-link .section-title {
    line-height: 1.25;
}


@media screen and (max-width:640px) {
    .table th {
    height: 58px;
    }
    
    .table th.table-left {
    background: #8f8f8f;
    color: #fff;
    font-size: 18px;
    }
    section.board-link {
    margin-top: 60px;
    }
}

@media screen and (max-width:414px) {

    .section07 .max-layout-width h2 {
    font-size: 28px;
    margin-bottom: 27px;
    line-height: 1.2;
    }

    .section05 {
    margin-top: 115px;
    }

    .section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 32px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: -1px;
    color: #fff;
    }
    
    .section04 {
    background: url(../../images/sub/implant/navigation/navi_bg.jpg)  no-repeat center;
    margin-top: -77px;
    padding-top: 128px;
    padding-bottom: 55px;
    margin-bottom: -61px;
    }

    .section02 {
    margin-top: 103px;
    margin-bottom: 100px;
    }
    section.section-quotes-title-right .bg {
        height: 166px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 233px;
    }
    .section05.section-quotes-title-right .image_box_right {
        height: 220px;
    }
    .section05 .img {
        background-size: cover;
    }
    section.list-content .section-text + .pager {
        margin-top: 179px;
    }
    section.list-content .image_box_left {
        height: 172px;
        top: 274px;
    }
    .section04 .img {
        background-size: cover;
    }
    .left-fade-slider-container .max-layout-width h2 {
        font-size: 24px;
        word-break: keep-all;
        padding: 0 20px;
        box-sizing: border-box;
        width: 330px;
        margin: 0 auto;
        line-height: 1.3;
        padding-bottom: 20px;
    }
    .section06  {
        margin-top: 86px;
        padding-bottom: 0px;
        margin-bottom: -17px;
    }
    section.section-quotes-title-right .section-text:before {
        height: 38px;
        top: -55px;
    }
    section.section-quotes-title-left .section-text:before {
        top: -62px;
        height: 60px;
    }
    section.section-quotes-title-left .section-title {
        margin-bottom: 70px;
    }
    section.section-quotes-title-left .bg{
        bottom: -40px;
    }
    section.section-quotes-title-left .bg {
        height: 220px;
    }
}

@media screen and (max-width:375px) {
    section.list-content .image_box_left {
    height: 172px;
    top: 310px;
    }
    section.section-quotes-title-right .bg {
    bottom: -35px;
    height: 175px;
    }
    
    section.section-quotes-title-right .section-text:before {
        height: 38px;
        top: -55px;
    }
    section.section-quotes-title-left .section-text:before {
        top: -62px;
        height: 60px;
    }
    section.section-quotes-title-left .section-title {
        margin-bottom: 70px;
    }
    section.section-quotes-title-left .bg{
        bottom: -40px;
    }
    section.section-quotes-title-left .bg {
        height: 220px;
    }
}

@media screen and (max-width:360px) {
   section.section-top-title-left {
    padding-bottom: 33px;
}
}
