.section01 {
    margin-top: 107px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
}

.section01 .bg {
    margin-top: 42px;
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 203px;
}

.section01 .section-text {
    line-height: 1.6;
}

.section01 .section-text:first-child {
    margin-bottom: 5px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/implant/oneday/oneday01.jpg) no-repeat center;
}

.section03 {
    margin-top: 128px;
}

.section03 .max-layout-width .text {
    padding-right: 50%;
}

.section03 .max-layout-width .text > div {
    padding-right: 90px;
    position: relative;
}

.section03 .image_box_right {
    max-width: 1276px;
    height: 397px;
    width: 50%;
    z-index: 10;
}

.section03 .image_box_right .img {
    background: url(../../images/sub/implant/oneday/oneday02.jpg) no-repeat center;
}

.section03 .section-title {
    padding-top: 88px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 92px;
    padding-left: 164px;
    /* letter-spacing: -1.5px; */
}

.section03 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 70px;
    top: 0;
}

.section03 .section-text {
    word-break: keep-all;
    line-height: 1.6;
    position: relative;
    text-align: right;
}

.section03 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 57px;
    background: #7f6a57;
    top: -76px;
    right: 0;
}

.section03 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 210px;
    left: 0px;
    bottom: -66px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section04 {
    margin-top: 203px;
    margin-bottom: 132px;
}

.section04 .section-title {
    line-height: 1.2;
    /* letter-spacing: -2px; */
    padding-top: 48px;
}

.section04 .section-text {
    width: 590px;
    word-break: keep-all;
    line-height: 1.6;
    margin-top: 12px;
}

.section04 .max-layout-width {
    overflow: hidden;
}

.section04 .max-layout-width .text, .section04 .max-layout-width ul {
    width: 50%;
    float: left;
}

.section04 .max-layout-width .text > div {
    padding-left: 80px;
}

.section04 .max-layout-width ul {
    display: inline-block
}

.section04 .img {
    width: 315px;
    height: 343px;
    float: left;
}

.section04 .img01 {
    background: url(../../images/sub/implant/oneday/oneday03.jpg) no-repeat center;
    margin-right: 20px;
}


.section04 .img02 {
    background: url(../../images/sub/implant/oneday/oneday04.jpg) no-repeat center;
}

.section05 {
    padding-bottom: 24px;
    background: url(../../images/sub/implant/oneday/oneday_bg2.jpg);
}

.section05 .image_box_right + .text {
    padding-top: 0;
}

.section05 .text {
    padding-top: 81px;
}

.section05 .text h2 {
    font-size: 33px;
    color: #fff;
    /* font-weight: bold; */
    letter-spacing: -3px;
}

.section05 ul {
    padding-top: 0px;
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
}

.section05 .image_box_right {
    width: 790px;
    height: 374px;
    position: relative;
    margin: 0 auto;
}

.section05 .img {
    background: url(../../images/sub/implant/oneday/oneday05.png) no-repeat center;
}

.section05 .max-layout-width {
    position: relative;
    text-align: center;
}

.section05 .text ul {
    overflow: hidden;
}

.section05 .text li {
    box-sizing: border-box;
    float: left;
    width: 25%;
    position: relative;
}

.section05 .text li p {
    line-height: 1.5;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 145px;
}

.section05 .text li {
    position: relative;
}

.section05 .text li:before {
    position: absolute;
    content: '';
    width: 153px;
    height: 153px;
    background: url(../../images/sub/implant/oneday/oneday_icon01.png) no-repeat center top;
    left: 50%;
    top: 0;
    margin-left: -76px;
    background-size: contain;
}

.section05 .text .img01:before {
    background: url(../../images/sub/implant/oneday/oneday_icon01.png) no-repeat center top;
}

.section05 .text .img02:before {
    background: url(../../images/sub/implant/oneday/oneday_icon02.png) no-repeat center top;
}

.section05 .text .img03:before {
    background: url(../../images/sub/implant/oneday/oneday_icon03.png) no-repeat center top;
}

.section05 .text .img04:before {
    background: url(../../images/sub/implant/oneday/oneday_icon04.png) no-repeat center top;
}

.section05 .text .img01 {
    padding-top: 27px;
    /* padding-top: 27px; */
    padding-bottom: 27px;
    /* margin-bottom: 40px; */
    margin-bottom: 40px;
}

.section05 .text .img02 {
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 13px;
}

.section05 .text .img03 {
    padding-top: 20px;
    padding-bottom: 27px;
}

.section05 .text .img04 {
    padding-top: 20px;
    padding-bottom: 27px;
}

.section06 {
    margin-top: 146px;
}

.section06 .section-title {
    line-height: 1.25;
    margin-bottom: 6px;
    padding-top: 30px;
}

.section06 .section-text {
    line-height: 1.6;
    margin-bottom: 83px;
}

.section06 .image_box_left {
    max-width: 1315px;
    height: 477px;
    width: 51.52%;
    z-index: 1;
}

.section06 .img {
    background: url(../../images/sub/implant/oneday/oneday06.jpg) no-repeat center;
}

.section06 .bg {
    background: #f5f5f5;
    width: 53.29%;
    position: absolute;
    height: 285px;
    right: 0px;
    bottom: -37px;
}

.section06 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section06 .pager {
    font-size: 16px;
    color: #222;
    padding: 11px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: -1.5px;
    line-height: 13px;
}

.section06 .pager span {
    display: none;
    position: absolute;
}

.section06 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section06 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section09 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 93px;
}

.section09 .section-title {
    line-height: 1.3
}

.section09 ul {
    margin-top: 52px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section09 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section09 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section09 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section09 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section09 ul li p span:first-child {
    padding-top: 26px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

.section09 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section09 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section02 {
    margin-top: 116px;
}

.section02 .section-title, .section02 .section-text {
    text-align: center;
}

.section02 .step {
    margin-top: 52px;
    padding: 19px 0;
    background: #f5f5f5;
    font-weight: bold;
    font-size: 20px;
    color: #222;
    margin-bottom: 13px;
}

.section02 ul {
    width: 100%;
    overflow: hidden;
}

.section02 .oneday, .section02 .basic {
    border: 1px solid #acacac;
}

.section02 .oneday {
    margin-top: -1px
}

.section02 li {
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    letter-spacing: -1px;
}

body .section02 li:first-child {
    width: 14%;
}

.section02 .oneday li:first-child, .section02 .basic li:first-child {
    line-height: 1.4;
    font-weight: bold;
    padding: 35px 0;
}

.section02 .step li, .section02 .basic li, .section02 .oneday .arrow {
    width: 17.2%;
}

.section02 .long-arrow {
    width: 68.8%;
}

.section02 .arrow, .section02 .long-arrow {
    border-left: 1px solid #acacac;
}

.section02 .arrow p, .section02 .long-arrow p {
    height: 61px;
    line-height: 59px;
}

.section02 .arrow p:first-child {
    position: relative;
    border-bottom: 1px solid #acacac;
}

.section02 .arrow p:first-child:before {
    background: url(../../images/sub/implant/oneday/oneday_arrow01.png) no-repeat center;
    position: absolute;
    width: 53px;
    height: 61px;
    content: '';
    left: 50%;
    background-size: contain;
    margin-left: -26px;
}

.section02 .long-arrow p:first-child {
    background: url(../../images/sub/implant/oneday/oneday_arrow02.png) no-repeat center;
    border-bottom: 1px solid #acacac;
}

.section02 .oneday li:first-child {
    color: #9a8b7e;
}

.section06 .text {
    padding-left: 50%;
}

.section06 .text > div {
    padding-left: 78px;
}

.section07 {
    margin-top: 173px;
    height: 618px;
}

.section07 .bg {
    content: '';
    background: url(../../images/sub/implant/oneday/oneday_bg.jpg) no-repeat center top fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 130px;
    box-sizing: border-box;
}

.section07 .max-layout-width {
    position: relative;
    padding-top: 126px;
    text-align: center;
    color: #fff;
}

.section07 h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 31px;
    letter-spacing: -2px;
}

.section07 p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 59px;
    letter-spacing: -1px;
}

.section07 p span {
    color: #c3b4a7;
}

.section07 ul {
    overflow: hidden;
}

.section07 li {
    width: 25%;
    float: left;
    padding-top: 170px;
}

.section07 .img01 {
    background: url(../../images/sub/implant/oneday/oneday_icon05.png) no-repeat top center;
}

.section07 .img02 {
    background: url(../../images/sub/implant/oneday/oneday_icon06.png) no-repeat top center;
}

.section07 .img03 {
    background: url(../../images/sub/implant/oneday/oneday_icon07.png) no-repeat top center;
}

.section07 .img04 {
    background: url(../../images/sub/implant/oneday/oneday_icon08.png) no-repeat top center;
}

.section08 {
    margin-top: 82px;
    text-align: center;
}

.section08 .section-title {
    margin-bottom: 13px;
}

.section08 .section-text {
    line-height: 1.7;
    width: 871px;
    margin: 0 auto;
    word-break: keep-all;
}

.section10 {
    margin-top: 122px;
}

section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}
.section-text {padding-top: 12px;}

.board-link .section-title {
    line-height: 1.25;
}

@media screen and (max-width: 1300px) {

    .section02 .arrow p:first-child {

        border-bottom: 1px solid #acacac;
    }

    .section02 .section-title, .section02 .section-text {
        line-height: 1.3;
        word-break: keep-all;
        padding: 0 100px;
        margin-bottom: 30px;
        margin-bottom: 12px;
    }
    .section02 .long-arrow p:first-child {
        background-size: contain;
    }
}

@media screen and (max-width: 768px) {
    .section07 {
        margin-top: 100px;
        margin-top: 62px;
    }
    .section06 .text > div {
        padding-left: 30px;
    }
    section.list-content .image_box_left {
        width: 100%;
        left: 0;
    }
    .section06 .bg {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    section.board-link {
        margin-top: 50px;
    }

    .section07 .max-layout-width {
        position: relative;
        padding-top: 72px;
        text-align: center;
        color: #fff;
    }
    .section06 .pager {
        font-size: 16px;
        color: #222;
        padding: 9px 0;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        font-weight: 500;
        cursor: pointer;
        letter-spacing: -1.5px;
        line-height: 13px;
    }

    .section05 .text {
        padding-top: 64px;
    }

    .section03 {
        margin-top: 60px;
    }

    .section02 .oneday li:first-child, .section02 .basic li:first-child {
        line-height: 1.3;
        font-weight: 600;
        padding: 21px 0;
        font-size: 15;
    }

    .section02 .arrow p, .section02 .long-arrow p {
        height: 40px;
        line-height: 39px;
        font-size: 15px;
    }


    .section02 .step {
        margin-top: 52px;
        padding: 11px 0;
        background: #f5f5f5;
        font-weight: bold;
        font-size: 20px;
        color: #222;
        margin-bottom: 13px;
    }


    .section02 li {
        font-size: 16px;
    }

    .section10 {
        margin-top: 0;
    }
    .section07 p {
        padding: 0 30px;
        box-sizing: border-box;
        word-break: keep-all;
    }
    .section07 {
        height: auto;
    }
    section.list-content {
        margin-top: -30px;
    }
    .section06 .text > div {
        padding: 0;
    }
    section.section-top-title-right-two .max-layout-width ul {
        top: 330px;
    }
    .table-container {
        overflow: scroll;
        box-sizing: border-box;
        padding: 0 30px;
        padding-top: 23px;
    }
    section .table-container > * {
        width: 640px;
    }
    .section02 .section-title, .section02 .section-text {
        padding: 0 30px;
    }
}

@media screen and (max-width: 414px) {
    section.list-content .section-text + .pager {
        margin-top: 150px;
        margin-top: 172px;
    }
    section.list-content .image_box_left {
        height: 157px;
        height: 200px;
    }
    .section06 .img {
        background-size: cover;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 160px;
        padding-top: 231px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 146px;
        height: 220px;
    }
    .section03 .image_box_right .img {
        background-size: cover;
    }
    .section05 .image_box_right + .text {
        margin-top: 30px
    }
    section.img-four .text li {

    }
    .section05 .text li p {
        font-size: 14px;
    }
    section.img-four .image_box_right {
        height: 250px;
        height: 187px;
    }
    .section05 .img {
        background-size: contain;
        margin-bottom: 30px;
        height: 180px;
        /* padding-top: 10px; */
        margin-top: 27px;
    }
    .section05 .text h2 {
        font-size: 28px;
        padding: 0 30px;
        box-sizing: border-box;
        line-height: 1.3;
        word-break: keep-all;
    }
    .section04 {
        margin-top: 80px;
    }
    .section02 .step {
        margin-top: 0px;
    }
    .section02 .section-title, .section04 .section-title {
        font-size: 28px;
        padding-top: 9px;
    }
    body .section-top-title-left .section-title {
        font-size: 25px;
    }
    section.section-top-title-right-two .max-layout-width ul {
        top: 350px;
        top: 299px;
    }
    .section07 p {
        font-size: 14px;
    }
    .section07 h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 375px) {
    section.section-quotes-title-right .bg {
        height: 225px;
    }
}

@media screen and (max-width: 360px) {
    section.section-quotes-title-right .bg {
        height: 215px;
    }
}
