.section01 {
    margin-top: 99px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 31px;
    padding-bottom: 82px;
}

.section01 .section-text {
    line-height: 1.6;
}

.section01 .section-text:first-child {
    margin-bottom: 43px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/grow/growth01.jpg) no-repeat center;
}

.section02 {
    margin-top: 110px;
}

.section02 .max-layout-width .text {
}

.section02 .max-layout-width .text > div {
    /* padding-right: 50px; */
    position: relative;
}

.section02 .image_box_right {
    max-width: 1268px;
    height: 485px;
    width: 50%;
    z-index: 10;
}

.section02 .image_box_right .img {
    background: url(../../images/sub/orthodontics/grow/growth02.jpg) no-repeat center;
}

.section02 .section-title {
    position: relative;
    line-height: 1.25;
    margin-bottom: 4px;
    letter-spacing: -3px;
    text-align: center;
    padding-right: 20px;
}

.section02 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: center;
    padding-left: 47px;
    padding-top: 11px;
    padding-right: 21px;
    color: #9c9c9c;
}

.section02 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 304px;
    left: 0px;
    bottom: -40px;
}

.section02 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section02 ul {
    padding-top: 57px;
    box-sizing: border-box;
    margin-left: -2%;
}

.section02 .text ul {
    overflow: hidden;
}

.section02 .text li {
    box-sizing: border-box;
    float: left;
    width: 23%;
    position: relative;
    text-align: center;
    margin-left: 2%;
}

.section02 .text li:before {
    width: 100%;
    height: 170px;
    content: '';
    border: 1px solid #d1d1d1;
    display: block;
    top: 0;
    box-sizing: border-box;
}

.section02 .text li p {
    line-height: 1.4;
    color: #222;
    letter-spacing: -1.2px;
}

.section02 .text li p:before {
    background: url(../../images/sub/orthodontics/grow/check_big.png);
    content: '';
    width: 48px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 9px;
}

.section02 .text .img01 {
    background: url(../../images/sub/orthodontics/grow/growth_icon01.png) no-repeat center top;
    /* padding-top: 27px; */
    padding-bottom: 27px;
    margin-bottom: 25px;
    background-position-y: 45px;
}

.section02 .text .img02 {
    background: url(../../images/sub/orthodontics/grow/growth_icon02.png) no-repeat center top;
    padding-bottom: 27px;
    margin-bottom: 25px;
    background-position-y: 46px;
}

.section02 .text .img03 {
    background: url(../../images/sub/orthodontics/grow/growth_icon03.png) no-repeat center top;
    padding-bottom: 27px;
    background-position-y: 43px;
}

.section02 .text .img04 {
    background: url(../../images/sub/orthodontics/grow/growth_icon04.png) no-repeat center top;
    padding-bottom: 27px;
    background-position-y: 46px;
}

.section04 {
    margin-top: 141px;
}

.section04 .max-layout-width .text {
    padding-left: 50%;
}

.section04 .max-layout-width .text > div {
    padding-left: 120px;
    position: relative
}

.section04 .image_box_left {
    max-width: 1276px;
    height: 443px;
    width: 50%;
    z-index: 10;
}

.section04 .image_box_left .img {
    background: url(../../images/sub/orthodontics/grow/growth07.jpg) no-repeat left top;
}

.section04 .section-title {
    padding-top: 87px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 97px;
    padding-left: 60px;
    letter-spacing: -3px;
}

.section04 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 70px;
    top: 0;
}

.section04 .section-text {
    word-break: keep-all;
    line-height: 1.6;
    position: relative;
    letter-spacing: -1.2px;
}

.section04 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 64px;
    background: #7f6a57;
    top: -75px;
}

.section04 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 252px;
    right: 0px;
    bottom: -67px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section05 {
    margin-top: 100px;
}

.section05 .section-title {
    line-height: 1.3;
    margin-bottom: 20px;
}

.section05 .section-text {
    line-height: 1.7;
    width: 50%;
    word-break: keep-all;
    margin-bottom: 50px;
}

.section05 ul {
    overflow: hidden;
    margin-left: -3%;
}

.section05 ul li {
    width: 47%;
    margin-left: 3%;
    float: left;
}

.section05 ul li img {
    width: 100%;
    margin-bottom: 30px;
}

.section05 ul li p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.section06 {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 81px;
}

.section06 .section-title {
    line-height: 1.3;
    margin-bottom: -4px;
}

.section06 ul {
    margin-top: 42px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section06 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section06 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section06 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section06 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section06 ul li p span:first-child {
    padding-top: 27px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section06 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 3px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section06 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section03 {
    margin-top: 47px;
    background: #1f2742;
    padding-top: 201px;
    padding-bottom: 146px;
}

.section03 .section-title {
    line-height: 1.35;
    margin-bottom: 30px;
    color: #fff;
}

.section03 .section-text {
    line-height: 1.7;
    margin-bottom: 91px;
}

.section03 .image_box_right {
    max-width: 1315px;
    height: 435px;
    width: 51.52%;
    z-index: 1;
    top: -140px;
}

.section03 .img {
    background: url(../../images/sub/orthodontics/grow/growth08.jpg) no-repeat center;
}

.section03 .bg {
    background: #f5f5f5;
    width: 53.29%;
    position: absolute;
    height: 315px;
    left: 0px;
    bottom: -40px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section03 .pager {
    font-size: 15px;
    color: #fff;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: -1px;
}

.section03 .pager span {
    display: none;
    position: absolute;
}

.section03 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section03 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 1px;
    background: url(../../images/sub/orthodontics/grow/check_small.png);
    width: 28px;
    height: 24px;
}

.section07 {
    margin-top: 203px;
}

@media screen and (max-width: 1300px) {
    .section02 .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section03 .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 850px) {
    section.list-content .max-layout-width > div {
        height: 370px;
        top: -30px;
    }
    section.list-content .section-title {
        padding-top: 380px;
    }
}

@media screen and (max-width: 640px) {
    .section02 .text li {
        width: 48%;
    }
}

@media screen and (max-width: 414px) {
    .section07 {
        margin-top: 100px;
    }
    section.section-quotes-title-left .max-layout-width .text {
        padding-top: 180px;
    }
    .section04 .image_box_left .img {
        background-size: contain;
    }
    section.list-content {
        padding-bottom: 50px;
    }
    section.list-content .section-title {
        padding-top: 200px;
    }
    section.list-content .max-layout-width > div {
        height: 200px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .section03 .img {
        background-size: contain;
    }
    .section02 .text .img01,.section02 .text .img02,
    .section02 .text .img03, .section02 .text .img04 {
        background-position-y: 35px;
    }
    .section02 .text li:before {
        height: 150px;
    }
    .section02 .text li p {
        font-size: 14px;
    }
    .section02 {
        margin-top: 50px;
    }
    .section02 .section-title {
        font-size: 28px;
    }
    .section02 .section-title br {
        display: none;
    }
    section.section-top-title-left .bg {
        height: 200px;
    }
    .section02 .section-title {
        word-break: keep-all;
        padding-right: 0;
    }
    .section02 .section-text {
        padding: 0 30px;
        margin-top: 30px;
    }
    section.section-quotes-title-left .bg {
        height: 280px;
    }
    section.section-quotes-title-left .section-text:before {
        top: -71px;
    }
    section.section-quotes-title-left .section-title {
        padding-left: 30px;
        padding-top: 50px;
    }
}

@media screen and (max-width: 375px) {
    section.section-quotes-title-left .max-layout-width .text {
        padding-top: 170px;
    }
    section.list-content .section-title {
        padding-top: 180px;
    }
    section.list-content .max-layout-width > div {
        height: 180px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    section.section-quotes-title-left .bg {
        height: 300px;
        bottom: -45px;
    }
    section.section-quotes-title-left .section-text:before {
        top: -71px;
    }
}

@media screen and (max-width: 360px) {
    section.section-quotes-title-left .max-layout-width .text {
        padding-top: 150px;
    }
    section.list-content .section-title {
        padding-top: 170px;
    }
    section.list-content .max-layout-width > div {
        height: 172px;
        padding: 0 20px;
        box-sizing: border-box;
    }
}