.section01 {
    margin-top: 99px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 31px;
    padding-bottom: 37px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 43px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/grow/growth01.jpg) no-repeat center;
}

.section02 {
    margin-top: 79px;
}

.section02 .max-layout-width .text {
    padding-right: 50%;
}

.section02 .max-layout-width .text > div {
    padding-right: 50px;
    position: relative;
}

.section02 .image_box_right {
    max-width: 1268px;
    height: 485px;
    width: 50%;
    z-index: 10;
}

.section02 .image_box_right .img {
    background: url(../../images/sub/orthodontics/grow/growth02.jpg) no-repeat center;
}

.section02 .section-title {
    position: relative;
    line-height: 1.3;
    margin-bottom: 4px;
    letter-spacing: -3px;
    text-align: right;
    padding-right: 20px;
}

.section02 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: right;
    padding-left: 47px;
    padding-top: 20px;
    padding-right: 21px;
}

.section02 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 67px;
    background: #7f6a57;
    top: 97px;
    right: 0;
}

.section02 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 304px;
    left: 0px;
    bottom: -40px;
}

.section02 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section02 ul {
    padding-top: 95px;
    box-sizing: border-box;
}

.section02 .text ul {
    overflow: hidden;
}

.section02 .text li {
    padding-left: 120px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    position: relative;
}

.section02 .text li p {
    line-height: 1.6;
    color: #222;
    letter-spacing: -1.2px;
}

.section02 .text .img01 {
    background: url(../../images/sub/orthodontics/grow/growth_icon01.png) no-repeat left top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 25px;
    background-position-x: 10px;
    background-position-y: 8px;
}

.section02 .text .img02 {
    background: url(../../images/sub/orthodontics/grow/growth_icon02.png) no-repeat left top;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 25px;
    background-position: 0 9px;
}

.section02 .text .img03 {
    background: url(../../images/sub/orthodontics/grow/growth_icon03.png) no-repeat left top;
    padding-top: 20px;
    padding-bottom: 27px;
    background-position-x: 13px;
}

.section02 .text .img04 {
    background: url(../../images/sub/orthodontics/grow/growth_icon04.png) no-repeat left top;
    padding-top: 20px;
    padding-bottom: 27px;
}

.section04 {
    margin-top: 77px;
}

.section04 .max-layout-width .text {
    padding-left: 50%;
}

.section04 .max-layout-width .text > div {
    padding-left: 120px;
    position: relative
}

.section04 .image_box_left {
    max-width: 1276px;
    height: 521px;
    width: 50%;
    z-index: 10;
}

.section04 .image_box_left .img {
    background: url(../../images/sub/orthodontics/grow/growth07.jpg) no-repeat left top;
}

.section04 .section-title {
    padding-top: 87px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 97px;
    padding-left: 60px;
    letter-spacing: -3px;
}

.section04 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 70px;
    top: 0;
}

.section04 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    letter-spacing: -1.2px;
}

.section04 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 72px;
    background: #7f6a57;
    top: -75px;
}

.section04 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 281px;
    right: 0px;
    bottom: -61px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section05 {
    margin-top: 100px;
}

.section05 .section-title {
    line-height: 1.3;
    margin-bottom: 20px;
}

.section05 .section-text {
    line-height: 1.7;
    width: 50%;
    word-break: keep-all;
    margin-bottom: 50px;
}

.section05 ul {
    overflow: hidden;
    margin-left: -3%;
}

.section05 ul li {
    width: 47%;
    margin-left: 3%;
    float: left;
}

.section05 ul li img {
    width: 100%;
    margin-bottom: 30px;
}

.section05 ul li p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.section06 {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 81px;
}

.section06 .section-title {
    line-height: 1.3;
    margin-bottom: -4px;
}

.section06 ul {
    margin-top: 42px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section06 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section06 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section06 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section06 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section06 ul li p span:first-child {
    padding-top: 27px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section06 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 3px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section06 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section03 {
    margin-top: 112px;
    padding: 90px 0;
    background: #9b8b7e;
}

.section03 .section-title {
    line-height: 1.3;
    margin-bottom: -7px;
    text-align: center;
    color: #fff;
}

.section03 .section-text {
    line-height: 1.7;
    word-break: keep-all;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

.section03 ul {
    overflow: hidden;
    margin-left: 0;
    width: 1000px;
    margin: 0 auto;
}

.section03 ul li {
    width: 25%;
    float: left;
    text-align: center;
}

.section03 ul li img {
    width: 100%;
    margin-bottom: 30px;
    max-width: 146px;
}

.section03 ul li p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.section07 {
    margin-top: 141px;
}