.section01 {
    margin-top: 110px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 170px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 14px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion01.jpg) no-repeat center;
}



.section05 {
    height: 418px;
    margin-top: 167px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.section05 .max-layout-width .text {
    padding-top: 131px;
    text-align: center;
}

.tab-contents3 .section05 .max-layout-width .text {
    padding-top: 107px;
}


.tab-contents4 .section05 .max-layout-width .text {
    padding-top: 88px;
}

.tab-contents5 .section05 .max-layout-width .text {
    padding-top: 87px;
}

.section05 .max-layout-width .text h2 {
    line-height: 1.3;
    margin-bottom: 32px;
    font-size: 36px;
    letter-spacing: -2.5px;
}

.section05 .max-layout-width .text p {
    font-size: 16px;
    /* width: 549px; */
    word-break: keep-all;
    margin: 0 auto;
    line-height: 1.7;
    letter-spacing: -1.5px;
}

.tab-contents2 .section05 .max-layout-width .text p {
    width: 1000px;
}

.section05 .max-layout-width .text p.star {
    margin-top: 16px;
}

.section05 .max-layout-width .text span {
    color: #b0a295;
}

.section05 .bg {
    width: 100%;
    height: 100%;
    padding-top: 159px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}


.tab-contents1 .section05 .bg {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_bg01.jpg) center top no-repeat fixed;
}

.tab-contents2 .section05 .bg {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_bg02.jpg) center top no-repeat fixed;
}

.tab-contents3 .section05 .bg {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_bg03.jpg) center top no-repeat fixed;
}


.tab-contents4 .section05 .bg {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_bg04.jpg) center top no-repeat fixed;
}


.tab-contents5 .section05 .bg {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_bg05.jpg) center top no-repeat fixed;
}


.section04 {
    margin-top: 88px;
}

.section04 .section-title {
    line-height: 1.3;
    margin-bottom: 26px;
    padding-top: 80px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 433px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion23.jpg) no-repeat center;
}
p.img.toothimg01{
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion03.jpg) no-repeat center;
}
p.img.toothimg02{
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion18.jpg) no-repeat center;
}
p.img.toothimg03{
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion16.jpg) no-repeat center;
}
p.img.toothimg04{
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion09.jpg) no-repeat center;
}
p.img.toothimg05{
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion23.jpg) no-repeat center;
}

.section04 .bg {
    /* background: #f5f5f5; */
    width: 55.29%;
    position: absolute;
    height: 267px;
    right: 0px;
    bottom: -31px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 32px;
    display: inline-block;
    font-weight: 500;
    position: relative;
    letter-spacing: -1.5px;
}

.tab-contents5 .section04 .pager:before {
    position: absolute;
    left: 0;
    content: '';
    top: 9px;
    background: url(../../images/sub/orthodontics/malocculusion/check_icon.png) no-repeat center;
    width: 19px;
    height: 19px;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section04 .text {
    padding-left:50%;
}

.section04 .text > div {
    padding-left: 84px;
}

.section07 {
    margin-top: 72px;
    text-align: center;
    margin-bottom: 84px;
}

.section07 .section-title {
    line-height: 1.3
}

.section07 ul {
    margin-top: 44px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section07 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section07 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section07 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section07 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section07 ul li p span:first-child {
    padding-top: 25px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section07 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section07 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section02 {
    text-align: center;
    padding-top: 88px;
}

.section02 .section-title {
    margin-bottom: 45px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    margin-left: 2%;
    float: left;
    padding-top: 40px;
    background: #f3f3f3;
    padding-bottom: 36px;
}

.section02 li p {
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-top: 13px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_icon01.png) no-repeat top center;
    background-position-y: 7px;
}

.section02 .img02 {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_icon02.png) no-repeat top center;
    background-position-y: 2px;
}

.section02 .img03 {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_icon03.png) no-repeat top center;
    background-position-y: 3px;
}

.section02 .img04 {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion_icon04.png) no-repeat top center;
    background-position-y: 3px;
}

.section03 {
    padding: 69px 0 63px 0;
    background: #f3f3f3;
    margin-top: 92px;
}

.section03 .section-title {
    text-align: center;
    line-height: 1.3;
}

.section03 .section-text {
    text-align: center;
    margin-bottom: 70px;
    color: #666;
}

.section03 .max-layout-width .con {
    display: inline-block;
    width: 100%;
    position: relative;
}

.section03 .max-layout-width .con > div {
    float: left;
    width: 50%;
}

.section03 .border {
    width: 518px;
    height: 311px;
    content: '';
    border: 4px solid #9a8b7e;
    position: absolute;
}

.section03 .img-box .img {
    width: 576px;
    height: 313px;
    position: relative;
    z-index: 2;
    margin-left: 28px;
    margin-top: 28px;
}

.section03 .tab-contents1 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion02.jpg) no-repeat top center;
}

.section03 .tab-contents2 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion17.jpg) no-repeat top center;
}

.section03 .tab-contents3 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion15.jpg) no-repeat top center;
}

.section03 .tab-contents4 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion10.jpg) no-repeat top center;
}

.section03 .tab-contents5 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion22.jpg) no-repeat top center;
}

.section03 .max-layout-width .con .img-box h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2px;
}

.section03 .max-layout-width .con .img-box p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: -1px;
}

.section03 .text {
    padding-top: 5px;
    box-sizing: border-box;
}

.section03 .text ul {
    text-align: right;
    padding-top: 76px;
}

.section03 .text li {
    height: 88px;
    max-width: 590px;
    width: 100%;
    line-height: 88px;
    padding-left: 34px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 12px;
    border: 1px solid #c9c9c9;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.section03 .text li.odd {
    margin-right: 21px;
}

.section03 .text li.active {
    background: #9a8b7e;
    border: 1px solid #c9c9c9;
    color: #fff;
}

.section03 .text li p {
    font-size: 17px;
    letter-spacing: -1.3px;
}

.section03 .text li span {
    font-size: 23px;
    font-weight: 500;
    margin-right: 24px;
    display: inline-block;
    float: left;
    letter-spacing: -1.5px;
}

.section06 {
    margin-top: 88px;
}

.section06 .section-title {
    line-height: 1.2;
    margin-bottom: 14px;
}

.section06 .section-text {
    line-height: 1.5;
    width: 50%;
    word-break: keep-all;
    margin-bottom: 50px;
    letter-spacing: -1.2px;
    color: #666;
}

.section06 ul {
    overflow: hidden;
    margin-left: -3%;
}

.section06 ul li {
    width: 47%;
    margin-left: 3%;
    float: left;
}

.section06 ul li img {
    width: 100%;
    margin-bottom: 30px;
}

.section06 ul li p {
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -1.5px;
}

.tab-contents {
    display: none;
}

.tab-contents.active {
    display: block;
}

.section08 {
    margin-top: 68px;
    padding-bottom: 133px;
}

.section08 .max-layout-width {
    position: relative;
}

.section08 .max-layout-width .text {
    width: 50%;
    padding-right: 50px;
    box-sizing: border-box;
    word-break: keep-all;
}

.section08 .section-title {
    line-height: 1.3;
    margin-bottom: 18px;
    padding-top: 66px;
}


.section08 .image_box_right {
    max-width: 1315px;
    height: 400px;
    width: 50%;
    z-index: 1;
    top: 0;
}

.section08 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion24.jpg) no-repeat center;
}


p.img.toothimg06 {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion11.jpg) no-repeat top center;
}

p.img.toothimg07 .img {
    background: url(../../images/sub/orthodontics/malocculusion/malocclusion24.jpg) no-repeat top center;
}


.section09 {
    background: #f5f5f5;
    padding-top: 65px;
    padding-bottom: 59px;
}

.section09 h2 {
    font-size: 34px;
    letter-spacing: -2px;
}

.section09 ul {
    overflow: hidden;
    margin-left: -1%;
    margin-top: 36px;
}

.section09 li {
    width: 32.33333333333%;
    margin-left: 1%;
    float: left;
}

.section09 li p {
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    margin-top: 27px;
    letter-spacing: -1.3px;
}

.section10 {
    margin-top: 79px;
}