.section01 {
    margin-top: 108px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
    display: inline-block;
}

.section01 .bg {
    margin-top: 42px;
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 199px;
}

.section01 .section-text {
    line-height: 1.6;
}

.section01 .section-text:first-child {
    margin-bottom: 8px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics01.jpg) no-repeat center;
}

.section02 {
    margin-top: 126px;
}

.section02 .max-layout-width .text {
    padding-right: 50%;
}

.section02 .max-layout-width .text > div {
    padding-right: 50px;
    position: relative;
}

.section02 .image_box_right {
    max-width: 1268px;
    height: 442px;
    width: 50%;
    z-index: 10;
}

.section02 .image_box_right .img {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics02.jpg) no-repeat center;
}

.section02 .section-title {
    padding-top: 94px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 105px;
    padding-left: 100px;
    /* letter-spacing: -1px; */
}

.section02 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 0;
    top: 0;
}

.section02 .section-text {
    word-break: keep-all;
    line-height: 1.6;
    position: relative;
    text-align: right;
    padding-left: 47px;
    padding-top: 20px;
}

.section02 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 66px;
    background: #7f6a57;
    top: -74px;
    right: 0;
}

.section02 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 239px;
    left: 0px;
    bottom: -54px;
}

.section02 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section03 {
    margin-top: 188px;
    height: 649px;
}

.section03 .bg {
    content: '';
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics_bg.jpg) no-repeat center top fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section03 .max-layout-width {
    position: relative;
    padding-top: 136px;
    text-align: center;
    color: #fff;
    padding-bottom: 33px;
}

.section03 h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 29px;
    letter-spacing: -1.5px;
}

.section03 p {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 62px;
    letter-spacing: -1px;
}

.section03 p span {
    color: #c3b4a7;
}

.section03 ul {
    overflow: hidden;
}

.section03 li {
    width: 25%;
    float: left;
    padding-top: 172px;
    position: relative;
}

.section03 li:before {
    position: absolute;
    content: '';
    width: 153px;
    height: 153px;
    margin-left: -76px;
    left: 50%;
    top: 0;
}

.section03 .img01:before {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics_icon01.png) no-repeat top center;
}

.section03 .img02:before {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics_icon02.png) no-repeat top center;
}

.section03 .img03:before {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics_icon03.png) no-repeat top center;
}

.section03 .img04:before {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics_icon04.png) no-repeat top center;
}

.section04 {
    margin-top: 145px;
}

.section04 .section-title {
    line-height: 1.25;
    margin-bottom: 4px;
    padding-top: 30px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 83px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 445px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics03.jpg) no-repeat center;
}

.section04 .bg {
    background: #f5f5f5;
    width: 53.29%;
    position: absolute;
    height: 285px;
    right: 0px;
    bottom: -40px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section05 {
    margin-top: 177px;
    margin-bottom: -93px;
}

.section05 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 56px;
    letter-spacing: -2.5px;
}

.table-middle {
    width: 180px;
}

.table-left, .table-right {
    width: 559px;
    font-size: 16px;
    /* padding: 24px 0; */
    line-height: 1.6;
    letter-spacing: -1px;
}

.table-middle {
    padding: 39px 0;
    font-size: 21px;
    font-weight: 500;
    box-sizing: border-box;
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    letter-spacing: -1px;
}

.cont ul {
    overflow: hidden;
}

.cont li {
    float: left;
}

.cont {
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

.cont.con01 {
    border-bottom: none;
}

.con01.cont li {
    font-size: 22px;
    color: #fff;
    padding: 20px 0;
    background: #8f8f8f;
    line-height: 1;
    letter-spacing: -1px;
}

.con01.cont li.table-right {
    background: #9b8b7e;
}

.con01.cont li.table-middle {
    background: #222;
    color: #fff;
}

.con02.cont li {
    line-height: inherit;
    padding: 0;
    height: 283px;
}

.con02.cont li.table-middle {
    padding-top: 130px;
    padding-bottom: 131px;
}

.section05 .img01 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics05.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section05 .img02 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics06.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.con03, .con04, .con05, .con06 {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}

.section09 {
    margin-top: 67px;
    text-align: center;
    margin-bottom: 80px;
}

.section09 .section-title {
    line-height: 1.3;
    margin-bottom: -3px;
}

.section09 ul {
    margin-top: 39px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section09 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section09 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section09 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section09 ul li p {
    height: 73px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section09 ul li p span:first-child {
    padding-top: 25px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section09 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 5px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section09 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section04 .text {
    padding-left:50%;
}

.section04 .text > div {
    padding-left: 104px;
}

.con03 .table-left {
    padding: 34px 0;
}

.con03 .table-middle {
    padding: 51px 0;
}

.con05 .table-left {
    padding: 24px 0;
}

.left-fade-slider-container .img01 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics07.jpg) no-repeat center;
}

.left-fade-slider-container .img02 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics08.jpg) no-repeat center;
}

.left-fade-slider-container .img03 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics09.jpg) no-repeat center;
}

.left-fade-slider-container .img04 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics10.jpg) no-repeat center;
}

.section07 {
    margin-top: 105px;
}

.section07 .img01 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics11_1.jpg);
}

.section07 .img02 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics11_2.jpg);
}

.section07 .img03 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics11_3.jpg);
}

.section07 .img04 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics11_4.jpg);
}

.section07 .img05 {
    background: url(../../images/sub/orthodontics/misowonOrthodontics/orthodontics11_5.jpg);
}


.section08 {
    margin-top: 114px;
}


.table td, .table th {
    border: 1px solid #8f8f8f;
    text-align: center;
    background: #fff;
    vertical-align: middle;
}

.table th {
    height: 58px;
    padding: 0;
    vertical-align: middle;
}

.table th.table-left {
    background: #8f8f8f;
    color: #fff;
    font-size: 22px;
}

.table th.table-middle {
    background: #8f8f8f;
    color: #fff;
    background: #222;
}

.table th.table-right {
    background: #9b8b7e;
    color: #fff;
    font-size: 22px;
}

.table img {
    width: 100%;
    /* height: 100%; */
}

.post-slider .text h2 {
    padding-top: 10px;
}

.fade-in-slider .swiper-slide .text h2 {
    line-height: 1.25;
    margin-bottom: 15px;
}

.fade-in-slider .title p {
    color: #9c9c9c;

}

section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}

.board-link .section-title {
    line-height: 1.25;
}

@media screen and (max-width: 850px) {
    section.table {
        margin-top: 25px;
        padding: 57px 25px;
    }
    section.list-content {
        margin-top: -46px;
    }
    .section04 .bg {
        width: 100%;
    }
    .section04 .text > div {
        padding-left: 0;
    }
    section.list-content .image_box_left {
        width: 100%;
        left: 0;
    }
    .left-fade-slider-container {
        margin-top: 100px;
    }
}

@media screen and (max-width: 640px) {
    .table th.table-left {
    background: #8f8f8f;
    color: #fff;
    font-size: 18px;
}
    .table th {
    height: 40px;
    padding: 0;
    vertical-align: middle;
}

        section.section-top-title-left .image_box_left {
        height: 220px;
        bottom: -209px;
    }

    section.section-quotes-title-right .image_box_right {
    width: 100%;
    height: 225px;
}

    section.board-link {
    margin-top: 50px;
}
    .section08 {
    margin-top: 28px;
    }
.fade-in-slider .slick-arrow {
    position: absolute;
    bottom:25px;
    width: 77px;
    height: 51px;
    display: inline-block !important;
    text-indent: -999px;
    cursor: pointer;
    z-index: 11111111;
    }
    .section07 {
    margin-top: 50px;
    }
    body .left-fade-slider-container .slider-container {
    height: 400px;
    }
    .left-fade-slider-container .max-layout-width h2 {
    font-size: 26px;
    word-break: keep-all;
    /* padding: 0 20px; */
    box-sizing: border-box;
    width: 330px;
    margin: 0 auto;
    margin-top: -62px;
    padding-bottom: 16px;
    }
    .section04 .bg {
    height: 323px;
    bottom: -38px;
    }
    .section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 6px 0;
    position: relative;
    padding-left: 35px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
    }
    section.img-four li {
    padding: 27px 0 0 !important;
    height: 185px;
    margin: 0 !important;
}
    section.img-four p {
        font-size:14px;
        margin-bottom: 32px;
        line-height: 1.3;
        padding: 125px 0 0;
     }
    .section03 h2 {
    font-size: 28px;
    margin-bottom: -102px;
    margin-top: -76px;
    }
    .section02 .max-layout-width .text > div {
    padding-right:0px;
    position: relative;
    }
    .section03 {
        height: auto;
        margin-top: 86px;
    }
    .section05 .max-layout-width h2 {
        word-break: keep-all;
        line-height:1.3;
    }
    body .post-slider .posts .slide {
        padding: 0 5px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 414px) {
    body .section-top-title-left .section-title {
        font-size: 26px;
    }
    .section05 .max-layout-width h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    section.list-content .section-text + .pager {
        margin-top: 257px;
    }
    section.list-content .image_box_left {
        top: 225px;
        height: 200px;
    }
    section.list-content .section-text, section.list-content .pager {
        margin-bottom: 0;
    }
    .section04 .img {
        background-size: cover;
    }
    section.section-quotes-title-right .bg {
        height: 220px;
    }
    .section02 {
        margin: 0;
        padding-top: 255px;
    }
    .section02 .image_box_right .img {
        background-size: cover;
    }
    section.section-top-title-left .bg {
        height: 200px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 250px;
    }
}

@media screen and (max-width: 375px) {
    body .section-top-title-left .section-title {
        font-size: 28px;
    }
    section.section-quotes-title-right .bg {
        height: 226px;
    }
}

@media screen and (max-width: 360px) {
    body .section-top-title-left .section-title {
        font-size: 24px;
    }
    section.section-quotes-title-right .bg {
        height: 255px;
    }
}