.section01 {
    margin-top: 108px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 23px;
    padding-bottom: 172px;
}

.section01 .section-text {
    line-height: 1.5;
}

.section01 .section-text:first-child {
    margin-bottom: 10px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/partial/partial01.jpg) no-repeat center;
}


.section03 {
    height: 415px;
    margin-top: 100px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.section03 .max-layout-width .text {
    padding-top: 138px;
}

.section03 .max-layout-width .text h2 {
    line-height: 1.25;
    margin-bottom: 27px;
    font-size: 38px;
    letter-spacing: -2px;
    font-weight: 300;
}

.section03 .max-layout-width .text p {
    font-size: 17px;
    letter-spacing: -1px;
}

.section03 .max-layout-width .text span {
    color: #b0a295;
}

.section03 .bg {
    width: 100%;
    height: 100%;
    background: url(../../images/sub/orthodontics/partial/partial_bg.jpg) center top no-repeat fixed;
    padding-top: 144px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    background-size: cover;
}

.section04 {
    margin-top: 119px;
}

.section04 .section-title {
    line-height: 1.3;
    margin-bottom: 24px;
    padding-top: 57px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 310px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/orthodontics/partial/partial05.jpg) no-repeat center;
}

.section04 .bg {
    /* background: #f5f5f5; */
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section04 .text {
    padding-left:50%;
}

.section04 .text > div {
    padding-left: 84px;
}


.section05 {
    margin-top: 170px;
}

.section05 .max-layout-width .text {
    padding-right: 50%;
}

.section05 .max-layout-width .text > div {
    padding-right: 50px;
    position: relative;
}

.section05 .image_box_right {
    max-width: 1275px;
    height: 452px;
    width: 50%;
    z-index: 10;
}

.section05 .image_box_right .img {
    background: url(../../images/sub/orthodontics/partial/partial06.jpg) no-repeat center;
    background-size: cover;
}

.section05 .section-title {
    padding-top: 80px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 94px;
    padding-left: 100px;
    /* letter-spacing: -1px; */
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 0;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.5;
    position: relative;
    text-align: right;
    padding-left: 47px;
    padding-top: 20px;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 62px;
    background: #7f6a57;
    top: -74px;
    right: 0;
}

.section05 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 246px;
    left: 0px;
    bottom: -58px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}


.section07 {
    margin-top: 76px;
    text-align: center;
    margin-bottom: 91px;
}

.section07 .section-title {
    line-height: 1.3
}

.section07 ul {
    margin-top: 49px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section07 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section07 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section07 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section07 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section07 ul li p span:first-child {
    padding-top: 26px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section07 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section07 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section02 {
    text-align: center;
    padding-top: 90px;
}

.section02 .section-title {
    margin-bottom: 29px;
    font-size: 28px;
    padding-top: 24px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    margin-left: 2%;
    float: left;
    padding-top: 37px;
    background: #f3f3f3;
    padding-bottom: 33px;
}

.section02 li p {
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-top: -4px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/orthodontics/partial/partial_icon01.png) no-repeat top center;
    background-position-y: 10px;
}

.section02 .img02 {
    background: url(../../images/sub/orthodontics/partial/partial_icon02.png) no-repeat top center;
    background-position-y: 2px;
}

.section02 .img03 {
    background: url(../../images/sub/orthodontics/partial/partial_icon03.png) no-repeat top center;
}

.section02 .img04 {
    background: url(../../images/sub/orthodontics/partial/partial_icon04.png) no-repeat top center;
}

.section06 {
    margin-top: 189px;
}

section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}

.board-link .section-title {
    line-height: 1.25;
}

@media screen and (max-width: 1300px) {
    section.list-content .max-layout-width > div {
        padding-left: 0;
    }
    section.list-content .max-layout-width > div.text {
        padding-left: 50%;
    }
    .section04 .image_box_left {
        width: 50%;
    }
    .section04 .text > div {
        padding-left: 30px;
    }
}

@media screen and (max-width: 850px) {
    section.list-content .max-layout-width > div {
        /* padding-left: 50%; */
        width: 50%;
        /* position: absolute; */
        top: 0;
        left: 0;
    }
    section.list-content .max-layout-width > div.text {
        width: 100%;
    }
}

@media screen and (max-width: 754px) {
    .section03 {
    height: 250px;
    margin-top: 40px;
}
    section.list-content {
        margin-top: 0;
        padding-top: 0px;
    }
    section.list-content .max-layout-width > div {
        top: 140px;
        width: 100%;
    }
    .section04 .text > div {
        padding-left: 0;
    }
    section.list-content .max-layout-width > div.text {
        padding-left: 0;
    }
    section.list-content .section-title {
        width: 100%;
        padding-left: 0;
        margin-bottom: 380px;
    }
}

@media screen and (max-width: 640px) {
.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 6px 0;
    position: relative;
    padding-left: 27px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}
    
    section.board-link {
    margin-top: 50px;
}

    section.section-quotes-title-right .bg {
    bottom: -31px;
    height: 234px;
}
    .section05 .max-layout-width .text > div {
    padding-right: 20px;
    position: relative;
}
    .section05 {
    margin-top: 51px;
}
    section.section-top-title-left .image_box_left {
    height: 220px;
    bottom: -72px;
}
    .section02 ul {
        padding: 0 0px;
        box-sizing: border-box;
    }
    .section02 li {
        width: 48%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .section06 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 584px) {
    .section03 .max-layout-width {
        padding: 0 29px;
        box-sizing: border-box;
    }
    .section03 .max-layout-width .text h2 {
        word-break:keep-all;
        font-size: 26px;
        margin-bottom: 27px;
    }
    .section03 .max-layout-width .text p {
        word-break: keep-all;
        line-height:1.4;
        font-size: 14px;
        margin-top: -8px;
    }
    .section03 .max-layout-width .text {
        padding-top: 51px;
    }
}

@media screen and (max-width: 414px) {
    section.section-quotes-title-right.section05 .image_box_right {
        height: 220px;
    }
    .section02 li {
        padding-top: 8px;
    }
    .section02 li {
        height: 160px;
        box-sizing: border-box;
    }
    .section02 .img {
        transform: scale(0.8);
    }
    .section02 li p {
        font-size: 14px;
    }
    section.list-content .max-layout-width > div {
        top: 80px;
    }
    section.list-content .section-title {
        margin-bottom: 280px;
    }
    .section04 .img {
        background-size: contain
    }
}

@media screen and (max-width: 414px) {
    section.section05.section-quotes-title-right .max-layout-width .text {
        padding-top: 235px;
    }
    section.list-content .max-layout-width > div {
        top: 60px;
    }
    section.list-content .section-title {
        margin-bottom: 240px;
    }
}

@media screen and (max-width: 375px) {
    body .section-top-title-left.section01 .section-title {
        font-size: 28px;
    }
}