.section01 {
    margin-top: 164px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 86px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
    display: inline-block;
}

.section01 .bg {
    margin-top: 50px;
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 140px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 43px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -67px;
}

.section01 .img {
    background: url(../../images/sub/orthodontics/partial/partial01.jpg) no-repeat center;
}


.section03 {
    height: 431px;
    margin-top: 100px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.section03 .max-layout-width .text {
    padding-top: 134px;
}

.section03 .max-layout-width .text h2 {
    line-height: 1.4;
    margin-bottom: 50px;
    font-size: 39px;
}

.section03 .max-layout-width .text p {
    font-size: 17px;
}

.section03 .max-layout-width .text span {
    color: #b0a295;
}

.section03 .bg {
    width: 100%;
    height: 100%;
    background: url(../../images/sub/orthodontics/partial/partial_bg.jpg) center top no-repeat fixed;
    padding-top: 159px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}

.section04 {
    margin-top: 140px;
}

.section04 .section-title {
    line-height: 1.3;
    margin-bottom: 119px;
    padding-top: 30px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 433px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/orthodontics/partial/partial05.jpg) no-repeat center;
}

.section04 .bg {
    background: #f5f5f5;
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 11px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: bold;
    /* cursor: pointer; */
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section04 .text {
    padding-left:50%;
}

.section04 .text > div {
    padding-left: 84px;
}


.section05 {
    margin-top: 160px;
}

.section05 .max-layout-width .text {
    padding-right: 50%;
}

.section05 .max-layout-width .text > div {
    padding-right: 50px;
    position: relative;
}

.section05 .image_box_right {
    max-width: 1275px;
    height: 482px;
    width: 50%;
    z-index: 10;
}

.section05 .image_box_right .img {
    background: url(../../images/sub/orthodontics/partial/partial06.jpg) no-repeat center;
}

.section05 .section-title {
    padding-top: 100px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 134px;
    padding-left: 100px;
    letter-spacing: -1px;
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    left: 0;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: right;
    padding-left: 47px;
    padding-top: 20px;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 103px;
    background: #7f6a57;
    top: -115px;
    right: 0;
}

.section05 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 325px;
    left: 0px;
    bottom: -80px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}


.section07 {
    margin-top: 147px;
    text-align: center;
    margin-bottom: 206px;
}

.section07 .section-title {
    line-height: 1.3
}

.section07 ul {
    margin-top: 83px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section07 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section07 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section07 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section07 ul li p {
    height: 113px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section07 ul li p span:first-child {
    padding-top: 42px;
    display: block;
    font-size: 33px;
    color: #fff;
    font-weight: bold;
}

.section07 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 9px;
    font-size: 19px;
    color: #fff;
}

.section07 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section02 {
    text-align: center;
    padding-top: 100px;
}

.section02 .section-title {
    margin-bottom: 45px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    margin-left: 2%;
    float: left;
    padding-top: 54px;
    background: #f3f3f3;
    padding-bottom: 37px;
}

.section02 li p {
    line-height: 1.7;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    margin-top: 13px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/orthodontics/partial/partial_icon01.png) no-repeat top center;
    background-position-y: 10px;
}

.section02 .img02 {
    background: url(../../images/sub/orthodontics/partial/partial_icon02.png) no-repeat top center;
    background-position-y: 2px;
}

.section02 .img03 {
    background: url(../../images/sub/orthodontics/partial/partial_icon03.png) no-repeat top center;
}

.section02 .img04 {
    background: url(../../images/sub/orthodontics/partial/partial_icon04.png) no-repeat top center;
}

.section06 {
    margin-top: 240px;
}