#contents {
    overflow: hidden;
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto_sans/NotoSansKR-Regular.woff'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/noto_sans/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto_sans/NotoSansKR-Regular.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto_sans/NotoSansKR-Medium.woff'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Medium'),
    url('../fonts/noto_sans/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto_sans/NotoSansKR-Medium.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/noto_sans/NotoSansKR-Thin.woff'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Thin'),
    url('../fonts/noto_sans/NotoSansKR-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto_sans/NotoSansKR-Thin.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/noto_sans/NotoSansKR-Light.woff'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Light'),
    url('../fonts/noto_sans/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto_sans/NotoSansKR-Light.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/noto_sans/NotoSansKR-Bold.woff'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/noto_sans/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto_sans/NotoSansKR-Bold.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nanum_myeongjo/NanumMyeongjoBold.eot'); /* IE9 Compat Modes */
url('../fonts/nanum_myeongjo/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/nanum_myeongjo/NanumMyeongjoBold.woff') format('woff'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanum_myeongjo/NanumMyeongjo.eot'); /* IE9 Compat Modes */
url('../fonts/nanum_myeongjo/NanumMyeongjo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/nanum_myeongjo/NanumMyeongjo.woff') format('woff'), /* Super Modern Browsers */
}


@font-face {
    font-family: 'KCC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kcc/KCC.eot'); /* IE9 Compat Modes */
    src: url('../fonts/kcc/KCC.eot?#iefix') format('embedded-opentype'), /* IE9 Compat Modes */
    url('../fonts/kcc/KCC.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/kcc/KCC.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anton/anton-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Anton Regular'), local('Anton-Regular'),
    url('../fonts/anton/anton-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/anton/anton-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/anton/anton-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/anton/anton-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/anton/anton-v12-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ink';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/InkLipquid/InkLipquid.woff'); /* IE9 Compat Modes */
url('../fonts/InkLipquid/InkLipquid.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/gmarket-sans/GmarketSansLight.woff'); /* IE9 Compat Modes */
url('../fonts/gmarket-sans/GmarketSansLight.woff2') format('woff2'), /* Modern Browsers */
url('../fonts/gmarket-sans/GmarketSansLight.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gmarket-sans/GmarketSansMedium.woff'); /* IE9 Compat Modes */
url('../fonts/gmarket-sans/GmarketSansMedium.woff2') format('woff2'), /* Modern Browsers */
url('../fonts/gmarket-sans/GmarketSansMedium.woff') format('woff') /* Modern Browsers */
}

@font-face {
    font-family: 'gmarket';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/gmarket-sans/GmarketSansBold.woff'); /* IE9 Compat Modes */
url('../fonts/gmarket-sans/GmarketSansBold.woff2') format('woff2'), /* Modern Browsers */
url('../fonts/gmarket-sans/GmarketSansBold.woff') format('woff') /* Modern Browsers */
}


* {
    font-family: Noto Sans KR !Important;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section {
    position: relative;
}

/* ---- ea€?a€?i??i?A¸ eA³I¼ia€?I¼ ---- */

/* i?A“eA¸A’ i?a?￢i?A´i?a?￢ */
.sub-page-title {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 71px;
    text-align: center;
    letter-spacing: -2px;
}

.sub-page-intro {
    font-size: 13px;
    text-align: center;
    letter-spacing: 5px;
    color: #ddd;
    width: 49px;
    height: 5px;
    background: #9b8b7e;
    text-indent: -9999px;
    margin: 0 auto;
}

.default-background {
    background: #7e6956;
}



/* ii¿?A’i?A°eA¡A“ eA¶a?￠e?a€? i?A´e?A¸iA§a?￢ */
.image_box_left {
    position: absolute;
    left: 0;
}

.image_box_right {
    position: absolute;
    right: 0;
}

.image_box_left .img,
.image_box_right .img {
    width: 100%;
    height: 100%;
    transition: all 1.5s cubic-bezier(.42,.48,.06,1.01);
}

.section-title {
    font-size: 37px;
    /* margin-bottom: 19px; */
    color: #212121;
    letter-spacing: -3px;
    font-weight: 200;
}

.section-title strong {
    font-weight: 500;
}

.section-title-color {
    color: #9b8b7e;
    font-weight: 500;
}

.section-text {
    font-size: 16px;
    color: #222;
    line-height: 1.6;
    letter-spacing: -1.5px;
    padding-top: 18px;
}

.section-text strong {
    font-weight: 500;
}

.max-layout-width {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.full-layout-width {
    width: 100%;
}

.bold {
    font-weight: 500;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.text-decoration-none {
    text-decoration: none;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* font-size */
.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

/* width */
.width-100 {
    width: 100%;
}

/* text-align */
.text-align-center {
    text-align: center;
}

/* position */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* before, after */
.module:before, .module:after {
    content: '';
    position: absolute;
    z-index: 4;
}

.module {
    position: relative;
}

body .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

.move-title {
    font-size: 67px;
    line-height: 80px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 59px;
    bottom: 0;
    letter-spacing: 2px;
    font-family: Anton !important;
}

.detail:after {
    background: url(../images/sub/info/intro/icon_go.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -36px;
    bottom: -2px;
    content: '';
}

strong {
    font-weight: 500;
}

.section-top-title-left .max-layout-width {
    max-width: 100%;
    box-sizing: border-box;
}


/* treatment-case */
.treatment-case {
    padding: 93px 0;
    background: #f5f5f5 url(../images/sub/implant/cmmn/digital_bg.jpg) center;
    text-align: center;
}

.treatment-case .treatment-case-slider {
    width: 100%;
    height: 387px;
    /* overflow: hidden; */
}

.treatment-case .max-layout-width {
    position: relative;
    padding-bottom: 40px;
    display: inline-block;
}

.treatment-case .max-layout-width > div {
    float: right;
}

.treatment-case .max-layout-width .text {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.treatment-case .max-layout-width .text h2 {
    font-size: 37px;
    color: #fff;
    margin-bottom: 29px;
    /* font-weight: bold; */
    letter-spacing: -2.5px;
}

.treatment-case .max-layout-width .text p {
    line-height: 1.7;
    word-break: keep-all;
    letter-spacing: -1px;
    margin-bottom: 56px;
    font-weight: 300;
}

.treatment-case .treatment-case-swiper-slide {
    overflow: hidden;
}

.treatment-case .treatment-case-swiper-slide div {
    width: 650px;
    height: 387px;
    float: left;
    overflow: hidden;
    position: relative;
}

.treatment-case .treatment-case-swiper-slide div.text-title {
    width: 100%;
    height: 58px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    line-height: 58px;
    position: absolute;
    bottom: 0;
}

.treatment-case .left-img1 {
    background: url(../images/sub/implant/cmmn/case_after01.jpg);
}

.treatment-case .left-img1 div {
    background: #545454;
}

.treatment-case .right-img1 {
    background: url(../images/sub/implant/cmmn/case_before01.jpg);
}


.treatment-case .right-img1 div {
    background: #9b8b7e;
}


.treatment-case .treatment-case-scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #ccc;
}

.treatment-case .treatment-case-scroll-bar-drag {
    width: 33.3333333333%;
    background: #76695e;
    height: 3px;
    transition: left 500ms;
    cursor: pointer;
}

.treatment-case .slick-arrow {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 45px;
    z-index: 1000000;
    cursor: pointer;
}

.treatment-case .slider-prev {
    background: url(../images/sub/implant/cmmn/right_arrow02.png) no-repeat center;
    left: -70px;
}

.treatment-case .slider-next {
    background: url(../images/sub/implant/cmmn/left_arrow02.png) no-repeat center;
    right: -70px;
}

section.board-link {
    margin-top: 110px;
}

section.board-link ul {
    margin-left: -3.3333333333%;
}

section.board-link ul li {
    width: 30%;
    margin-left: 3.3333333333%;
}

.board-link {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 119px;
}

.board-link .section-title {
    line-height: 1.3
}

.board-link ul {
    margin-top: 49px;
    margin-left: -3.07%;
    overflow: hidden;
}

.board-link ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 265px;
}

.board-link ul li:first-child {
    background: url(../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.board-link ul li.center-img {
    background: url(../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.board-link ul li.last-img {
    background: url(../images/sub/implant/digital/digital22.jpg) no-repeat top center;
}

.board-link ul li p {
    height: 56px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.board-link ul li p span:first-child {
    padding-top: 18px;
    display: block;
    font-size: 19px;
    color: #fff;
    /* font-weight: bold; */
    letter-spacing: -2px;
}

.board-link ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-indent: -9999px;
}

.board-link ul li p span.view:after {
    border: 1px solid #fff;
    background: url(../images/sub/implant/cmmn/more.png) no-repeat center;
    content: '';
    position: absolute;
    right: -64px;
    width: 35px;
    height: 35px;
    bottom: -6px;
}

.header-banner-slider-continer01 img {
    width: 100%;
}

.list-content .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 1px;
    background: url(../images/sub/tooth/aesthetic/check_small.png) no-repeat;
    width: 28px;
    height: 24px;
    text-indent: -9999px;
}

@media screen and (max-width: 1300px) {
    section.section-top-title-right-two .img {
        width: 48%;
        margin-left: 2%;
        margin-right: 0;
    }
    section.section-top-title-right-two .section-text {
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
    }
    section-quotes-title-right .section-title {
        padding-right: 30px;
        box-sizing: border-box;
        word-break: keep-all
    }
    section.list-content .max-layout-width > div {
        padding-left: 54%;
    }
    section.list-content .pager {
        font-size: 14px;
    }
    section.list-content .section-title {
        margin-left: 0;
        font-size: 32px;
        word-break: keep-all;
    }
    section.list-content .section-text {
        margin-left: 0;
        font-size: 14px;
        word-break: keep-all;
    }
    section.section-top-title-left-two .section-title {
        padding-right: 10px;
        word-break: keep-all;
    }
    section.section-top-title-left-two .section-text {
        width: 50%;
        word-break: keep-all;
    }
    section.section-top-title-left-two ul {
        margin-left: -1%;
    }
    section.section-top-title-left-two .img {
        width: 49%;
        margin-left: 1%;
        margin-right: 0;
    }
    section.section-top-title-left-two .text {
        padding-left: 30px;
        box-sizing: border-box;
    }
    table .table-middle {
        width: 14%;
    }
    table .table-left, table .table-right {
        width: 43%;
    }
    .board-link ul {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .treatment-case .treatment-case-swiper-slide div {
        width: 50%;
        background-position: center;
        background-size: cover;
    }
    .treatment-case .treatment-case-slider {
    }
    .treatment-case .slider-prev {
        left: 0;
    }
    .treatment-case .slider-next {
        right: 0;
    }
    section.background-common .section-title {
        padding: 0 30px;
        box-sizing: border-box;
        padding-top: 119px;
        line-height: 1.4;
        word-break: keep-all;
    }
    body .section-top-title-left .bg .max-layout-width > div{
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
    }
    body .section-top-title-left .text > div, body .section-top-title-left .bg .max-layout-width > div {
        padding-left: 40px
    }
    .two-image-right-text .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .two-image-right ul {
        padding: 0 30px;
        box-sizing: border-box;
        margin-left: -2%;
        display: block;
    }
    section.two-image-right .max-layout-width > * {
        width: 50%;
    }
    section.two-image-right .max-layout-width li {
        width: 48%;
        margin-left: 2%;
        margin-right: 0;
    }
    section.two-image-right .max-layout-width li img {
        width: 100%;
    }
    section.section-quotes-title-left .section-text {
        padding-right: 30px;
        box-sizing: border-box;
    }
    section.section-quotes-title-left .max-layout-width .text > div {
        padding-left: 50px;
    }
    section.section-quotes-title-left .max-layout-width .text > div:before {
        left: 30px;
    }
    section.section-quotes-title-left .section-title {
        font-size: 32px;
        word-break: keep-all
    }
}

@media screen and (max-width: 1000px) {
    section.img-four ul {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    section.img-four .image_box_right{
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    section.list-content .section-text + .pager {
        margin-top: 310px;
    }
    section.list-content {
        padding-top: 100px;
    }
    section.list-content .max-layout-width > div {
        padding-left: 0;
        width: 100%;
    }
    section.list-content .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    section.list-content .image_box_left {
        width: 93%;
        height: 294px;
        top: 310px;
        left: 3.5%;
    }
}

@media screen and (max-width: 768px) {

    section.section-top-title-right-two {
        padding-bottom: 330px;
    }
    section.section-top-title-right-two .img {
        background-size: cover
    ;
    }
    section.section-top-title-right-two .max-layout-width .text > div {
        padding-left: 30px;
    }
    section.section-top-title-right-two .max-layout-width .text, .section04 .max-layout-width ul {
        width: 100%;
    }
    section.section-top-title-right-two .max-layout-width ul {
        position: absolute;
        top: 300px;
        width: 100%;
        margin-left: -2%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    section.section-quotes-title-right .bg {
        width: 100%;
    }
    section.section-quotes-title-right .section-text {
        text-align: left;
        padding: 0 30px;
        box-sizing: border-box;
        word-break: keep-all
    }
    section.section-quotes-title-right .section-text:before {
        left: 30px;
    }
    section.section-quotes-title-right .max-layout-width .text > div:before {
        left: 30px;
    }
    section.section-quotes-title-right .section-title {
        padding-left: 130px;
    }
    section.section-quotes-title-right .image_box_right {
        width: 100%;
        height: 323px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        width: 100%;
        padding-right: 0;
        padding-top: 350px;
    }
    section.section-top-title-left-two .img {
        background-size: cover;
        width: 48%;
        margin-left: 2%;
        height: 310px;
    }
    body section.section-top-title-left-two .max-layout-width ul {
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    section.section-top-title-left-two .section-text {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
    body section.section-top-title-left-two .text {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .mobile_display_none {
        display: none;
    }

    section.section-top-title-left .img {
        background-size: contain;
        background-repeat: no-repeat;
    }

    section.section-top-title-left .image_box_left {
        width: 100%;
        height: 342px;
        bottom: 0;
        top: inherit;
    }
    section.section-top-title-left .text, section.section-top-title-left .bg .max-layout-width {
        width: 100%;
        padding-left: 0;
    }
    section.section-top-title-left .bg {
        margin-top: 0;
        padding-top: 10px;
    }

    section.section-top-title-left {
        background: #f5f5f5;
        padding-top: 60px;
        margin-top: 55px;
        padding-bottom: 240px;
    }
}

@media screen and (max-width: 640px) {
    div.sub {
        padding-top: 0;
    }
    section.img-four p {
        padding: 0 30px;
        box-sizing: border-box;
        word-break: keep-all;
    }
    section.img-four .text li {
        width: 50%;
    }
    .table-container {
        overflow: scroll
    }
    section.table table {
        width: 640px;
    }
    .table .table-left,.table .table-right {
        font-size: 13px;
    }
    section.table .table-middle {
        font-size: 15px;
    }
    .section-text {
        font-size: 14px;
    }
    .board-link .section-title {
        font-size: 30px;
    }
    section.board-link ul li {
        width: 100%;
        background-size: cover !important;
        margin-bottom: 30px;
    }
    .treatment-case .treatment-case-scroll-bar {
        left: 30px;
    }
    .treatment-case .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .treatment-case .max-layout-width .text p {
    }
    .treatment-case .treatment-case-swiper-slide div.text-title {
        height: 50px;
        line-height: 50px;
    }
    .treatment-case .slider-prev {
        left: 30px;
    }
    .treatment-case .slider-next {
        right: 30px;
    }
    .treatment-case .slick-arrow {
        top: 218px;
    }
    .treatment-case .treatment-case-slider {
        height: 610px;
    }
    section.treatment-case .left-img {
        height: 240px;
    }
    section.treatment-case .right-img {
        height: 345px;
    }
    .treatment-case .treatment-case-swiper-slide div {
        width: 100%;
    }
    section.background-common {
        padding-bottom: 50px;
    }
    section.background-common .imp-img {
        width: 80%;
        background-position-x: center;
        box-sizing: border-box;
        background-size: contain;
    }
    section.background-common .section-text {
        padding: 0 30px;
        box-sizing: border-box;
        margin-top: 30px
    }
    section.background-common .section-text br {
        display: none;
    }
    section.section-quotes-title-left .section-text:before {
        top: -120px;
    }
    section.section-quotes-title-left .bg {
        width: 100%;
    }
    section.section-quotes-title-left .section-title {
        padding-left: 80px
    }
    section.section-quotes-title-left .image_box_left {
        width: 100%;
        height: 330px;
    }
    section.two-image-right .max-layout-width > * {
        width: 100%;
    }
    section.section-quotes-title-left .max-layout-width .text {
        padding-left: 0;
        padding-top: 350px;
    }
    section.two-image-right .image_box_right {
        top: -40px;
        padding: 0 50px;
        box-sizing: border-box;
    }
    section.two-image-right  .max-layout-width ul {
        padding-top: 620px;
    }
    section.two-image-right {
        height: auto;
        padding-bottom: 75px;
    }
    section.two-image-right-text .section-text {
        width: 100%;
    }
    section.two-image-right-text .section-title {
        word-break: keep-all;
    }
}

@media screen and (max-width: 474px) {
    section.list-content .section-title {
        font-size: 25px;
    }
    section.list-content .section-text, section.list-content .pager {
        font-size: 12px;
    }
    section.list-content .section-text + .pager {
        margin-top: 350px;
    }
}

@media screen and (max-width: 414px) {
    section.section-quotes-title-left .max-layout-width .text > div:before {
        width: 100px;
        height: 100px;
        background-size: contain;
    }

    section.section-top-title-right-two {
        padding-bottom: 150px;
    }
    section.section-top-title-right-two .img {
        background-size: contain;
        height: 157px;
    }
    section.section-top-title-left .bg {
        padding-bottom: 0;
        height: 360px;
    }
    section.section-top-title-left .image_box_left {
        height: 163px;
    }
    section.section-quotes-title-right .bg {
        bottom: -25px;
    }
    .table .max-layout-width h2 {
        line-height: 1.3;
        word-break: keep-all;
    }
    section.section-quotes-title-right .section-title {
        padding-left: 50px;
    }
    section.section-quotes-title-right .section-title br {
        display: none;
    }
    section.section-top-title-left-two .img {
        margin-bottom: 30px;
        background-size: contain;
        height: 185px;
    }
    body .section-top-title-left .text > div, body .section-top-title-left .bg .max-layout-width > div {
        padding: 0 30px;
    }
    body .section-top-title-left .section-title {
        font-size: 32px;
    }
    section.two-image-right-text .section-title br {
        display: none;
    }
    section.section-quotes-title-left .bg {
        height: 400px
    }
    section.background-common {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 375px) {
    section.section-top-title-left {
        padding-bottom: 200px;
    }
    section.section-quotes-title-right .bg {
        bottom: -25px;
        height: 260px;
    }
}

@media screen and (max-width: 360px) {
    section.section-top-title-left {
        padding-bottom: 180px;
    }
    section.list-content .image_box_left {
        top: 350px;
    }
    section.section-quotes-title-right .bg {
        bottom: -15px;
        height: 280px;
    }
}