.sub {
    width: 100%;
    /* height: 538px; */
    padding-top: 137px;
}
.sub-image {
    position: relative;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 104px;
    height: 100%;
}

.sub-image h2 {
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -2px;
}

.sub-image h2 + p {
    margin-top: 35px;
    margin-bottom: 10px;
}

.sub-image p {
    font-size: 16px;
    color: #fff;
    letter-spacing: -1px;
    line-height: 16px;
}

.sub nav {
    height: 57px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(10, 11, 15, 0.5);
}

.sub nav ul {
    display: inline-block;
}

.sub nav li {
    float: left;
    padding: 0 36px;
}

.sub nav a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fefefe;
    font-size: 16px;
    line-height: 57px;
    position: relative;
    letter-spacing: -1px;
}

.sub nav a:hover,
.sub nav a.active {
    color: #b9a799;
}

.sub nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #b9a799;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    height: 0;
    background: #fff;
}

.sub nav a:hover:after,
.sub nav a.active:after {
    height: 2px;
    background: #b9a799;
}

.breadcrumb {
    position: relative;
}

.breadcrumb > ul {
    position: absolute;
    top: 7px;
    right: 0;
}

.breadcrumb ul li {
    float: left;
}

.breadcrumb ul li {
    height: 40px;
    border-bottom: 1px solid #9b9d9c;
}

.breadcrumb ul li:first-child {
    width: 63px;
    text-indent: -9999px;
    background: url(../images/cmmn/icon_home.png) no-repeat center top;
    cursor: pointer;
    position: relative;
}

.breadcrumb ul li a {
    color: #a9a9a9;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.breadcrumb ul li a.category {
    width: 118px;
    letter-spacing: -1px;
    position: relative;
    text-align: center;
}

.breadcrumb ul li a.category:before, .breadcrumb ul li:first-child:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 12px;
    background: url(../images/cmmn/arrow.png);
    right: 0;
    top: 3px;
}

.breadcrumb ul li a.category-url {
    color: #fffeff;
    padding: 0 25px;
    border-bottom: 2px solid #fffeff;
    box-sizing: border-box;
    letter-spacing: -1px;
}

.sub-image {
    height: 379px;
    background-size: cover;
    background-position: center;
}

.sub-image > .max-layout-width:first-child {
    padding-left: 220px;
    box-sizing: border-box;
}
.mobile-category {
    display: none;
}
@media screen and (max-width: 850px) {
    .mobile-category {
        display: block;
    }
    .pc-category {
        display: none;
    }
    .sub-image > .max-layout-width:first-child {
        padding-left: 33px;
    }
    .mobile-category {
        position: absolute;
        bottom: 0;
        height: 43px;
        width: 100%;
    }

    .mobile-category ul.sub-category-active {
        width: 100%;
        display: inline-block;
        padding-left: 70px;
        box-sizing: border-box;
        height: 100%;
    }
    .mobile-category ul.sub-category-active > li:first-child {
        width: 70px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6) url(../images/cmmn/icon_home.png) no-repeat center;
        border: none;
    }
    .mobile-category ul.sub-category-active > li {
        width: 50%;
        height: 43px;
        float: left;
        background: rgba(0,0,0,0.6);
        line-height: 44px;
        color: #fff;
        border-left: 1px solid #fff;
        box-sizing: border-box;
        position: relative;
    }
    .mobile-category ul.sub-category-active > li > span {
        color: #fff;
        /* text-align: left; */
        padding-left: 15px;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        position: relative;
    }
    .mobile-category ul.sub-category-active > li.active > span:before {
        transform: rotate(180deg);
    }
    .mobile-category ul.sub-category-active > li > span:before {
        background: url(../images/cmmn/sub_arrow.png) right center;
        position: absolute;
        content: '';
        width: 13px;
        height: 9px;
        right: 12px;
        top: 18px;
    }
    .mobile-category ul.sub-category-active > li:before {
        display: none;
    }
    .sub-category-list.active {
        display: block;
    }
    .sub-category-list {
        position: absolute;
        top: 43px;
        width: 100%;
        z-index: 100000;
        display: none;
    }
    .sub-category-list li {
        background: rgba(0,0,0,0.7);
    }
    .sub-category-list a {
        padding-left: 20px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
    }
}

@media screen and (max-width: 414px) {
    .mobile-category ul.sub-category-active > li > span,
    .sub-category-list a {
        font-size: 13px;
    }

    .sub-image h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -2px;
    padding-top: 13px;
}

    .sub-image p {
    font-size: 14px;    
}

.sub-image h2 + p {
    margin-top: 13px;
    margin-bottom: 4px;
    font-size: 14px;
}
    .sub-image {
    height: 280px;
    background-size: cover;
    background-position: center;
}