@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/noto-sans/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nanum_myeongjo/NanumMyeongjoBold.eot'); /* IE9 Compat Modes */
url('../fonts/nanum_myeongjo/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/nanum_myeongjo/NanumMyeongjoBold.woff') format('woff'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanum_myeongjo/NanumMyeongjo.eot'); /* IE9 Compat Modes */
url('../fonts/nanum_myeongjo/NanumMyeongjo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/nanum_myeongjo/NanumMyeongjo.woff') format('woff'), /* Super Modern Browsers */
}

* {
    font-family: Noto Sans KR !Important;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section {
    position: relative;
}

/* ---- e””i??i?¸ e³μi†μ ---- */

/* i?œe¸Œ i?€i?´i?€ */
.sub-page-title {
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 71px;
    text-align: center;
}

.sub-page-intro {
    font-size: 13px;
    text-align: center;
    letter-spacing: 5px;
}

.default-background {
    background: #7e6956;
}



/* i￠Œi?°e¡œ e¶™e?” i?´e?¸i§€ */
.image_box_left {
    position: absolute;
    left: 0;
}

.image_box_right {
    position: absolute;
    right: 0;
}

.image_box_left .img,
.image_box_right .img {
    width: 100%;
    height: 100%;
    transition: all 1.5s cubic-bezier(.42,.48,.06,1.01);
}

.section-title {
    font-size: 38px;
    margin-bottom: 19px;
    color: #212121;
}

.section-title strong {
    font-weight: bold;
}

.section-title-color {
    color: #9b8b7e;
}

.section-text {
    font-size: 16px;
    color: #222;
    line-height: 27px;
}

.section-text strong {
    font-weight: bold;
}

.max-layout-width {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.full-layout-width {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.text-decoration-none {
    text-decoration: none;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* font-size */
.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

/* width */
.width-100 {
    width: 100%;
}

/* text-align */
.text-align-center {
    text-align: center;
}

/* position */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* before, after */
.module:before, .module:after {
    content: '';
    position: absolute;
    z-index: 4;
}

.module {
    position: relative;
}

body .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

.move-title {
    font-size: 67px;
    line-height: 80px;
    color: #eee;
    font-weight: 600;
    margin-bottom: 108px;
    bottom: 0;
}

.detail:after {
    background: url(../images/sub/info/intro/icon_go.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -36px;
    bottom: -2px;
    content: '';
}

strong {
    font-weight: bold;
}

.section-top-title-left .max-layout-width {
    max-width: 100%;
    box-sizing: border-box;
}


/* treatment-case */
.treatment-case {
    padding: 140px 0;
    background: #f5f5f5 url(../images/sub/implant/cmmn/digital_bg3.jpg) center;
}

.treatment-case .treatment-case-slider {
    width: 868px;
    height: 329px;
    overflow: hidden;
}

.treatment-case .max-layout-width {
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}

.treatment-case .max-layout-width > div {
    float: left;
}

.treatment-case .max-layout-width .text {
    width: 432px;
    box-sizing: border-box;
    padding-left: 63px;
}

.treatment-case .max-layout-width .text h2 {
    font-size: 32px;
    color: #222;
    margin-bottom: 40px;
    font-weight: bold;
}

.treatment-case .max-layout-width .text p {
    line-height: 1.7;
    word-break: keep-all;
}

.treatment-case .treatment-case-swiper-slide {
    overflow: hidden;
}

.treatment-case .treatment-case-swiper-slide div {
    width: 434px;
    height: 329px;
    float: left;
    overflow: hidden;
}

.treatment-case .left-img1 {
    background: url(../images/sub/implant/cmmn/case_after01.jpg);
}

.treatment-case .right-img1 {
    background: url(../images/sub/implant/cmmn/case_before01.jpg);
}

.treatment-case .treatment-case-scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 868px;
    height: 3px;
    background: #ccc;
}

.treatment-case .treatment-case-scroll-bar-drag {
    width: 289.33px;
    background: #76695e;
    height: 3px;
    transition: left 500ms;
    cursor: pointer;
}