header {
    position: fixed;
    width: 100%;
    z-index: 10000000000000;
}

header .header-banner-slider-continer .bx-wrapper {
    border: none;
    margin: 0;
    box-shadow: none;
}

.header-panel .header-banner-slider-continer {
    padding-top: 16px;
}

.header-banner-close {
    width: 32px;
    height: 18px;
    color: #fff;
    background: #333 url(../images/main/banner_close.png) no-repeat center;
    padding-left: 8px;
    line-height: 16px;
    box-sizing: border-box;
}

.header-banner-small-slider {
    font-size: 14px;
}

.header-banner-small-slider img,
.header-banner-small-slider .slider-text {
    float: left;
}

.small-slider-img {
    margin-right: 14px;
}

.header-banner-small-slider .slider-text p:first-child {
    margin-top: 3px;
    margin-bottom: 4px;
}

.header-panel {
    width: 100%;
    margin-top: 32px;
    padding: 0px 43px;
    box-sizing: border-box;
}

.header-panel > div {
    /* width: 33.333333333333333333%; */
    float: left;
}

.header-logo {
    text-align: center;
    padding-top: 24px;
    margin-left: 63px;
    padding-right: 5%;
    box-sizing: border-box;
}

.header-member {
    text-align: right;
    padding-left: 3%;
    display: inline-block;
    width: 100%;
}

.header-member > div {
    margin-right: 4px;
    padding-bottom: 11px;
}

.header-member > div > div {
    float: left;
    text-align: center;
}

.header-member p {
    margin-top: 4px;
    color: #222;
}

.header-member a {
    color: #777;
    /* width: 100px; */
    display: inline-block;
}

.header-member a > * {
    float: left;
}

.header-member a img {
    margin-right: 5px;
}

.login-nav {
    padding-right: 18px;
    position: relative;
    margin-right: 14px;
}

.login-nav:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: #989898;
    right: 0;
    top: 6px;
}

.login-nav img {
    margin-top: 3px;
    margin-bottom: 2px;
}

.bx-wrapper .bx-controls-direction a {
    margin-top: -43px;
    padding-left: 5px;
    padding-top: 3px;
    box-sizing: border-box;
}

.bx-wrapper .bx-controls-direction a.bx-prev {
    width: 18px;
    height: 18px;
    border: 1px solid #d1d1d1;
    left: 85px;
    background: url(../images/main/arrow_left00.png) no-repeat center;
}

.bx-wrapper .bx-controls-direction a.bx-next {
    width: 17px;
    height: 18px;
    border: 1px solid #d1d1d1;
    border-left: none;
    left: 103px;
    background: url(../images/main/arrow_right00.png) no-repeat center;
}

header .cmmn-nav nav ol li {
    width: 16.6666666666666666%;
    float: left;
    font-size: 15px;
    cursor: pointer;
    /* border-right: 1px solid #bbb; */
    text-align: center;
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
}

header .cmmn-nav nav ol li a {
    text-decoration: none;
    color: #222;
    width: 100%;
    height: 18px;
    display: inline-block;
    letter-spacing: -1.5px;
    font-size: 16.5px;
    position: relative;
}

header .cmmn-nav nav ol a:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    display: block;
    background: #cec4bd;
    bottom: -31px;
    width: 0;
    transition: all 0.2s ease-out;
    left: 50%;
}

header .cmmn-nav nav ol a.active:before,
header .cmmn-nav nav ol a:hover:before {
    width: 100%;
    margin-left: -50%;
}

header .cmmn-nav nav ol li:first-child {
    /* border-left: 1px solid #bbb; */
}

header .cmmn-nav nav ol li a:hover,
header .cmmn-nav nav ol li a.active {
    color: #7e6956;
}

header .header-line {
    background: #bbb;
    height: 1px;
    width: 100%;
    margin: 16px 0;
    margin-bottom: 1px;
}

header .nav-detail {
    position: relative;
    z-index: 1;
    letter-spacing: -1px;
    clear: both;
    border-top: 1px solid #bbb;
}

header .nav-detail .max-layout-width {
    position: relative;
    width: 1080px;
}

header .nav-detail > li {
    position: absolute;
    width: 100%;
    background: url(../images/category/category_bg.jpg) no-repeat center;
    overflow: hidden;
    padding-bottom: 10px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    height: 309px;
    display: none;
}

header .nav-detail > li .title,
header .nav-detail > li .sub-category {
    float: left;
}

header .nav-detail > li .title {
    padding-top: 57px;
    width: 300px;
    text-align: left;
}

header .nav-detail > li .title h2 {
    font-size: 32px;
    color: #9b8b7e;
    font-weight: 500;
    margin-bottom: 30px;
}

header .nav-detail > li .title p {
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    /* font-weight: 300; */
}

header .nav-detail > li .sub-category {
    padding-top: 50px;
    height: 100%;
    text-align: left;
}

header .nav-detail > li .sub-category li a {
    font-size: 16px;
    color: #222;
    margin-bottom: 19px;
    display: inline-block;
    position: relative;
    padding-right: 5px;
    font-weight: 500;
}

header .nav-detail > li .sub-category li a:hover {
    color: #9c8c7d;
}

header .nav-detail > li .sub-category li a:hover:before {
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background: #9c8c7d;
    content: '';
}

header .nav-detail > li .sub-category li a:hover:after {
    position: absolute;
    bottom: 5px;
    width: 5px;
    height: 5px;
    background: #9c8c7d;
    content: '';
    left: -18px;
}

header .nav-detail > li .sub-category .img {
    width: 382px;
    height: 218px;
    position: absolute;
    right: 0;
    top: 50px;
}

header .nav-detail > li .sub-category .img.img01 {
    background: url(../images/category/category01.jpg)
}

header .nav-detail > li .sub-category .img.img02 {
    background: url(../images/category/category02.jpg)
}

header .nav-detail > li .sub-category .img.img03 {
    background: url(../images/category/category03.jpg)
}

header .nav-detail > li .sub-category .img.img04 {
    background: url(../images/category/category04.jpg)
}

header .nav-detail > li .sub-category .img.img05 {
    background: url(../images/category/category05.jpg)
}

header .cmmn-nav ol {
    padding: 31px 0;
    width: 1150px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

header .fixed {
    width: 100%;
    z-index: 10000000000;
    background: #fff;
    top: 0;
    display: inline-block;
    text-align: center;
}

header .fixed-box {
    width: 100%;
    max-width: 1905px;
    display: inline-block;
}

header .fixed-box > div {
    float: left;
    height: 80px;
}

header.active {
    padding-top: 140px;
}

header.active .fixed {
    position: fixed;
}

.header-banner-slider-continer01 {
    height: 56px;
    position: relative;
    overflow: hidden;
}

.header-banner-slider-continer01 .slide-item-box {
    text-align: center;
}

.header-banner-slider-continer01 .slide-item {
    display: inline-block;
    padding-bottom: 0;
    line-height: 56px;
    color: #fff;
}

.header-banner-slider-continer01 .slide-item * {
    float: left;
}

.header-banner-slider-continer01 .slide-item img {
    width: auto;
    margin-right: 25px;
}

.header-banner-slider-continer01 .slide-item span {
    font-size: 16px;
}

.header-banner-slider-continer01 .slide-item .go {
    margin-left: 15px;
    background: #151d36;
    width: 81px;
    height: 31px;
    margin-top: 12px;
    line-height: 31px;
    font-size: 11px;
    border-radius: 20px;
}

.header-banner-slider-continer01 .bx-wrapper .bx-pager {
    position: absolute;
    top: 0;
    padding: 0;
    height: 0;
    width:  1300px;
    text-align: left;
    left: 50%;
    margin-left: -650px;
    padding-top: 24px;
    box-sizing: border-box;
}

.header-banner-slider-continer01 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}

.header-banner-slider-continer01 .bx-wrapper .bx-pager.bx-default-pager a {
    background: #aacccd;
    margin: 0px 2px;
    width: 8px;
    height: 8px;
}

header .banner-close {
    position: absolute;
    top: 0;
    width: 1300px;
    right: 50%;
    margin-right: -650px;
    text-align: right;
    height: 0;
}

header .banner-close span {
    float: right;
    line-height: 56px;
    color: #fff;
    font-size: 13px;
}

header .banner-close img {
    padding: 19.5px 0;
    margin-left: 12px;
    width: auto;
}

header .banner-close-box {
    display: inline-block;
    cursor: pointer;
}

header .menu {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    position: relative;
    cursor: pointer;
    margin-left: 78px;
}

header .menu:before {
    width: 24px;
    top: 16px;
}

header .menu .icon {
    width: 30px;
    top: 24px;
}

header .menu:after {
    width: 16px;
    top: 32px;
}

header .menu:before,
header .menu:after,
header .menu .icon {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 10px;
    background: #000;
    opacity: 1;
    transition: all .3s ease;
}

header .menu:hover:before,
header .menu:hover:after {
    width: 30px;
}

header .header-banner-slider .slide-item-box:nth-child(1) {
    background: #88bdbb;
}

header .header-banner-slider .slide-item-box:nth-child(2) {
    background: #e7b3b5;
}

header .header-banner-slider .slide-item-box:nth-child(3) {
    background: #34394c;
}

header .header-banner-slider .slide-item-box:nth-child(4) {
    background: #5884b5;
}

header .header-banner-slider .slide-item-box .go {
    color: #fff;
}

header .header-banner-slider .slide-item01 .go {
    background: #161d37;
}

header .header-banner-slider .slide-item02 .go {
    background: #b63f53;
}

header .header-banner-slider .slide-item03 .go {
    background: #009fb5;
}

header .header-banner-slider .slide-item04 .go {
    background: #1f2e69;
}


@media screen and (max-width:768px) {
    header .fixed-box > div {
        margin-left: 40px;
    }

    header .fixed-box > div.cmmn-nav {
        float: right;
    }

    .header-panel {
        padding-right: 30px;
    }

    header .menu {
        margin-left: 0;
    }

    .login-nav p {
        text-indent: -9999px;
    }

    .login-nav:before {
        display: none;
    }

    .login-nav {
        padding-right: 0;
    }
}