.footer-info-container {
    background: #24201f;
    padding-top: 53px;
    padding-bottom: 54px;
}

.footer-info-container li {
    width: 380px;
    float: left;
    margin-right: 79px;
}

.footer-info-container li.last-footer-info {
    margin-right: 0;
}

.footer-info-container li h3 {
    border-bottom: 1px solid #747474;
    padding-bottom: 18px;
    color: #fff;
    margin-bottom: 31px;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 500;
}

.footer-info-container li p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #cacaca;
    letter-spacing: -1px;
}

.footer-info-margin {
    margin-top: 30px;
}

.tel {
    color: #a78b73;
}

.sns-link {
    margin-top: 35px;
}

.sns-link li {
    width: initial;
    height: initial;
}

.sns-link li a {
    display: block;
    width: 233px;
    height: 58px;
    color: #cbcbcb;
    box-sizing: border-box;
    border: 1px solid #716f74;
    padding: 0 16px 0 19px;
    position: relative;
    letter-spacing: -1px;
}

.sns-link li img:first-child,
.sns-link li span {
    float: left;
}

.sns-link li span {
    margin-left: 11px;
}

.footer-info-container .sns-link li {
    margin-right: 19px;
}

.footer-info-container li.sns-blog {
    margin-right: 0;
}

.sns-link .sns-instagram a {
    padding-top: 17px;
}

.sns-link .sns-instagram span {
    margin-top: 3px;
}

.sns-link .sns-facebook a {
    padding-top: 16px;
}

.sns-link .sns-facebook span {
    margin-top: 4px;
}

.sns-link .sns-blog a {
    padding-top: 18px;
}

.sns-link .sns-blog span {
    margin-top: 2px;
}

.sns-arrow {
    position: absolute;
    right: 16px;
    top: 27px;
}

.footer {
    padding: 30px 0;
    background: #24201f;
    border-top: 1px solid #747474;
}

.footer .max-layout-width {
    position: relative;
}

.footer-link {
    position: absolute;
    right: 0;
    top: 0;
}

.footer-link li {
    float: left;
    position: relative;
}

.footer-link li a {
    color: #111;
    display: block;
    padding: 0 23px;
    font-size: 13px;
    color: #fff;
}

.footer-link li:before {
    margin-top: -7px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    background: #232323;
}

.footer-link li:first-child:before {
    content: none;
}

.footer .footer-location {
    float: right;
}

.footer-location {
    margin-bottom: 13px;
    color: #222;
    letter-spacing: -1px;
    font-size: 13px;
}

.footer-copyright {
    color: #8a8a8a;
    font-size: 13px;
}

.footer-line {
    width: 1px;
    height: 12px;
    background: #888886;
    display: inline-block;
    vertical-align: 0px;
    margin: 0 10px;
}


@media screen and (max-width: 1300px) {
    .footer .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .footer-info-container .max-layout-width > ul.display-inline-block:first-child {
        display: block;
        width: 100%;
        margin-left: -1%;
        overflow: hidden;
    }
    .footer-info-container .max-layout-width > ul li {
        width: 31.3333333333%;
        margin-left: 2%;
        margin-right: 0;
    }
}

@media screen and (max-width: 914px) {
    .footer-info-container .max-layout-width > ul.display-inline-block:first-child {
        padding: 0 20px;
        box-sizing: border-box;
    }
    .footer-info-container .max-layout-width > ul li {
        width: 48%;
        height: 220px;
    }
    .footer-info-container, .footer-info-container .fp-tableCell {
        height: 600px !important;
    }
    .footer-info-container .max-layout-width > ul li:last-child {
        margin-top: 50px;
    }
    .sns-link {
        margin-top: 0;
    }
    .sns-link ul {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        display: block;
        margin-left: -2%;
    }

    .footer-info-container .sns-link li {
        width: 31.333333333%;
        margin-right: 0;
        box-sizing: border-box;
        margin-left: 2%;
    }
    .sns-link li a {
        width: 100%;
    }
    .sns-arrow {
        top: 22px;
    }
}

@media screen and (max-width: 828px) {
    .footer, .footer .fp-tableCell {
        height: 140px !important;
    }
    .footer-location-container {
        text-align: center;
    }
    .footer-link {
        position: relative;
        text-align: center;
        margin-top: 30px;
    }
    .footer-link ul {
        display: inline-block;
    }
}

@media screen and (max-width: 640px) {
    .footer-info-container li p {
        font-size: 13px;
    }
    .footer-info-container li h3 {
        font-size: 15px;
    }
    .sns-link .sns-instagram span {
        font-size: 15px;
    }
    .sns-link li img:first-child {
        width: auto;
        height: 15px;
        margin-top: 3px;
    }
    .sns-arrow {
        top: 22px;
        width: 23px;
    }
}

@media screen and (max-width: 550px) {
    .footer-info-container .max-layout-width > ul li:first-child {
        margin-top: 0;
    }
    .footer-info-container .max-layout-width > ul li {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .sns-link {
        margin-top: 35px;
        display: none;
    }
    .footer-info-container, .footer-info-container .fp-tableCell {
        height: 700px;
    }
    .sns-arrow {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    .footer-info-container .sns-link li {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .sns-arrow {
        display: block;
    }
    .footer-info-container, .footer-info-container .fp-tableCell {
    }

    .footer-location {
        font-size: 12px;
    }
    .footer-copyright {
        width: 250px;
        margin: 0 auto;
        line-height: 1.4;
    }
    .footer-link li a {
        padding: 0 2px;
        font-size: 12px;
    }
}