.footer-info-container {
    background: #24201f;
    padding-top: 53px;
    padding-bottom: 54px;
}

.footer-info-container li {
    width: 380px;
    float: left;
    margin-right: 79px;
}

.footer-info-container li.last-footer-info {
    margin-right: 0;
}

.footer-info-container li h3 {
    border-bottom: 1px solid #747474;
    padding-bottom: 18px;
    color: #fff;
    margin-bottom: 31px;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 600;
}

.footer-info-container li p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #cacaca;
    letter-spacing: -1px;
}

.footer-info-margin {
    margin-top: 30px;
}

.tel {
    color: #a78b73;
}

.sns-link {
    margin-top: 35px;
}

.sns-link li {
    width: initial;
    height: initial;
}

.sns-link li a {
    display: block;
    width: 233px;
    height: 58px;
    color: #cbcbcb;
    box-sizing: border-box;
    border: 1px solid #716f74;
    padding: 0 16px 0 19px;
    position: relative;
    letter-spacing: -1px;
}

.sns-link li img:first-child,
.sns-link li span {
    float: left;
}

.sns-link li span {
    margin-left: 11px;
}

.footer-info-container .sns-link li {
    margin-right: 19px;
}

.footer-info-container li.sns-blog {
    margin-right: 0;
}

.sns-link .sns-instagram a {
    padding-top: 17px;
}

.sns-link .sns-instagram span {
    margin-top: 3px;
}

.sns-link .sns-facebook a {
    padding-top: 16px;
}

.sns-link .sns-facebook span {
    margin-top: 4px;
}

.sns-link .sns-blog a {
    padding-top: 18px;
}

.sns-link .sns-blog span {
    margin-top: 2px;
}

.sns-arrow {
    position: absolute;
    right: 16px;
    top: 27px;
}

.footer {
    padding: 40px 0;
}

.footer .max-layout-width {
    position: relative;
}

.footer-link {
    position: absolute;
    right: 0;
    top: 16px;
}

.footer-link li {
    float: left;
    position: relative;
}

.footer-link li a {
    color: #111;
    display: block;
    padding: 0 23px;
}

.footer-link li:before {
    margin-top: -7px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    background: #232323;
}

.footer-link li:first-child:before {
    content: none;
}

.footer-location {
    margin-bottom: 13px;
    color: #222;
    letter-spacing: -1px;
    font-size: 15px;
}

.footer-copyright {
    color: #8a8a8a;
    font-size: 15px;
}