body {
    overflow-x: hidden;
}

.section01 {
    margin-bottom: 89px;
}

.section02 {
    margin-bottom: 107px;
}

.section02:before {
    content: '';
    width: 1px;
    height: 634px;
    position: absolute;
    display: inline-block;
    background: #010101;
    top: 185px;
    left: 0;
    z-index: 10;
}

.section02 > h2, .section02 > p {
    text-align: center;
}

.section02 > h2 {
    font-size: 39px;
    margin-bottom: 25px;
    letter-spacing: -3px;
}

.section02 > p {
    font-size: 16px;
    margin-bottom: 58px;
    letter-spacing: -0.9px;
}

.contents-text-box {
    width: 373px;
    height: 1;
}

.contents-text {
    margin-top: 37px;
    width: 313px;
    margin-left: 60px;
    display: none;
    opacity: 0;
}

.contents-text.active {
    display: block;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}

.contents-text h3 {
    font-size: 32px;
    margin-bottom: 26px;
    letter-spacing: -2.5px;
    /* font-weight: 600; */
}

.contents-text p {
    font-size: 15px;
}

.contents-text p {
    margin-bottom: 9px;
    letter-spacing: -0.9px;
}

.last-contents-text {
    margin-bottom: 0;
}

.details-link {
    margin-top: 82px;
    position: relative;
    font-weight: bold;
    width: 140px;
}

.details-link a {
    color: #222;
    width: 100%;
    display: inline-block;
    letter-spacing: -1px;
}

.details-link:after {
    content: '';
    width: 37px;
    height: 5px;
    background: url(../images/main/go01.png);
    display: inline-block;
    position: absolute;
    left: 95px;
    top: 7px;
}

.img-box li {
    margin-left: 20px;
}

.img-box li div {
    overflow: hidden;
}

.img-box li:before, .slide-box:before {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #9a8b7e;
    background: -webkit-gradient(linear, left top, right top, from(#9a8b7e), to(#9a8b7e));
    background: -webkit-linear-gradient(left, #9a8b7e 0%, #9a8b7e 100%);
    background: -o-linear-gradient(left, #9a8b7e 0%, #9a8b7e 100%);
    background: linear-gradient(to right, #9a8b7e 0%, #9a8b7e 100%);
}

.img-box li:after, .slide-box:after {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #9a8b7e;
    background: -webkit-gradient(linear, left bottom, left top, from(#9a8b7e), to(#9a8b7e));
    background: -webkit-linear-gradient(bottom, #9a8b7e 0%, #9a8b7e 100%);
    background: -o-linear-gradient(bottom, #9a8b7e 0%, #9a8b7e 100%);
    background: linear-gradient(to top, #9a8b7e 0%, #9a8b7e 100%);
}

.img-box li div:before, .slide-box div:before {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #9a8b7e;
    background: -webkit-gradient(linear, right top, left top, from(#9a8b7e), to(#9a8b7e));
    background: -webkit-linear-gradient(right, #9a8b7e 0%, #9a8b7e 100%);
    background: -o-linear-gradient(right, #9a8b7e 0%, #9a8b7e 100%);
    background: linear-gradient(to left, #9a8b7e 0%, #9a8b7e 100%);
}

.img-box li div:after, .slide-box div:after {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #9a8b7e;
    background: -webkit-gradient(linear, left top, left bottom, from(#9a8b7e), to(#9a8b7e));
    background: -webkit-linear-gradient(top, #9a8b7e 0%, #9a8b7e 100%);
    background: -o-linear-gradient(top, #9a8b7e 0%, #9a8b7e 100%);
    background: linear-gradient(to bottom, #9a8b7e 0%, #9a8b7e 100%);
}

.img-box li:hover:before, .img-box li div:hover:before,
.slide-box:hover:before, .slide-box div:hover:before {
    width: 100%;
    height: 6px;
    -webkit-transition: width 0.3s 0s, height 0s 0s;
    -o-transition: width 0.3s 0s, height 0s 0s;
    transition: width 0.3s 0s, height 0s 0s
}

.img-box li:hover:after, .img-box li div:hover:after,
.slide-box:hover:after, .slide-box div:hover:after {
    height: 100%;
    width: 6px;
    -webkit-transition: width 0s 0s, height 0.3s 0s;
    -o-transition: width 0s 0s, height 0.3s 0s;
    transition: width 0s 0s, height 0.3s 0s
}

.img-box li:before, .img-box li div:before,
.slide-box:before, .slide-box div:before{
    -webkit-transition: width 0s 0.3s, height 0.3s 0s;
    -o-transition: width 0s 0.3s, height 0.3s 0s;
    transition: width 0s 0.3s, height 0.3s 0s;
}

.img-box li:after, .img-box li div:after,
.slide-box:after, .slide-box div:after {
    -webkit-transition: width 0.3s 0s, height 0s 0.3s;
    -o-transition: width 0.3s 0s, height 0s 0.3s;
    transition: width 0.3s 0s, height 0s 0.3s;
}

.img-box img {
    z-index: 0;
    -webkit-transform: scale(1, 1) rotate(0.001deg);
    -ms-transform: scale(1, 1) rotate(0.001deg);
    transform: scale(1, 1) rotate(0.001deg);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

.img-box img:hover {
    -webkit-transform: scale(1.05, 1.05) rotate(0.001deg);
    -ms-transform: scale(1.05, 1.05) rotate(0.001deg);
    transform: scale(1.05, 1.05) rotate(0.001deg)
}

.background-text {
    bottom: 0;
    left: 60px;
}

.background-text p {
    font-size: 40px;
    color: #efefef;
}

.background-text p {
    margin-bottom: 22px;
}

.section03 {
    width: 100%;
    height: 712px;
    margin-bottom: 102px;
}

.section03 .main-bg {
    background: url(../images/main/main_bg01.jpg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.section03 .bg {
    background: url(../images/main/main04_1.jpg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 90px;
    bottom: 130px;
    right: 0;
    height: 533px;
    width: 46.7%;
    background-size: cover;
}

.section03 .text {
    z-index: 4;
    position: relative;
    width: 734px;
    padding-top: 122px;
    padding-left: 58px;
}

.section03 .text h4, .section04 .text h4 {
    font-size: 38px;
    margin-bottom: 14px;
    letter-spacing: -4px;
}

.section03 .text h4 span, .section04 .text h4 span {
    color: #9a8b7e;
}

.section03 .text h4 + p, .section04 .text h4 + p {
    margin-top: 36px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.section03 .text p {
    font-size: 16px;
}

.section03 .text li {
    width: 163px;
    float: left;
    margin-right: 24px;
}

.section03 .text ul {
    margin-top: 57px;
}

.section03 .text li span:first-child {
    width: 153px;
    height: 153px;
    display: inline-block;
}

.section03 span.text {
    width: 100%;
    padding: 0;
    margin-top: 23px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: -1.8px;
}

.section03 .img01 {
    background: #9a8b7e url(../images/main/main_icon01.png) no-repeat center;
}

.section03 .img02 {
    background: #9a8b7e url(../images/main/main_icon02.png) no-repeat center;
}

.section03 .img03 {
    background: #9a8b7e url(../images/main/main_icon03.png) no-repeat center;
}

.section04 .details-link {
    width: 194px;
    height: 55px;
    position: absolute;
    border: 2px solid #9b8b7e;
    display: inline-block;
    margin-top: 0;
    font-size: 17px;
    font-weight: inherit;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 16px 30px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.section04 .text h4 + p {
    margin-bottom: 79px;
}

.section04 .details-link:after {
    content: '';
    width: 21px;
    height: 2px;
    position: absolute;
    background: #9b8b7e;
    right: 0;
    top: 25px;
    left: auto;
}

.review span {
    font-size: 110px;
    position: absolute;
    color: #9a8b7e;
    display: inline-block;
    top: -50px;
    left: -19px;
}

.review span:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 127px;
    background: #9a8b7e;
    top: 15px;
    right: -20px;
}

.review-text {
    padding-left: 80px;
    padding-top: 35px;
}

.review-text h4 {
    font-size: 22px;
    color: #222;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.review-text p {
    font-size: 15px;
    color: #939393;
    letter-spacing: -1px;
}

.section04 .bx-wrapper {
    margin-left: auto;
    width: 1700px;
}

.section04 .bx-viewport {
    padding-left: 8px;
}

.section06 {
    margin-top: 118px;
    text-align: center;
    clear: left;
}

.section06 h4 {
    font-size: 38px;
    margin-bottom: 57px;
    position: relative;
    display: inline-block;
    letter-spacing: -3px;
    font-weight: normal;
}

.section06 h4:after {
    content: '';
    height: 436px;
    width: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    right: -309px;
    display: none;
}

.section06 h4 span {
    color: #9a8b7e;
    font-weight: 600;
}

.section06 h5 {
    margin-top: 30px;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 17px;
    letter-spacing: -2.5px;
}

.section06 h5 + p {
    font-size: 17px;
    letter-spacing: -1.5px;
    /* font-weight: 600; */
    line-height: 0.9;
    height: 17px;
}

.section06 .bx-wrapper {
    margin: 0 auto;
    width: 1300px;
}

.section06 .bx-wrapper .bx-controls-direction a {
    width: 71px;
    height: 71px;
    border: none;
    margin-top: 110px;
    top: 0;
}

.section06 .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -100px;
}

.section06 .bx-wrapper .bx-controls-direction a.bx-next {
    right: -100px;
    left: auto;
}

.section07 {
    background: #f5f5f5;
    padding-top: 88px;
    margin-top: 100px;
    padding-bottom: 149px;
}

.section07 h4 {
    font-size: 38px;
    letter-spacing: -3px;
}

.section07 h4 span {
    color: #9a8b7e;
    font-weight: 600;
}

.section07 h4:first-child {
    margin-bottom: 17px;
    letter-spacing: -3px;
}

.section07 .max-layout-width {
    margin-bottom: 68px;
    /* letter-spacing: -2px; */
}

.section07 h5 {
    margin-top: 46px;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 26px;
    letter-spacing: -2px;
}

.section07 h5 + p {
    font-size: 16px;
    color: #222;
    letter-spacing: -1.3px;
    line-height: 1;
    height: 17px;
}

.slider-pagenation {
    position: relative;
    z-index: 10;
    margin-top: 240px;
    width: auto;
}

body .section07 .bx-wrapper {
    margin-left: auto;
    margin-right: 0;
    top: -190px;
    left: 370px;
    width: 1700px;
}

body .section07 .bx-pager-link {
    margin-bottom: 48px;
    position: relative;
    display: inline-block;
}

body .section07 .bx-pager-link.active:after {
    content: '';
    position: absolute;
    width: 496px;
    height: 4px;
    background: #998b7e;
    left: 0;
    bottom: -26px;
    top: 50px;
}

body .section07 .bx-pager-link span {
    color: #222;
}

body .section07 .bx-pager-link span:first-child {
    font-size: 25px;
    font-width: bold;
    margin-right: 15px;
    font-weight: 600;
}

body .section07 .bx-pager-link span + span {
    font-size: 19px;
    letter-spacing: -1.5px;
}

.section08 {
    padding-top: 87px;
}

.section08 h4 {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 34px;
    position: relative;
    border-bottom: 1px solid #111;
    letter-spacing: -2.5px;
}

.section08 h4 span {
    position: absolute;
    right: 14px;
    font-size: 14px;
    bottom: 25px;
    letter-spacing: 0px;
}

.section08 h4 a {
    text-decoration: none;
    color: #000002;
}

.consultant {
    width: 795px;
    margin-right: 56px;
}

.media {
    width: 429px;
}

.section08 div > div {
    float: left;
}

.consultant li {
    height: 62px;
    line-height: 65px;
    border-bottom: 1px solid #dfdfdf;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.consultant li > div {
    display: inline-block;
}

.consultant li > div * {
    float: left;
    font-size: 16px;
    color: #000002;
}

.board-contents {
    width: 623px;
}

.writer {
    width: 63px;
    margin-right: 28px;
}

.reply {
    font-size: 13px !important;
    background: #9a8b7e;
    color: #fff !important;
    width: 81px;
    height: 31px;
    border-radius: 2px;
    margin-top: 16px;
    line-height: 31px;
    text-align: center;
}

.media li {
    padding: 17px 0 20px 0;
    display: inline-block;
    border-bottom: 1px solid #dfdfdf;
}

.media li > div {
    float: left;
}

.media-thumnail {
    width: 180px;
    height: 120px;
    background-size: cover;
}

.media-contents {
    max-width: 220px;
    padding-left: 20px;
    padding-top: 26px;
}

.media-title {
    font-size: 16px;
    color: #7e6956;
    margin-bottom: 17px;
    font-width: bold;
    letter-spacing: -1px;
    font-weight: 600;
}

.media-title + p {
    font-size: 15px;
    line-height: 21px;
}

.section09 {
    margin-top: 90px;
    padding-top: 79px;
    background: #f5f5f5;
    padding-bottom: 90px;
}

.section09 h4 {
    font-size: 38px;
    margin-bottom: 26px;
    letter-spacing: -2px;
    font-weight: 600;
}

.section09 h4 + p {
    font-size: 16px;
    color: #212121;
    margin-bottom: 51px;
    letter-spacing: -1px;
}

.section09 .slide-text {
    width: 303px;
    height: 181px;
    position: absolute;
    bottom: 0px;
    right: 64px;
}

.slide-item {
    padding-bottom: 52px;
}

.section09 .slide-text p + p {
    position: relative;
}

.section09 .slide-text p + p:after {
    background: url(../images/main/arrow02.png);
    content: '';
    position: absolute;
    top: 51px;
    left: 0;
    width: 66px;
    height: 10px;
}

.section09 .slide-text a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 43px;
    padding-left: 40px;
    box-sizing: border-box;
    background: #7e6956;
}

.section09 .slide-text p {
    color: #fff;
    font-size: 17px;
    letter-spacing: -1px;
}

.section09 .slide-text p:first-child {
    margin-bottom: 11px;
}

.section09 > div {
    position: relative;
}

.count {
    position: absolute;
    bottom: 76px;
    left: 50px;
    font-weight: bold;
}

.count-box {
    position: absolute;
}

.current-count {
    font-size: 46px;
}

.max-count {
    font-size: 32px;
    position: absolute;
    bottom: -20px;
    left: 63px;
    font-weight: 500;
}

.max-count:before {
    content: '/';
    position: absolute;
    left: -15px;
    bottom: 1px;
}

.section09 .bx-wrapper {
    margin-bottom: 0;
}

.slider-box {
    position: relative;
}

.slider-box .bx-wrapper {
    position: absolute;
}

.section05 {
    margin-top: 114px;
    position: relative;
    height: 567px;
    padding: 20px 0;
}

.section05 .section-title {
    line-height: 1.25;
    position: relative;
    z-index: 1;
    padding-top: 32px;
    margin-bottom: 9px;
    letter-spacing: -3px;
}

.section05 .section-text {
    line-height: 1.6;
    width: 400px;
    word-break: keep-all;
    position: relative;
    z-index: 1;
    letter-spacing: -1px;
    padding-top: 8px;
}

.section05 .section-text:before {
    width: 350px;
    height: 4px;
    background: #9a8b7e;
    position: absolute;
    content: '';
    bottom: -25px;
}

.section05 .doctor-slider .img-box {
    box-sizing: border-box;
}

.section05 .doctor-slider .doctor-slide-item {
    height: 233px;
}

.section05 .doctor-slider .img01 {
    background: url(../images/main/doctor01_s.jpg) no-repeat top;
}

.section05 .doctor-slider .img02 {
    background: url(../images/main/doctor02_s.jpg) no-repeat top;
}

.section05 .doctor-slider .img03 {
    background: url(../images/main/doctor03_s.jpg) no-repeat top;
}

.section05 .big-img {
    position: relative;
}

.section05 .big-img > div {
    width: auto;
    height: 567px;
}

.section05 .big-img .img {
    width: 100%;
    height: 567px;
    position: absolute;
    transform: translate3d(0, -50px, 0);
    transition: transform 1200ms;
}

.section05 .big-img .slick-current .img  {
    transform: translate3d(0, 0px, 0);
}

.section05 .big-img .cont01 .img {
    background: url(../images/main/docter03_b.jpg) no-repeat;
    background-size: contain;
}

.section05 .big-img .cont02 .img {
    background: url(../images/main/docter01_b.jpg) no-repeat;
    background-size: contain;
}

.section05 .big-img .cont03 .img {
    background: url(../images/main/docter02_b.jpg) no-repeat;
    background-size: contain;
}

.section05 .slider-container > div {
    float: right;
    margin-right: 50px;
}

.section05 .big-img-slider {
    width: 920px;
}

.section05 .doctor-slider {
    width: 33.6%;
    padding-top: 333px;
    height: 567px;
    overflow: hidden;
}

.section05 .doctor-slider .slick-slide {
    margin-right: 50px;
    outline: none;
}

.section05 .slider-container {
    float: right;
    margin-top: -192px;
    top: 0;
}

.section05 .bx-wrapper {
    margin-top: 244px;
}

.section05 .text {
    padding-left: 437px;
    width: 445px;
    padding-top: 50px;
    color: #fff;
    transform: translate3d(0, -50px, 0);
    transition: transform 1200ms;
    transition-delay: 200ms;
}

.section05 .slick-current .text {
    transform: translate3d(0, 0, 0);
}

.section05 .text .title span {
    color: #fff;
}

.section05 .text .title span:first-child {
    font-size: 40px;
    margin-right: 13px;
}

.section05 .text h5 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.section05 .sub-text {
    font-size: 24px;
    line-height: 1.45;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 30px;
    letter-spacing: -2px;
}

.section05 .dc {
    line-height: 1.6;
    letter-spacing: -1px;
    font-size: 15px;
}

.section07 .bx-pager-item {
    display: inline-block;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 1
}

.section05 .bg {
    width: 50%;
    height: 100%;
    background: #9a8b7e;
    position: absolute;
    top: 0;
    right: 0;
}

.slick-slide {
    outline: none;
}

.section05 .doctor-slider .slick-list {
    height: 235px;
}

.section07 .bx-pager-item {
    display: inline-block;
}
