@CHARSET "UTF-8";
.th1,.th2,.th3 {width:46px;}
.th4 {width:529px;}
.th5 {width:80px}
.th6 {width:112px}
.th7 {width:60px;}
.th8 {width:60px;}
.th9 {width:58px;} 
.th10 {width:59px;}
.th11 {width:88px;}

