.table {
    margin-top: 62px;
    border-top: 2px solid #838383;
}

.table ul {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}

.table li {
    height: 65px;
    float: left;
}

.table li {
    font-size: 17px;
    text-align: center;
    float: left;
    padding: 23px 0;
    box-sizing: border-box;
    width: 100%;
}

.table .no, .table .type {
    width: 6%;
}

.table li.title {
    width: 59%;
}

.table .name {
    width: 9%;
}

.table .date, .table .state {
    width: 10%;
}

.write-con {
    text-align: right;
    margin-top: 45px;
    margin-bottom: 35px;
}

.write-con a {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    background: #998b7e;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    padding: 15px 0;
}

.search {
    max-width: 660px;
    width: 100%;
    margin: 60px auto;
    padding-left: 200px;
    position: relative;
}

.search .select-type {
    width: 190px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    border: 1px solid #222;
    color: #222;
    font-size: 16px;
    padding: 0 19px;
    background: #fdfdfd;
}

.search .search-input {
    width: 100%;
    padding-right: 75px;
    border: 1px solid #222;
    color: #222;
    height: 50px;
    line-height: 50px;
    outline: none;
    background: #fdfdfd;
}

.search .btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    border: 0;
    background: transparent url(../../images/sub/board/icon01.png) no-repeat center;
    text-indent: -9999px;
    cursor: pointer;
}

.search-container {
    padding: 8px 0;
    margin-bottom: 95px;
}