.table {
    margin-top: 62px;
    border-top: 2px solid #838383;
    margin-bottom: 128px;
}

.table ul {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    cursor: pointer;
}

.table li {
    height: 65px;
    float: left;
}

.table li {
    font-size: 17px;
    text-align: center;
    float: left;
    padding: 23px 0;
    box-sizing: border-box;
    width: 100%;
}

.table .date {
    width: 19%;
}

.table .center, .table .name, .table .phone {
    width: 24%;
}

.table .etc {
    width: 33%;
}


@media screen and (max-width: 414px) {
    .mypage-reservation .max-layout-width {
        padding: 0 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width:375px) {
    .table .date {
        width: 33%;
    }
    .table .name {
        display: none;
    }
    .table .center, .table .name, .table .phone {
        width: 32%;
    }

    .table .etc {
        width: 35%;
    }
    .table {
        margin-top: 40px;
        border-top: 2px solid #838383;
        margin-bottom: 128px;
    }
    .table li {
        height: 45px;
        float: left;
        padding: 15px 0;
        font-size: 14px;
        letter-spacing: -1px;
    }}

