.tab {
    margin-top: 65px;
}

.tab ul {
    overflow: hidden;
    border: 1px solid #e2e2e2;
}

.tab li.active {
    background: #9b8b7e;
    color: #fff;
}

.tab li.active a {
    color: #fff;
}

.tab li:first-child {
    border-left: none;
}

.tab li {
    width: 33.33333333%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-left: 1px solid #e2e2e2;
    cursor: pointer;
}

.tab li a {
    color: #222;
    height: 50px;
    padding: 17px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}