.tab-container {
    display: none;
}

.tab-container.active {
    display: block;
}

.section01 {
    margin-top: 100px;
}

.text-slider .slick-arrow {
    display: block !important;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 163px;
}

.section01 .section-text {
    line-height: 1.5;
}

.section01 .section-text:first-child {
    margin-bottom: 6px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic01.jpg) no-repeat center;
}


.section02 {
    text-align: center;
    padding-top: 115px;
}

.section02 .section-title {
    margin-bottom: 47px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    margin-left: 2%;
    float: left;
    padding-top: 38px;
    background: #f3f3f3;
    padding-bottom: 34px;
}

.section02 li p {
    line-height: 1.4;
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-top: 13px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon01.png) no-repeat top center;
    background-position-y: 6px;
}

.section02 .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon02.png) no-repeat top center;
    /* background-position-y: 5px; */
}

.section02 .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon03.png) no-repeat top center;
    background-position-y: 5px;
}

.section02 .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon04.png) no-repeat top center;
    background-position-y: 5px;
}

.section03 {
    text-align: center;
    margin-top: 113px;
}

.section03 .section-title {
    line-height: 1.25;
    margin-bottom: 0px;
}

.section03 .section-text {
    margin-bottom: 50px;
    color: #9c9c9c;
}

.section03 .tab ul {
    display: inline-block;
    width: 100%;
    margin-left: -0.23%;
}

.section03 .tab li {

}

.section03 .tab li a {
    padding: 19px 0;
    width: 100%;
    display: block;
    color: #222;
}

.section03 .tab li.active a {
    color: #fff;
}

.section03 .tab li {
    width: 49.77%;
    margin-left: 0.23%;
    float: left;
    font-size: 18px;
    color: #a8a8a8;
    background: #dfdfdf;

    cursor: pointer;
    letter-spacing: -1px;
}

.section03 .tab li.active {
    background: #9a8b7e;
    color: #fff;
    position: relative;
    letter-spacing: -1px;
}

.section03 .tab li.active:before {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #9a8b7e;
    content: '';
    bottom: -12px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    z-index: 1;
}


.section04 {
    position: relative;
    padding-bottom: 70px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .tab-contents {
    padding-top: 67px;
}

.section04 .tab-contents li {
    overflow: hidden;
}

.section04 .tab-contents img {
    width: 50%;
    max-width: 650px;
    float: left;
}

.section04 .tab-contents img + div {
    width: 50%;
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
    padding-top: 92px;
}

.section04 .tab-contents img + div h2 {
    font-size: 38px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 33px;
    letter-spacing: -2.5px;
}

.section04 .tab-contents img + div p {
    text-align: left;
    line-height: 1.6;
    padding-right: 70px;
    word-break: keep-all;
    letter-spacing: -1px;
}

.section02 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .bg {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.section05 {
    margin-top: 96px;
}

.section05 .max-layout-width .text {
    padding-right: 50%;
}

.section05 .max-layout-width .text > div {
    padding-right: 90px;
    position: relative;
}

.section05 .image_box_right {
    max-width: 1276px;
    height: 376px;
    width: 50%;
    z-index: 10;
    margin-top: 65px;
}

.section05 .image_box_right .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic03.jpg) no-repeat center;
}

.section05 .section-title {
    padding-top: 100px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 84px;
    padding-left: 94px;
    /* letter-spacing: -1px; */
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.5;
    position: relative;
    text-align: right;
    letter-spacing: -1.5px;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 60px;
    background: #7f6a57;
    top: -76px;
    right: 0;
}

.section05 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 209px;
    left: 0px;
    bottom: -56px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section06 {
    margin-top: 202px;
}

.section06 .section-title {
    line-height: 1.3;
    margin-bottom: 30px;
    padding-top: 30px;
}

.section06 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section06 .image_box_left {
    max-width: 1315px;
    height: 343px;
    width: 51.52%;
    z-index: 1;
}

.section06 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}
p.img.laminate {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img allceramic {
    background: url(../../images/sub/tooth/aesthetic/aesthetic04.jpg) no-repeat center;
}

.section06 .bg {
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section06 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section06 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section06 .pager span {
    display: none;
    position: absolute;
}

.section06 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section06 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section06 .text {
    padding-left:50%;
}

.section06 .text > div {
    padding-left: 84px;
}

.section10 {
    margin-top: 77px;
    text-align: center;
    margin-bottom: 93px;
}

.section10 .section-title {
    line-height: 1.3
}

.section10 ul {
    margin-top: 46px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section10 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section10 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section10 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section10 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section10 ul li p span:first-child {
    padding-top: 27px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section10 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 3px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section10 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section11 {
    margin-top: 166px;
    height: 650px;
}

.section11 .bg {
    content: '';
    background: url(../../images/sub/tooth/aesthetic/aesthetic_bg01.jpg) no-repeat center top fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section11 .max-layout-width {
    position: relative;
    padding-top: 154px;
    text-align: center;
    color: #fff;
}

.section11 h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
    letter-spacing: -2px;
}

.section11 p {
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 47px;
    letter-spacing: -1px;
}

.section11 p span {
    color: #c3b4a7;
}

.section11 ul {
    overflow: hidden;
}

.section11 li {
    width: 25%;
    float: left;
    padding-top: 170px;
    position: relative;
}

.section11 li:before {
    position: absolute;
    content: '';
    width: 153px;
    height: 153px;
    margin-left: -76px;
    left: 50%;
    top: 0;
}

.section11 .img01:before {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon05.png) no-repeat top center;
}

.section11 .img02:before {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon06.png) no-repeat top center;
}

.section11 .img03:before {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon07.png) no-repeat top center;
}

.section11 .img04:before {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon08.png) no-repeat top center;
}



.section12 {
    margin-top: 128px;
}

.section12 .section-title {
    line-height: 1.3;
    margin-bottom: 27px;
    padding-top: 44px;
}

.section12 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section12 .image_box_left {
    max-width: 1315px;
    height: 336px;
    width: 51.52%;
    z-index: 1;
}

.section12 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img.laminate{
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img.allceramic{
    background: url(../../images/sub/tooth/aesthetic/aesthetic04.jpg) no-repeat center;
}


.section12 .bg {
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section12 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section12 .pager {
    font-size: 16px;
    color: #222;
    padding: 7px 0;
    position: relative;
    padding-left: 31px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section12 .pager span {
    display: none;
    position: absolute;
}

.section12 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section12 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}


.section12 .pager:before {
    position: absolute;
    left: 0;
    content: '';
    top: 9px;
    background: url(../../images/sub/orthodontics/malocculusion/check_icon.png) no-repeat center;
    width: 19px;
    height: 19px;
}


.section12 .text {
    padding-left:50%;
}

.section12 .text > div {
    padding-left: 84px;
}

.section13 {
    margin-top: 108px;
}

.section13 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 51px;
    letter-spacing: -3px;
}

.table-middle {
    width: 180px;
}

.table-left, .table-right {
    width: 559px;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
}

.table th.table-middle {
    background: #222;
}

.table table {
    border-bottom: 1px solid #8f8f8f;
}

.table-middle {
    padding: 45px 0;
    font-size: 21px;
    font-weight: bold;
    box-sizing: border-box;
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    letter-spacing: -2px;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr:first-child {
    border-top: none;
}

.table tr {
    border: 1px solid #8f8f8f;
    border-bottom: none;
}

.cont {
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

.cont.con01 {
    border-bottom: none;
}

.table th {
    font-size: 21px;
    color: #fff;
    padding: 20px 0;
    background: #8f8f8f;
    line-height: 1;
    letter-spacing: -1px;
}

.table thead .table-right {
    background: #9b8b7e;
}

.table.table-middle {
    background: #222;
    color: #fff;
}


.table.table-middle {
    padding-top: 130px;
    padding-bottom: 131px;
}

.section13 .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic06_1.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section13 .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic06_2.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.con01 ~ div {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}

.tab-contents1 .left-fade-slider-container .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_1.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents1 .left-fade-slider-container .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_2.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents1 .left-fade-slider-container .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_3.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents1 .left-fade-slider-container .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_4.jpg) no-repeat center;
    background-size: cover;
}


.tab-contents2 .left-fade-slider-container .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_1.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents2 .left-fade-slider-container .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_2.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents2 .left-fade-slider-container .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_3.jpg) no-repeat center;
    background-size: cover;
}

.tab-contents2 .left-fade-slider-container .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_4.jpg) no-repeat center;
    background-size: cover;
}

.text-slider {
    background: #f3f3f3;
    margin-top: 174px;
    padding-top: 97px;
    padding-bottom: 106px;
}

.text-slider .section-text {
    margin-bottom: 50px;
    color: #9c9c9c;
}

.left-fade-slider-container {
    margin-top: 113px;
}



.section09  {
    /* margin-top: 100px; */
}

.text-slider .slick-slide .text
p {
    line-height: 1.6;
    width: 324px;
    word-break: keep-all;
    letter-spacing:-1px;
}

.text-slider .slick-slide .text
h2 {
    font-size: 31px;
    line-height: 1.25;
    margin-bottom: 55px;
    color: #222;
    letter-spacing: -1.5px;
}

.left-fade-slider-container .bg {
    height: 333px;
    background: #9b8b7e;
    margin-top: 56px;
}

.slick-arrow {
    display: none !important;
}

.post-slider .text h2 {
    padding-top: 10px;
}

.post-slider .text.last h2 {
    padding-top: 0;
}

.tab-contents1 .left-fade-slider-container {
    background: none;
    margin-top: 2px;
}

section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}

.board-link .section-title {
    line-height: 1.25;
}

@media screen and (max-width: 1300px) {
    section.list-content .max-layout-width > div {
        padding-left: 0;
    }
    .section06.list-content .max-layout-width > div.text,
    .section12.list-content .max-layout-width > div.text{
        padding-left: 50%;
    }
}

@media screen and (max-width: 850px) {
    section.list-content .section-title {
        margin-bottom: 340px;
    }
    .section06 .text > div,
    .section12 .text > div {
        padding-left: 0;
    }
    section.list-content {
        margin-top: -53px;
    }
    .section06.list-content .max-layout-width > div.text,
    .section12.list-content .max-layout-width > div.text {
        padding-left: 0;
    }
    section.list-content .max-layout-width > div {
        top: 90px;
        left: 0;
    }
    p.img.laminate, p.img.allceramic {
        background-size: cover;
    }
}

@media screen and (max-width: 640px) {
    .text-slider .slick-slide .text.mobile-text {
        display: block;
        float: none;
        padding-top: 40px;
        padding-left: 30px;
        width: 100%;
        padding-right: 20px;
    }

    section.img-four li:nth-child(2n) p {
        padding-right: 18px;
        line-height: 1.3;
    }
    .table th {
        font-size: 21px;
        color: #fff;
        padding: 10px 0;
        background: #8f8f8f;
        line-height: 1;
        letter-spacing: -1px;
    }
    .table .table-left, .table .table-right {
        font-size: 14px;
        /* line-height: 1.4; */
    }
    .section12 .pager {
        font-size: 16px;
        color: #222;
        padding: 5px 0;
        position: relative;
        padding-left: 31px;
        display: inline-block;
        font-weight: 500;
        /* cursor: pointer; */
        letter-spacing: -1px;
    }
    section.img-four li:nth-child(2n-1) p {
        padding-left: 25px;
        line-height:1.3;
    }
    section.img-four li {
        padding: 27px 0 0 !important;
        height: 185px;
        margin: 0 !important;
    }
    .section11 p {
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 47px;
        letter-spacing: -1px;
    }
    section.img-four p {
        margin-bottom: 29px;
    }
    .section11 h2 {
        font-size: 28px;
        margin-bottom: -100px;
    }
    .section11 .max-layout-width {
        position: relative;
        padding-top: 60px;
        text-align: center;
        color: #fff;
        padding-bottom: 27px;
    }

    body .post-slider .posts .slide, .left-fade-slider-container .img {
        height: 140px;
    }
    body .left-fade-slider-container .slider-container {
        height: 410px;
    }

    section.section-top-title-left .image_box_left {
        height: 220px;
        bottom: -220px;
    }
    section.board-link {
        margin-top: 53px;
    }

    .left-fade-slider-container .max-layout-width h2 {
        font-size: 26px;
        word-break: keep-all;
        /* padding: 0 20px; */
        box-sizing: border-box;
        width: 330px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    section.text-slider .slick-slide .text p {
        font-size:14px;
        line-height:1.5;
        max-width: 340px;
    }

    .text-slider .slick-slide .text h3 {
        font-size: 55px;
        font-weight: bold;
        color: #e4e4e4;
        margin-bottom: -3px;
        font-family: gmarket !important;
        margin-top: -23px;
        padding-bottom: 9px;
    }

    .text-slider .slick-slide .text h2 {
        font-size: 25px;
        line-height: 1.25;
        margin-bottom: 55px;
        color: #222;
        letter-spacing: -1.5px;
    }


    .text-slider .section-text {
        font-size: 14px;
        line-height:1.5;
        margin-top:15px;
        margin-bottom: 34px;
    }
    .text-slider .section-title {
        font-size: 28px;
        line-height: 1.2;
    }
    .section06 .pager {
        font-size: 16px;
        color: #222;
        padding: 6px 0;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        font-weight: 500;
        /* cursor: pointer; */
        letter-spacing: -1px;
    }
    .section04 {
        position: relative;
        padding-bottom: 50px;
    }
    .section04 .tab-contents img + div p {
        text-align: left;
        line-height: 1.5;
        padding-right: 70px;
        word-break: keep-all;
        letter-spacing: -1px;
        font-size:14px
    }
    .section04 .tab-contents img + div h2 {
        font-size: 27px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 17px;
        letter-spacing: -2.5px;
    }
    .section04 .tab-contents {
        padding-top: 45px;
    }
    .section03 .tab li a {
        padding: 13px 0;
        width: 100%;
        display: block;
        color: #222;
        font-size:15px;
        letter-spacing:-1px;
    }
    .section02 {
        text-align: center;
        padding-top: 280px;
    }
    .left-fade-slider-container {
        margin-top: 0;
        padding-top: 52px;
        margin-bottom: -36px;
    }
    .section13 .max-layout-width h2 {
        font-size: 28px;
        word-break: keep-all;
        margin-bottom: 29px;
    }
    .section13  {
        margin-top: 0;
    }
    .section11 {
        height: auto;
        margin-top: 91px;
    }
    .tab-contents1 .left-fade-slider-container {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .text-slider .slider-arrow-container {
        bottom: 306px;
    }
    .text-slider {
        margin-top: 50px;
        padding-top: 52px;
        padding-bottom: 44px;
    }
    section.list-content .section-title {
        margin-bottom: 470px;
    }
    section.list-content .max-layout-width > div.image_box_left {
        height: 410px;
    }
    p.img.laminate, p.img.allceramic {
        /* background-size: contain; */
    }
    .section06 .text > div,
    .section12 .text > div {
        padding-left: 0;
    }
    .section05 .max-layout-width .text > div {
        padding-right: 20px;
    }
    section.section-quotes-title-right .bg {
        height: 180px;
    }
    .section05 {
        margin-top: 30px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 330px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 242px;
    }
    section.section-quotes-title-right .image_box_right .img {
        background-size: cover;
    }
    .section04 .tab-contents img + div {
        padding-left: 0;
    }
    .section04 .tab-contents img + div h2,
    .section04 .tab-contents img + div p {
        text-align: center;
        padding-right: 0;
    }
    .section04 .tab-contents img + div {
        width: 100%;
        padding-top: 33px;
    }
    .section04 .tab-contents li {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section04 .tab-contents img {
        width: 100%;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .section02 li p {
        font-size: 15px;
    }
    .section02 ul {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section02 li {
        height: 124px;
        width: 48%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 414px) {
    body .table thead th {
        font-size: 25px !important;
    }

    section.list-content .section-title {
        margin-bottom: 321px;
    }
    section.list-content .max-layout-width > div.image_box_left {
        height: 268px;
    }
    section.section-quotes-title-right .bg {
        height: 184px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 260px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 220px;
        margin-top: 22px;
    }
    .section03 {
        background: #f3f3f3;
        padding-top: 68px;
        margin-top: 44px;
    }
    .section02 li p {
        font-size: 14px;
    }
    .section02 .img {
        height: 70px;
        background-size: contain;
        background-position-y: 0;
    }
    .section02 ul {
        padding: 0;
        box-sizing: border-box;
        padding-top: 23px;
    }
    .section02 li {
        width: 48%;
        margin-bottom: 10px;
        padding: 20px 0;
    }
    body .section-top-title-left .section-title, .section02 .section-title,
    .section03 .section-title {
        font-size: 28px;
        margin-bottom: 4px;
        margin-top: -17px;
    }
    section.section-top-title-left .bg {
        height: 140px;
    }
    .section03 .section-title br {
        display: none;
    }
    .section03 .section-text {
        margin-top: 17px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    .section03 .section-title,
    .section03 .section-text {
        padding: 0 20px;
        box-sizing: border-box;
        word-break: keep-all
    }
}

@media screen and (max-width: 375px) {
    .text-slider .slider-arrow-container {
        bottom: 346px;
    }
    section.list-content .section-title {
        margin-bottom: 315px;
        margin-top: 23px;
    }
    section.list-content .max-layout-width > div.image_box_left {
        /* height: 240px; */
    }
    section.section-quotes-title-right .bg {
        height: 222px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 262px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 220px;
    }
    body .section-top-title-left .section-title, .section02 .section-title,
    .section03 .section-title {
        font-size: 28px;
    }
    section.section-top-title-left .bg {
        height: 170px;
    }
}

@media screen and (max-width: 360px) {
    section.section-top-title-left {
        padding-bottom: 39px;
    }
    section.list-content .section-title {
        margin-bottom: 290px;
    }
    section.list-content .max-layout-width > div.image_box_left {
        height: 231px;
    }
    section.section-quotes-title-right .bg {
        height: 203px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 230px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 200px;
    }
    body .section-top-title-left .section-title, .section02 .section-title,
    .section03 .section-title {
        font-size: 25px;
    }
    section.section-top-title-left .bg {
        height: 190px;
    }
}