.tab-container {
    display: none;
}

.tab-container.active {
    display: block;
}

.section01 {
    margin-top: 100px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 191px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 6px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic01.jpg) no-repeat center;
}


.section02 {
    text-align: center;
    padding-top: 81px;
}

.section02 .section-title {
    margin-bottom: 47px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    margin-left: 2%;
    float: left;
    padding-top: 38px;
    background: #f3f3f3;
    padding-bottom: 34px;
}

.section02 li p {
    line-height: 1.5;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    margin-top: 13px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon01.png) no-repeat top center;
    background-position-y: 6px;
}

.section02 .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon02.png) no-repeat top center;
    background-position-y: 5px;
}

.section02 .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon03.png) no-repeat top center;
    background-position-y: 5px;
}

.section02 .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon04.png) no-repeat top center;
    background-position-y: 5px;
}

.section03 {
    text-align: center;
    margin-top: 80px;
}

.section03 .section-title {
    line-height: 1.3;
    margin-bottom: 3px;
}

.section03 .section-text {
    margin-bottom: 50px;
}

.section03 .tab ul {
    display: inline-block;
    width: 100%;
    margin-left: -0.23%;
}

.section03 .tab li {
    width: 49.77%;
    margin-left: 0.23%;
    float: left;
    font-size: 18px;
    color: #a8a8a8;
    background: #dfdfdf;
    padding: 21px 0;
    cursor: pointer;
    letter-spacing: -1px;
}

.section03 .tab li.active {
    background: #9a8b7e;
    color: #fff;
    position: relative;
    letter-spacing: -1px;
}

.section03 .tab li.active:before {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #9a8b7e;
    content: '';
    bottom: -12px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    z-index: 1;
}


.section04 {
    position: relative;
    padding-bottom: 70px;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .tab-contents {
    padding-top: 67px;
}

.section04 .tab-contents li {
    overflow: hidden;
}

.section04 .tab-contents img {
    width: 50%;
    max-width: 650px;
    float: left;
}

.section04 .tab-contents img + div {
    width: 50%;
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
    padding-top: 92px;
}

.section04 .tab-contents img + div h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 33px;
    letter-spacing: -2.5px;
}

.section04 .tab-contents img + div p {
    text-align: left;
    line-height: 1.7;
    padding-right: 70px;
    word-break: keep-all;
    letter-spacing: -1px;
}

.section02 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .bg {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.section05 {
    margin-top: 39px;
}

.section05 .max-layout-width .text {
    padding-right: 50%;
}

.section05 .max-layout-width .text > div {
    padding-right: 90px;
    position: relative;
}

.section05 .image_box_right {
    max-width: 1276px;
    height: 407px;
    width: 50%;
    z-index: 10;
    margin-top: 65px;
}

.section05 .image_box_right .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic03.jpg) no-repeat center;
}

.section05 .section-title {
    padding-top: 100px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 84px;
    padding-left: 94px;
    /* letter-spacing: -1px; */
}

.section05 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    top: 0;
}

.section05 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: right;
    letter-spacing: -1.5px;
}

.section05 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 74px;
    background: #7f6a57;
    top: -78px;
    right: 0;
}

.section05 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 225px;
    left: 0px;
    bottom: -43px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section06 {
    margin-top: 125px;
}

.section06 .section-title {
    line-height: 1.3;
    margin-bottom: 30px;
    padding-top: 30px;
}

.section06 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section06 .image_box_left {
    max-width: 1315px;
    height: 343px;
    width: 51.52%;
    z-index: 1;
}

.section06 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}
p.img.laminate {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img allceramic {
    background: url(../../images/sub/tooth/aesthetic/aesthetic04.jpg) no-repeat center;
}

.section06 .bg {
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section06 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section06 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: bold;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section06 .pager span {
    display: none;
    position: absolute;
}

.section06 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section06 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section06 .text {
    padding-left:50%;
}

.section06 .text > div {
    padding-left: 84px;
}

.section10 {
    margin-top: 77px;
    text-align: center;
    margin-bottom: 93px;
}

.section10 .section-title {
    line-height: 1.3
}

.section10 ul {
    margin-top: 46px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section10 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section10 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section10 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section10 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section10 ul li p span:first-child {
    padding-top: 27px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section10 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 3px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section10 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.section11 {
    margin-top: 108px;
    height: 626px;
}

.section11:before {
    content: '';
    background: url(../../images/sub/tooth/aesthetic/aesthetic_bg01.jpg) no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section11 .max-layout-width {
    position: relative;
    padding-top: 155px;
    text-align: center;
    color: #fff;
}

.section11 h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
    letter-spacing: -2px;
}

.section11 p {
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 47px;
    letter-spacing: -1px;
}

.section11 p span {
    color: #c3b4a7;
}

.section11 ul {
    overflow: hidden;
}

.section11 li {
    width: 25%;
    float: left;
    padding-top: 120px;
}

.section11 .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon05.png) no-repeat top center;
}

.section11 .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon06.png) no-repeat top center;
}

.section11 .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon07.png) no-repeat top center;
}

.section11 .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic_icon08.png) no-repeat top center;
}

.section11 .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 300px solid #fff;
    transition: .7s ease-out;
    box-sizing: border-box;
}


.section12 {
    margin-top: 88px;
}

.section12 .section-title {
    line-height: 1.3;
    margin-bottom: 27px;
    padding-top: 44px;
}

.section12 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section12 .image_box_left {
    max-width: 1315px;
    height: 336px;
    width: 51.52%;
    z-index: 1;
}

.section12 .img {
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img.laminate{
    background: url(../../images/sub/tooth/aesthetic/aesthetic10.jpg) no-repeat center;
}

p.img.allceramic{
    background: url(../../images/sub/tooth/aesthetic/aesthetic04.jpg) no-repeat center;
}


.section12 .bg {
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section12 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section12 .pager {
    font-size: 16px;
    color: #222;
    padding: 7px 0;
    position: relative;
    padding-left: 31px;
    display: inline-block;
    font-weight: bold;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section12 .pager span {
    display: none;
    position: absolute;
}

.section12 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section12 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}


.section12 .pager:before {
    position: absolute;
    left: 0;
    content: '';
    top: 9px;
    background: url(../../images/sub/orthodontics/malocculusion/check_icon.png) no-repeat center;
    width: 19px;
    height: 19px;
}


.section12 .text {
    padding-left:50%;
}

.section12 .text > div {
    padding-left: 84px;
}

.section13 {
    margin-top: 75px;
}

.section13 .max-layout-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 51px;
    letter-spacing: -3px;
}

.table-middle {
    width: 180px;
}

.table-left, .table-right {
    width: 559px;
    font-size: 16px;
    padding: 29px 0;
    line-height: 1.7;
    letter-spacing: -1px;
}

.table-middle {
    padding: 45px 0;
    font-size: 21px;
    font-weight: bold;
    box-sizing: border-box;
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    letter-spacing: -2px;
}

.cont ul {
    overflow: hidden;
}

.cont li {
    float: left;
}

.cont {
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

.cont.con01 {
    border-bottom: none;
}

.con01.cont li {
    font-size: 21px;
    color: #fff;
    padding: 20px 0;
    background: #8f8f8f;
    line-height: 1;
    letter-spacing: -1px;
}

.con01.cont li.table-right {
    background: #9b8b7e;
}

.con01.cont li.table-middle {
    background: #222;
    color: #fff;
}

.con02.cont li {
    line-height: inherit;
    padding: 0;
    height: 282px;
}

.con02.cont li.table-middle {
    padding-top: 130px;
    padding-bottom: 131px;
}

.section13 .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic06_1.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.section13 .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic06_2.jpg) no-repeat center;
    width: 100%;
    height: 100%;
}

.con01 ~ div {
    border-left: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    box-sizing: border-box;
}

.tab-contents1 .left-fade-slider-container .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_1.jpg) no-repeat center;
}

.tab-contents1 .left-fade-slider-container .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_2.jpg) no-repeat center;
}

.tab-contents1 .left-fade-slider-container .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_3.jpg) no-repeat center;
}

.tab-contents1 .left-fade-slider-container .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic12_4.jpg) no-repeat center;
}


.tab-contents2 .left-fade-slider-container .img01 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_1.jpg) no-repeat center;
}

.tab-contents2 .left-fade-slider-container .img02 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_2.jpg) no-repeat center;
}

.tab-contents2 .left-fade-slider-container .img03 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_3.jpg) no-repeat center;
}

.tab-contents2 .left-fade-slider-container .img04 {
    background: url(../../images/sub/tooth/aesthetic/aesthetic07_4.jpg) no-repeat center;
}

.text-slider {
    background: #f3f3f3;
    margin-top: 107px;
    padding-top: 71px;
    padding-bottom: 87px;
}

.text-slider .section-text {
    margin-bottom: 50px;
}

.left-fade-slider-container {
    margin-top: 99px;
}

.section09  {
    margin-top: 100px;
}

.text-slider .slick-slide .text p {
    line-height: 1.6;
    width: 324px;
    word-break: keep-all;
    letter-spacing:-1px;
}

.text-slider .slick-slide .text h2 {
    font-size: 31px;
    line-height: 1.35;
    margin-bottom: 55px;
    color: #222;
    letter-spacing: -1.5px;
}

.left-fade-slider-container .bg {
    height: 333px;
    background: #9b8b7e;
    margin-top: 56px;
}