.section01 {
    margin-top: 100px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.3;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 155px;
}

.section01 .section-text {
    line-height: 1.8;
}

.section01 .section-text:first-child {
    margin-bottom: 8px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/tooth/scaling/scaling01.jpg) no-repeat center;
}


.section02 {
    text-align: center;
    padding-top: 80px;
}

.section02 .section-title {
    margin-bottom: 45px;
    line-height: 1.35;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    float: left;
    padding-top: 25px;
    padding-bottom: 31px;
    margin-left: 2%;
    box-sizing: border-box;
}

.section02 li {
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
}

.section02 li:first-child {
    /* border-left: 1px solid #c6c6c6; */
}

.section02 li p {
    line-height: 1.5;
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-top: 13px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/tooth/scaling/scaling_icon01.png) no-repeat top center;
}

.section02 .img02 {
    background: url(../../images/sub/tooth/scaling/scaling_icon02.png) no-repeat top center;
}

.section02 .img03 {
    background: url(../../images/sub/tooth/scaling/scaling_icon03.png) no-repeat top center;
}

.section02 .img04 {
    background: url(../../images/sub/tooth/scaling/scaling_icon04.png) no-repeat top center;
}

.section03 {
    margin-top: 112px;
}

.section03 .max-layout-width .text {
    padding-right: 50%;
}

.section03 .max-layout-width .text > div {
    padding-right: 70px;
    position: relative;
}

.section03 .image_box_right {
    max-width: 1276px;
    height: 394px;
    width: 50%;
    z-index: 10;
    top: 7px;
}

.section03 .image_box_right .img {
    background: url(../../images/sub/tooth/scaling/scaling02.jpg) no-repeat center;
}

.section03 .section-title {
    padding-top: 87px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 92px;
    padding-left: 74px;
    /* letter-spacing: -1px; */
}

.section03 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    top: 0;
}

.section03 .section-text {
    word-break: keep-all;
    line-height: 1.7;
    position: relative;
    text-align: right;
}

.section03 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 76px;
    background: #7f6a57;
    top: -76px;
    right: 0;
}

.section03 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 217px;
    left: 0px;
    bottom: -54px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section05 {
    height: 431px;
    margin-top: 100px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.section05 .max-layout-width .text {
    padding-top: 134px;
}

.section05 .max-layout-width .text h2 {
    line-height: 1.4;
    margin-bottom: 50px;
    font-size: 39px;
}

.section05 .max-layout-width .text p {
    font-size: 17px;
}

.section05 .max-layout-width .text span {
    color: #b0a295;
}

.section05 .bg {
    width: 100%;
    height: 100%;
    background: url(../../images/sub/tooth/general/decay_bg.jpg) center top no-repeat fixed;
    padding-top: 159px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}

.section04 {
    margin-top: 195px;
}

.section04 .section-title {
    line-height: 1.3;
    margin-bottom: 81px;
    padding-top: 16px;
}

.section04 .section-text {
    line-height: 1.7;
    margin-bottom: 111px;
}

.section04 .image_box_left {
    max-width: 1315px;
    height: 325px;
    width: 51.52%;
    z-index: 1;
}

.section04 .img {
    background: url(../../images/sub/tooth/scaling/scaling03.jpg) no-repeat center;
}

.section04 .bg {
    width: 55.29%;
    position: absolute;
    height: 286px;
    right: 0px;
    bottom: -42px;
    background: #f5f5f5;
}

.section04 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section04 .pager {
    font-size: 16px;
    color: #222;
    padding: 9px 0;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: -1px;
}

.section04 .pager span {
    display: none;
    position: absolute;
}

.section04 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section04 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section04 .text {
    padding-left:50%;
}

.section04 .text > div {
    padding-left: 84px;
}

.section05 {
    height: 333px;
    margin-top: 179px;
}

.section05 .max-layout-width {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.section05 .max-layout-width .text {
    padding-top: 79px;
}

.section05 .max-layout-width .text h2 {
    line-height: 1.4;
    margin-bottom: 28px;
    font-size: 36px;
    letter-spacing: -2.5px;
}

.section05 .max-layout-width .text p {
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: -1px;
}

.section05 .max-layout-width .text span {
    color: #b0a295;
}

.section05 .bg {
    width: 100%;
    height: 100%;
    background: url(../../images/sub/tooth/scaling/scaling06.jpg) center top no-repeat fixed;
    padding-top: 159px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}

.section06 {
    padding-top: 114px;
    background: #f5f5f5;
    padding-bottom: 165px;
}

.section06 .section-title {
    line-height: 1.3;
    margin-bottom: 6px;
    font-size: 35px;
}

.section06 .section-text {
    line-height: 1.7;
    margin-bottom: 29px;
}

.section06 .image_box_left {
    max-width: 1315px;
    height: 380px;
    width: 50%;
    z-index: 1;
}

.section06 .img {
    background: url(../../images/sub/tooth/scaling/scaling04.jpg) no-repeat center;
}

.section06 .bg {
    width: 55.29%;
    position: absolute;
    height: 343px;
    right: 0px;
    bottom: -60px;
}

.section06 .max-layout-width {
    position: relative;
    z-index: 2;
}

.section06 .pager {
    font-size: 16px;
    color: #222;
    padding: 8px 0;
    position: relative;
    padding-left: 29px;
    display: inline-block;
    /* cursor: pointer; */
    letter-spacing: -1px;
}


.section06 .pager:before {
    position: absolute;
    left: 0;
    content: '';
    top: 9px;
    background: url(../../images/sub/orthodontics/malocculusion/check_icon.png) no-repeat center;
    width: 19px;
    height: 19px;
}


.section06 .pager span {
    display: none;
    position: absolute;
}

.section06 .pager.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.section06 .pager.active span {
    display: block;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    top: 7px;
}

.section06 .text {
    padding-left:50%;
}

.section06 .text > div {
    padding-left: 54px;
    padding-top: 19px;
}

.section09 {
    margin-top: 65px;
    text-align: center;
    margin-bottom: 85px;
}

.section09 .section-title {
    line-height: 1.3
}

.section09 ul {
    margin-top: 39px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section09 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section09 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section09 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section09 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section09 ul li p span:first-child {
    padding-top: 25px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section09 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 4px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section09 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.text-slider {
    /* margin-top: 112px; */
    /* padding-bottom: 41px; */
}

.section08 {
    margin-top: 77px;
}

.text-slider {
    margin-top: 104px;
    padding-bottom: 38px;
}

.text-slider .section-text {
    margin-bottom: 45px;
}


.text-slider .slick-slide .text p {
    line-height: 1.6;
    width: 324px;
    word-break: keep-all;
    letter-spacing:-1px;
}

.text-slider .slick-slide .text h2 {
    font-size: 31px;
    line-height: 1.35;
    margin-bottom: 55px;
    color: #222;
    letter-spacing: -1.5px;
}