.section01 {
    margin-top: 100px;
}

.section01 .text, .section01 .bg .max-layout-width {
    padding-left: 50%;
    max-width: inherit;
    box-sizing: border-box;
}

.section01 .text > div, .section01 .bg .max-layout-width > div {
    padding-left: 73px;
}

.section01 .bg .max-layout-width > div {
    width: 570px;
    word-break: keep-all;
}

.section01 .section-title {
    line-height: 1.25;
    display: inline-block;
}

.section01 .bg {
    margin-top: 43px;
    background: #f5f5f5;
    padding-top: 26px;
    padding-bottom: 234px;
}

.section01 .section-text {
    line-height: 1.6;
    letter-spacing: -1.5px;
}

.section01 .section-text:first-child {
    margin-bottom: 7px;
    letter-spacing: -1.5px;
}

.section01 .image_box_left {
    width: 50%;
    max-width: 1276px;
    height: 552px;
    top: -57px;
}

.section01 .img {
    background: url(../../images/sub/tooth/wisdom/wisdom01.jpg) no-repeat center;
}


.section02 {
    text-align: center;
    padding-top: 107px;
}

.section02 .section-title {
    margin-bottom: 49px;
}

.section02 ul {
    overflow: hidden;
    margin-left: -2%;
}

.section02 li {
    width: 23%;
    float: left;
    padding-top: 31px;
    padding-bottom: 30px;
    margin-left: 2%;
}

.section02 li {
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
}

.section02 li:first-child {
    /* border-left: 1px solid #c6c6c6; */
}

.section02 li p {
    line-height: 1.4;
    font-size: 17px;
    font-weight: 500;
    color: #222;
    margin-top: 13px;
    letter-spacing: -1px;
}

.section02 .img {
    width: 100%;
    height: 100px;
}

.section02 .img01 {
    background: url(../../images/sub/tooth/wisdom/wisdom_icon01.png) no-repeat top center;
}

.section02 .img02 {
    background: url(../../images/sub/tooth/wisdom/wisdom_icon02.png) no-repeat top center;
}

.section02 .img03 {
    background: url(../../images/sub/tooth/wisdom/wisdom_icon03.png) no-repeat top center;
}

.section02 .img04 {
    background: url(../../images/sub/tooth/wisdom/wisdom_icon04.png) no-repeat top center;
}

.section03 {
    margin-top: 123px;
}

.section03 .max-layout-width .text {
    padding-right: 50%;
}

.section03 .max-layout-width .text > div {
    padding-right: 90px;
    position: relative;
}

.section03 .image_box_right {
    max-width: 1276px;
    height: 394px;
    width: 50%;
    z-index: 10;
}

.section03 .image_box_right .img {
    background: url(../../images/sub/tooth/wisdom/wisdom02.jpg) no-repeat center;
}

.section03 .section-title {
    padding-top: 86px;
    position: relative;
    line-height: 1.25;
    margin-bottom: 101px;
    padding-left: 94px;
    letter-spacing: -1px;
}

.section03 .max-layout-width .text > div:before {
    background: url(../../images/sub/implant/digital/marks.png);
    content: '';
    width: 156px;
    height: 134px;
    position: absolute;
    top: 0;
}

.section03 .section-text {
    word-break: keep-all;
    line-height: 1.6;
    position: relative;
    text-align: right;
}

.section03 .section-text:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 70px;
    background: #7f6a57;
    top: -78px;
    right: 0;
}

.section03 .bg {
    background: #f5f5f5;
    width: 64.65%;
    position: absolute;
    height: 192px;
    left: 0px;
    bottom: -57px;
}

.section03 .max-layout-width {
    position: relative;
    z-index: 10;
}

.section04 ul {
    overflow: hidden;
    margin-left: -3%;
    margin-top: 39px;
}

.section04 ul li {
    width: 30.3333333333%;
    margin-left: 3%;
    float: left;
}

.section04 ul li img {
    width: 100%;
    margin-bottom: 30px;
}

.section04 ul li h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 17px;
    letter-spacing: -2px;
}

.section04 ul li p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    width: 320px;
    margin: 0 auto;
    color: #4f4f4f;
    letter-spacing: -1px;
}

.section04 {
    margin-top: 176px;
    text-align: center;
    margin-bottom: 92px;
}

.section07 {
    margin-top: 61px;
    text-align: center;
    margin-bottom: 80px;
}

.section07 .section-title {
    line-height: 1.3
}

.section07 ul {
    margin-top: 39px;
    margin-left: -3.07%;
    overflow: hidden;
}

.section07 ul li {
    width: 46.93%;
    float: left;
    margin-left: 3.07%;
    padding-top: 344px;
}

.section07 ul li:first-child {
    background: url(../../images/sub/implant/digital/digital20.jpg) no-repeat top center;
}

.section07 ul li.last-img {
    background: url(../../images/sub/implant/digital/digital21.jpg) no-repeat top center;
}

.section07 ul li p {
    height: 77px;
    background: #9b8b7e;
    padding-left: 42px;
    padding-right: 35px;
    text-align: left;
    position: relative;
}

.section07 ul li p span:first-child {
    padding-top: 25px;
    display: block;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.section07 ul li p span.view {
    position: absolute;
    right: 78px;
    top: 5px;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.section07 ul li p span.view:after {
    background: url(../../images/sub/implant/digital/digital_arrow.png) no-repeat top center;
    content: '';
    position: absolute;
    right: -47px;
    width: 33px;
    height: 17px;
    bottom: 0;
}

.left-fade-slider-container .img01 {
    background: url(../../images/sub/tooth/wisdom/wisdom06.jpg) no-repeat center;
}

.left-fade-slider-container .img02 {
    background: url(../../images/sub/tooth/wisdom/wisdom07.jpg) no-repeat center;
}

.left-fade-slider-container .img03 {
    background: url(../../images/sub/tooth/wisdom/wisdom08.jpg) no-repeat center;
}

.left-fade-slider-container .img04 {
    background: url(../../images/sub/tooth/wisdom/wisdom09.jpg) no-repeat center;
}

.section09 {
    /* margin-top: 104px; */
}

.left-fade-slider-container .bg {
    height: 280px;
    background: #9b8b7e;
    margin-top: 56px;
}

.left-fade-slider-container {
    margin-top: 109px;
}


.post-slider .text h2 {
    padding-top: 10px;
}

section.board-link {
    margin-top: 125px;
}

.board-link {
    margin-bottom: 127px;
}


.section-text {

    padding-top: 12px;
}

.board-link .section-title {
    line-height: 1.25;
}

.left-fade-slider-container {
    margin-top: 187px;
}

@media screen and (max-width: 640px) {
    .left-fade-slider-container {
        margin-top: 20px;
        background: #fff;
        padding-top: 60px;
    }
    section.section-quotes-title-right .bg {
        height: 167px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 220px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 202px;
    }
    .section03 .image_box_right .img {
        background-size: contain;
    }
    .section02 ul {
        padding: 0 30px;
        box-sizing: border-box;
    }
    .section02 li {
        width: 48%;
        margin-bottom: 20px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 414px) {
    section.section-quotes-title-right .bg {
        height: 201px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 150px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 130px;
    }
    .section02 li p {
        font-size: 14px;
    }
    .section02 .img {
        height: 70px;
        background-size: contain;
    }
    .section02 .section-title {
        font-size: 30px;
    }
    body .section-top-title-left .section-title {
        font-size: 30px;
    }
    section.section-top-title-left {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 375px) {
    section.section-quotes-title-right .bg {
        height: 201px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 140px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 119px;
    }
    .section02 li p {
        font-size: 13px;
    }
    body .section-top-title-left .section-title {
        font-size: 30px;
    }
    section.section-top-title-left {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    section.section-quotes-title-right .bg {
        height: 213px;
    }
    section.section-quotes-title-right .max-layout-width .text {
        padding-top: 130px;
    }
    section.section-quotes-title-right .image_box_right {
        height: 112px;
    }
    body .section-top-title-left .section-title {
        font-size: 30px;
    }
    section.section-top-title-left {
        padding-bottom: 20px;
    }
}